@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';

:root {
  --popover-border-radius: calc(0.4 * var(--unit));
  --popover-box-shadow: 0 0 0 1px color(var(--color-teal-dark) a(20%));
}

.wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition: opacity 0.2s ease-out;
}

.popover {
  composes: box-shadow-200;
  border-radius: var(--popover-border-radius);
  opacity: 0;
  position: absolute;
  transition: opacity var(--animation-duration) var(--animation-curve-default);
  max-width: 50vw;
  display: flex;
  z-index: 2;
}

.is-entering .popover {
  opacity: 0;
}

.is-entered .popover {
  opacity: 1;
}

.inner {
  background: var(--color-white);
  border: 1px solid;
  border-radius: var(--popover-border-radius);
  position: relative;
  min-height: calc(2.4 * var(--unit));
  min-width: calc(2.4 * var(--unit));
}

.neutral {
  &.lightest {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-neutral-lightest) lightness(-12%));
    }
    .inner {
      background-color: var(--color-neutral-lightest);
      border-color: var(--color-neutral-lightest);
    }
  }

  &.light {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-neutral-light) lightness(-12%));
    }
    .inner {
      background-color: var(--color-neutral-light);
      border-color: var(--color-neutral-light);
    }
  }

  &.normal {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-neutral) lightness(-12%));
    }
    .inner {
      background-color: var(--color-neutral);
      border-color: var(--color-neutral);
    }
  }

  &.dark {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-neutral-dark) lightness(-12%));
    }
    .inner {
      background-color: var(--color-neutral-dark);
      border-color: var(--color-neutral-dark);
    }
  }

  &.darkest {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-neutral-darkest) lightness(-12%));
    }
    .inner {
      background-color: var(--color-neutral-darkest);
      border-color: var(--color-neutral-darkest);
    }
  }
}

.teal {
  &.lightest {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-teal-lightest) lightness(-12%));
    }
    .inner {
      background-color: var(--color-teal-lightest);
      border-color: var(--color-teal-lightest);
    }
  }

  &.light {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-teal-light) lightness(-12%));
    }
    .inner {
      background-color: var(--color-teal-light);
      border-color: var(--color-teal-light);
    }
  }

  &.normal {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-teal) lightness(-12%));
    }
    .inner {
      background-color: var(--color-teal);
      border-color: var(--color-teal);
    }
  }

  &.dark {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-teal-dark) lightness(-12%));
    }
    .inner {
      background-color: var(--color-teal-dark);
      border-color: var(--color-teal-dark);
    }
  }

  &.darkest {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-teal-darkest) lightness(-12%));
    }
    .inner {
      background-color: var(--color-teal-darkest);
      border-color: var(--color-teal-darkest);
    }
  }
}

.mint {
  &.lightest {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-mint-lightest) lightness(-12%));
    }
    .inner {
      background-color: var(--color-mint-lightest);
      border-color: var(--color-mint-lightest);
    }
  }

  &.light {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-mint-light) lightness(-12%));
    }
    .inner {
      background-color: var(--color-mint-light);
      border-color: var(--color-mint-light);
    }
  }

  &.normal {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-mint) lightness(-12%));
    }
    .inner {
      background-color: var(--color-mint);
      border-color: var(--color-mint);
    }
  }

  &.dark {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-mint-dark) lightness(-12%));
    }
    .inner {
      background-color: var(--color-mint-dark);
      border-color: var(--color-mint-dark);
    }
  }

  &.darkest {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-mint-darkest) lightness(-12%));
    }
    .inner {
      background-color: var(--color-mint-darkest);
      border-color: var(--color-mint-darkest);
    }
  }
}

.ruby {
  &.lightest {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-ruby-lightest) lightness(-12%));
    }
    .inner {
      background-color: var(--color-ruby-lightest);
      border-color: var(--color-ruby-lightest);
    }
  }

  &.light {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-ruby-light) lightness(-12%));
    }
    .inner {
      background-color: var(--color-ruby-light);
      border-color: var(--color-ruby-light);
    }
  }

  &.normal {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-ruby) lightness(-12%));
    }
    .inner {
      background-color: var(--color-ruby);
      border-color: var(--color-ruby);
    }
  }

  &.dark {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-ruby-dark) lightness(-12%));
    }
    .inner {
      background-color: var(--color-ruby-dark);
      border-color: var(--color-ruby-dark);
    }
  }

  &.darkest {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-ruby-darkest) lightness(-12%));
    }
    .inner {
      background-color: var(--color-ruby-darkest);
      border-color: var(--color-ruby-darkest);
    }
  }
}

.aqua {
  &.lightest {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-aqua-lightest) lightness(-12%));
    }
    .inner {
      background-color: var(--color-aqua-lightest);
      border-color: var(--color-aqua-lightest);
    }
  }

  &.light {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-aqua-light) lightness(-12%));
    }
    .inner {
      background-color: var(--color-aqua-light);
      border-color: var(--color-aqua-light);
    }
  }

  &.normal {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-aqua) lightness(-12%));
    }
    .inner {
      background-color: var(--color-aqua);
      border-color: var(--color-aqua);
    }
  }

  &.dark {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-aqua-dark) lightness(-12%));
    }
    .inner {
      background-color: var(--color-aqua-dark);
      border-color: var(--color-aqua-dark);
    }
  }

  &.darkest {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-aqua-darkest) lightness(-12%));
    }
    .inner {
      background-color: var(--color-aqua-darkest);
      border-color: var(--color-aqua-darkest);
    }
  }
}

.violet {
  &.lightest {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-violet-lightest) lightness(-12%));
    }
    .inner {
      background-color: var(--color-violet-lightest);
      border-color: var(--color-violet-lightest);
    }
  }

  &.light {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-violet-light) lightness(-12%));
    }
    .inner {
      background-color: var(--color-violet-light);
      border-color: var(--color-violet-light);
    }
  }

  &.normal {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-violet) lightness(-12%));
    }
    .inner {
      background-color: var(--color-violet);
      border-color: var(--color-violet);
    }
  }

  &.dark {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-violet-dark) lightness(-12%));
    }
    .inner {
      background-color: var(--color-violet-dark);
      border-color: var(--color-violet-dark);
    }
  }

  &.darkest {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-violet-darkest) lightness(-12%));
    }
    .inner {
      background-color: var(--color-violet-darkest);
      border-color: var(--color-violet-darkest);
    }
  }
}

.gold {
  &.lightest {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-gold-lightest) lightness(-12%));
    }
    .inner {
      background-color: var(--color-gold-lightest);
      border-color: var(--color-gold-lightest);
    }
  }

  &.light {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-gold-light) lightness(-12%));
    }
    .inner {
      background-color: var(--color-gold-light);
      border-color: var(--color-gold-light);
    }
  }

  &.normal {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-gold) lightness(-12%));
    }
    .inner {
      background-color: var(--color-gold);
      border-color: var(--color-gold);
    }
  }

  &.dark {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-gold-dark) lightness(-12%));
    }
    .inner {
      background-color: var(--color-gold-dark);
      border-color: var(--color-gold-dark);
    }
  }

  &.darkest {
    .popover {
      box-shadow: 0 0 0 1px color(var(--color-gold-darkest) lightness(-12%));
    }
    .inner {
      background-color: var(--color-gold-darkest);
      border-color: var(--color-gold-darkest);
    }
  }
}
