.wrapper {
  box-shadow: inset 0 0 0 1px hsl(var(--color-neutral-darkest-hsl) / 12%);
  max-width: 100%;
  height: var(--size);
  border-radius: calc(var(--size) / 2);

  &.has-default-background-color {
    background-color: hsl(var(--color-neutral-darkest-hsl) / 12%);
  }
}

.remove-button {
  border-radius: 50%;
  min-width: initial;
  height: var(--size);
  width: var(--size);
}

.is-small {
  --size: 18px;
}

.is-medium {
  --size: 24px;
}

.is-large {
  --size: 30px;
}
