@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';
@import '@teamleader/ui-typography';

.select {
  composes: reset-font-smoothing;
  font-family: var(--font-family-regular);
  font-size: calc(1.4 * var(--unit));
  border-color: var(--color-neutral-dark);
  max-width: 360px;
}

.dropdown-indicator {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 20px;
}

.validation-icon {
  margin-top: -1px;
}

.has-error {
  &:not(.is-inverse) .validation-text {
    color: var(--color-ruby-dark);
  }

  &.is-inverse .validation-text {
    color: var(--color-ruby-light);
  }
}
