@import '../colors.css';
@import '../variables.css';
@import './config.css';

.loading-molecule {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-solid {
  animation: hideshow 2s ease infinite;
  animation-delay: 0.15s;
}

.left-gradient {
  animation: hideshow 2s ease infinite;
  animation-delay: 0.3s;
}

.right-solid {
  animation: hideshow 2s ease infinite;
  animation-delay: 0.45s;
}

.right-gradient {
  animation: hideshow 2s ease infinite;
  animation-delay: 0.6s;
}

.small {
  transform: scale(.5);
}

.large {
  transform: scale(1.5);
}

@keyframes hideshow {
  0% { opacity: .25; }
  25% { opacity: .25; }
  35% { opacity: 1; }
  55% { opacity: 1; }
  75% { opacity: .25; }
  100% { opacity: .25; }
}

