@import '../colors.css';
@import '../variables.css';
@import './config.css';

.loading-molecule {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.left-solid {
  animation: pulse var(--loading-molecule-animation-duration) ease infinite;
  animation-delay: var(--loading-molecule-animation-delay);
}

.left-gradient {
  animation: pulse var(--loading-molecule-animation-duration) ease infinite;
  animation-delay: calc(2 * var(--loading-molecule-animation-delay));
}

.right-solid {
  animation: pulse var(--loading-molecule-animation-duration) ease infinite;
  animation-delay: calc(3 * var(--loading-molecule-animation-delay));
}

.right-gradient {
  animation: pulse var(--loading-molecule-animation-duration) ease infinite;
  animation-delay: calc(4 * var(--loading-molecule-animation-delay));
}

.small svg {
  transform: scale(var(--loading-moledule-scale-small));
}

.large svg {
  transform: scale(var(--loading-moledule-scale-large));
}

@keyframes pulse {
  0% { opacity: .25; }
  25% { opacity: .25; }
  35% { opacity: 1; }
  55% { opacity: 1; }
  75% { opacity: .25; }
  100% { opacity: .25; }
}

