@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';
@import '@teamleader/ui-utilities';

:root {
  --ellipsis-min-width: calc(3 * var(--unit));
}

.pagination {
  .is-current {
    background: var(--color-neutral);
    color: var(--color-teal-darkest);
  }

  .ellipsis {
    color: var(--color-teal-darkest);
  }
}

.list {
  align-items: center;
  display: inline-flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.list-item {
  margin: 0 var(--spacer-smallest);
  min-width: 36px;
  display: flex;
  > * {
    transition: none;
    text-decoration: none;
    flex: 1;
    padding: 0!important;
  }

  &__arrowed {
    width: 30px;
    min-width: 0;
  }
}

.is-current {
  font-family: var(--font-family-inter);
  font-weight: 500;
  pointer-events: none;
}

.ellipsis {
  display: inline-flex;
  justify-content: center;
  min-width: var(--ellipsis-min-width);
}
