.reset-box-sizing {
  box-sizing: border-box;
}
.reset-font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.reset {
  composes: reset-box-sizing;
  composes: reset-font-smoothing;
}
/* Box-shadows */
.box-shadow-100:before {
  border-radius: 4px;
  bottom: 1px;
  box-shadow: 0 1px 1px 0 rgba(42, 59, 77, 0.12);
  content: '';
  left: 1px;
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: -1;
}
.box-shadow-200:before {
  border-radius: 4px;
  bottom: 2px;
  box-shadow: 0 4px 6px 0 rgba(42, 59, 77, 0.32);
  content: '';
  left: 2px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: -1;
}
.box-shadow-300:before {
  border-radius: 4px;
  bottom: 4px;
  box-shadow: 0 8px 10px 0 rgba(42, 59, 77, 0.32);
  content: '';
  left: 4px;
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: -1;
}
.box-shadow-400:before {
  border-radius: 4px;
  bottom: 8px;
  box-shadow: 0 24px 32px 0 rgba(42, 59, 77, 0.42);
  content: '';
  left: 8px;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: -1;
}
/* Orientation */
/* Devices (defined by max width) */
/* Devices (defined by min-width) */
@font-face {
  font-display: swap;
  font-family: 'Inter-UI-Regular';
  src: url('https://static.teamleader.eu/fonts/Inter-UI-Regular.woff2') format('woff2'),
    url('https://static.teamleader.eu/fonts/Inter-UI-Regular.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter-UI-Medium';
  src: url('https://static.teamleader.eu/fonts/Inter-UI-Medium.woff2') format('woff2'),
    url('https://static.teamleader.eu/fonts/Inter-UI-Medium.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter-UI-Bold';
  src: url('https://static.teamleader.eu/fonts/Inter-UI-Bold.woff2') format('woff2'),
    url('https://static.teamleader.eu/fonts/Inter-UI-Bold.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter-UI-Black';
  src: url('https://static.teamleader.eu/fonts/Inter-UI-Black.woff2') format('woff2'),
    url('https://static.teamleader.eu/fonts/Inter-UI-Black.woff') format('woff');
}
.heading,
.text {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.text strong {
  font-family: 'Inter-UI-Bold', trebuchet ms, Verdana, 'Arial', sans-serif;
  font-weight: normal;
}
.heading-1 {
  font-family: 'Inter-UI-Bold', trebuchet ms, Verdana, 'Arial', sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
}
.heading-2 {
  font-family: 'Inter-UI-Medium', trebuchet ms, Verdana, 'Arial', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}
.heading-3 {
  font-family: 'Inter-UI-Medium', trebuchet ms, Verdana, 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
}
.heading-4 {
  font-family: 'Inter-UI-Bold', trebuchet ms, Verdana, 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.heading a {
  text-decoration: none;
}
.heading a:hover {
  text-decoration: underline;
}
.text-display {
  font-family: 'Inter-UI-Regular', trebuchet ms, Verdana, 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.text-body {
  font-family: 'Inter-UI-Regular', trebuchet ms, Verdana, 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
}
.text-small {
  font-family: 'Inter-UI-Regular', trebuchet ms, Verdana, 'Arial', sans-serif;
  font-size: 12px;
  line-height: 18px;
}
.monospaced {
  -webkit-font-feature-settings: 'tnum' on;
  font-feature-settings: 'tnum' on;
}
.counter {
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-family: 'Inter-UI-Bold', trebuchet ms, Verdana, 'Arial', sans-serif;
  font-size: 12px;
  line-height: 1;
  vertical-align: middle;
}
.medium {
  padding: 6px;
}
.small {
  padding: 3px 6px;
}
.neutral {
  background-color: #82828c;
}
.mint {
  background-color: #008a8c;
}
.violet {
  background-color: #6961ff;
}
.teal {
  background-color: #344b63;
}
.ruby {
  background-color: #e84b17;
}
.gold {
  background-color: #ed9e00;
}
.aqua {
  background-color: #0071f2;
}
.border-neutral {
  border: 1px solid #e4e4e6;
}
.border-neutral-darkest {
  border: 1px solid #82828c;
}
.border-neutral-dark {
  border: 1px solid #c0c0c4;
}
.border-neutral-light {
  border: 1px solid #f7f7fa;
}
.border-neutral-lightest {
  border: 1px solid #ffffff;
}
.border-mint {
  border: 1px solid #00b2b2;
}
.border-mint-darkest {
  border: 1px solid #004b4d;
}
.border-mint-dark {
  border: 1px solid #008a8c;
}
.border-mint-light {
  border: 1px solid #57d3d2;
}
.border-mint-lightest {
  border: 1px solid #d3f2f2;
}
.border-violet {
  border: 1px solid #928cff;
}
.border-violet-darkest {
  border: 1px solid #130abf;
}
.border-violet-dark {
  border: 1px solid #6961ff;
}
.border-violet-light {
  border: 1px solid #d3d1fe;
}
.border-violet-lightest {
  border: 1px solid #f0f0ff;
}
.border-ruby {
  border: 1px solid #ff7040;
}
.border-ruby-darkest {
  border: 1px solid #992600;
}
.border-ruby-dark {
  border: 1px solid #e84b17;
}
.border-ruby-light {
  border: 1px solid #ffbca6;
}
.border-ruby-lightest {
  border: 1px solid #ffe2d9;
}
.border-gold {
  border: 1px solid #ffcc66;
}
.border-gold-darkest {
  border: 1px solid #8f3c00;
}
.border-gold-dark {
  border: 1px solid #ed9e00;
}
.border-gold-light {
  border: 1px solid #ffda8f;
}
.border-gold-lightest {
  border: 1px solid #ffeecc;
}
.border-aqua {
  border: 1px solid #99c9ff;
}
.border-aqua-darkest {
  border: 1px solid #004da6;
}
.border-aqua-dark {
  border: 1px solid #0071f2;
}
.border-aqua-light {
  border: 1px solid #cce4ff;
}
.border-aqua-lightest {
  border: 1px solid #e6f2ff;
}
.border-teal {
  border: 1px solid #64788f;
}
.border-teal-darkest {
  border: 1px solid #2a3b4d;
}
.border-teal-dark {
  border: 1px solid #344b63;
}
.border-teal-light {
  border: 1px solid #c1cede;
}
.border-teal-lightest {
  border: 1px solid #e1ecfa;
}
