@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';

.banner {
  display: flex;
  align-items: baseline;
}

.icon {
  margin-right: var(--spacer-small);
}

.content {
  flex: 1;
}

.white,
.neutral {
  color: var(--color-teal-darkest);
}

.mint {
  color: var(--color-mint-darkest);
}

.violet {
  color: var(--color-violet-darkest);
}

.ruby {
  color: var(--color-ruby-darkest);
}

.gold {
  color: var(--color-gold-darkest);
}

.aqua {
  color: var(--color-aqua-darkest);
}
