@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';
@import '@teamleader/ui-animations';

.progress-tracker {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 24px;
}

.progress-step {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 180px;
  position: relative;

  &:before {
    content: '';
    height: 2px;
    position: absolute;
    bottom: 11px;
  }

  &:after {
    content: '';
    height: 4px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transition: width var(--animation-duration) var(--animation-curve-default);
    width: 0;
    z-index: 1;
  }

  &:not(:first-child):not(:last-child) {
    &:before {
      width: 100%;
      left: 0;
    }
  }

  &:first-child {
    &:before {
      width: 50%;
      left: 50%;
    }
  }

  &:last-child {
    &:before {
      width: 50%;
      left: 0;
    }
  }

  &.is-completed:not(:last-child) {
    &:after {
      width: 100%;
    }
  }

  .status-bullet {
    background-color: transparent;
    transition: background-color .1s var(--animation-curve-default) calc(var(--animation-duration) - .1s);
    align-self: center;
    border-radius: 50%;
    display: block;
    height: 12px;
    margin: 6px 0;
    width: 12px;
    z-index: 2;
    position: relative;
    &:before {
      background-color: transparent;
      transition: background-color 6s var(--animation-curve-default) calc(var(--animation-duration) - .1s);
      border-radius: 50%;
      content: '';
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .progress-step__label {
    font-family: var(--font-family-regular);
    opacity: .5;
    text-align: center;
    transition: font-family .1s var(--animation-curve-default) calc(var(--animation-duration) - .1s), opacity .1s var(--animation-curve-default) calc(var(--animation-duration) - .1s);
    &:hover {
      cursor: normal;
    }
  }

  &.is-active {
    .progress-step__label {
      font-family: var(--font-family-medium);
    }
    .status-bullet {
      &:before {
        animation: showBulletCenter .1s calc(var(--animation-duration) - .1s) forwards;
      }
    }
  }

  &.is-completed,
  &.is-active {
    .progress-step__label {
      opacity: 1;
    }
  }

}

@each $color in (mint, violet, gold, ruby, aqua) {
  .$(color) {
    .progress-step__label {
      color: var(--color-$(color)-darkest);
    }

    &.progress-step {
      &:before {
        background-color: var(--color-$(color));
      }
      &:after {
        background-color: var(--color-$(color)-dark);
      }

      &.is-completed,
      &.is-active {
        .status-bullet {
          background-color: var(--color-$(color)-dark);
        }
      }

      &:not(.is-completed):not(.is-active) {
        .status-bullet {
          background-color: var(--color-$(color));
        }
      }
    }
  }
}

.neutral {
  .progress-step__label {
    color: var(--color-black);
  }

  &.progress-step {
    &:before {
      background-color: var(--color-neutral);
    }
    &:after {
      background-color: var(--color-neutral-darkest);
    }

    &.is-active,
    &.is-completed {
      .status-bullet {
        background-color: var(--color-neutral-darkest);
      }

    }
    &:not(.is-completed):not(.is-active) {
      .status-bullet {
        background-color: var(--color-neutral);
      }
    }
  }
}

@keyframes showBulletCenter {
  0%   {background-color: transparent;}
  100% {background-color: var(--color-white);}
}
