@import '@teamleader/ui-colors';

.progress-tracker {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.progress-step {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 180px;
  position: relative;

  &:not(:first-child):not(:last-child) {
    &:before {
      width: 100%;
      left: 0;
    }
    &:after {
      left: 0;
    }
  }

  &:first-child {
    &:before {
      width: 50%;
      left: 50%;
    }
    &:after {
      left: 50%;
    }
  }

  &:last-child {
    &:before {
      width: 50%;
      right: 50%;
    }
    &:after {
      right: 50%;
    }
  }

  &:before {
    content: '';
    height: 2px;
    position: absolute;
    bottom: 11px;
  }

  &:after {
    content: '';
    height: 4px;
    position: absolute;
    bottom: 10px;
  }

  &.is-active:not(:first-child) {
    &:after {
      width: 50%;
    }
  }

  &.is-completed {
    &:after {
      width: 100%;
    }
  }

  &:not(.is-active):not(.is-completed) {
    .progress-step__label {
      opacity: 0.5;
    }
  }
}

.status-bullet {
  align-self: center;
  border-radius: 50%;
  display: block;
  height: 12px;
  margin: 6px 0;
  width: 12px;
  z-index: 1;
  position: relative;
}
@each $color in (neutral, mint, violet, gold, ruby, aqua) {
  .$(color) {
    .progress-step__label {
      color: var(--color-$(color)-darkest);
      font-weight: 500;
    }

    &.progress-step {
      &:before {
        background-color: var(--color-$(color));
      }
      &:after {
        background-color: var(--color-$(color)-dark);
      }

      &.is-completed {
        .status-bullet {
          background-color: var(--color-$(color)-dark);
        }
      }

      &.is-active {
        .status-bullet {
          background-color: var(--color-$(color)-dark);
          &:before {
            background-color: var(--color-white);
            border-radius: 50%;
            content: '';
            display: block;
            position: absolute;
            width: 6px;
            height: 6px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      &:not(.is-completed):not(.is-active) {
        .status-bullet {
          background-color: var(--color-$(color));
        }
      }
    }
  }

  .is-completed {
  }
}
