@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';

:root {
  --checkbox-border-width: 1px;

  --checkbox-shape-size-small: 18px;
  --checkbox-shape-size-medium: 24px;
  --checkbox-shape-size-large: 30px;

  --checkbox-shape-inner-size-small: 10px;
  --checkbox-shape-inner-size-medium: 12px;
  --checkbox-shape-inner-size-large: 18px;
}

.radiobutton {
  align-items: flex-start;
  display: flex;
  user-select: none;

  .input {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 0;
  }

  .shape {
    box-sizing: border-box;
    background: var(--color-neutral-lightest);
    border: var(--checkbox-border-width) solid var(--color-neutral-dark);
    border-radius: 100%;
    color: var(--color-white);
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &::before {
      box-sizing: border-box;
      background-color: var(--color-neutral-lightest);
      border-radius: 50%;
      border: 1px solid var(--color-mint-darkest);
      content: '';
      display: inline-block;
      height: 100%;
      transform: scale(0);
      transition: transform var(--animation-duration) var(--animation-curve-default);
      width: 100%;
    }
  }

  &:hover {
    .shape {
      background-color: var(--color-neutral);
      border-color: var(--color-neutral-darkest);
    }
  }

  &.is-checked {
    .shape {
      background: var(--color-mint);
      border-color: var(--color-mint-dark);

      &::before {
        transform: scale(1);
      }
    }

    &:hover .shape {
      background: var(--color-mint-dark);
      border-color: var(--color-mint-darkest);
    }

    input:focus + .shape {
      box-shadow: inset 0 0 0 1px var(--color-mint-darkest);
      border-color: var(--color-mint-darkest);
    }

    input:active + .shape {
      box-shadow: inset 0 1px 3px 0 var(--color-mint-darkest);
    }
  }

  &.is-disabled {
    pointer-events: none;

    .shape {
      background: var(--color-neutral);
      border-color: transparent;

      &:before {
        background: var(--color-neutral-light);
        border: none;
      }
    }
  }

  input:focus + .shape {
    border-color: var(--color-neutral-darkest);
    box-shadow: inset 0 0 0 1px var(--color-neutral-darkest);
  }

  input:active + .shape {
    box-shadow: inset 0 1px 3px 0 var(--color-neutral-darkest);
  }

  &.is-small {
    .label {
      margin-left: var(--spacer-smaller);
    }

    .shape {
      width: var(--checkbox-shape-size-small);
      height: var(--checkbox-shape-size-small);

      &:before {
        width: var(--checkbox-shape-inner-size-small);
        height: var(--checkbox-shape-inner-size-small);
      }
    }
  }

  &.is-medium {
    .label {
      margin-left: var(--spacer-small);
      padding-top: 2px;
    }

    .shape {
      width: var(--checkbox-shape-size-medium);
      height: var(--checkbox-shape-size-medium);

      &:before {
        width: var(--checkbox-shape-inner-size-medium);
        height: var(--checkbox-shape-inner-size-medium);
      }
    }
  }

  &.is-large {
    .label {
      margin-left: var(--spacer-small);
      padding-top: 4px;
    }

    .shape {
      width: var(--checkbox-shape-size-large);
      height: var(--checkbox-shape-size-large);

      &:before {
        width: var(--checkbox-shape-inner-size-large);
        height: var(--checkbox-shape-inner-size-large);
      }
    }
  }
}
