.radiobutton {
  align-items: flex-start;
  display: flex;
  user-select: none;

  .input {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    margin: 0;
  }

  .label {
    margin-left: var(--spacer-small);
  }

  .shape {
    box-sizing: border-box;
    background: var(--color-neutral-lightest);
    border: 1px solid var(--color-neutral-dark);
    border-radius: 100%;
    color: var(--color-white);
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--shape-size);
    height: var(--shape-size);

    &::before {
      box-sizing: border-box;
      background-color: var(--color-neutral-lightest);
      border-radius: 50%;
      border: 1px solid var(--color-mint-darkest);
      content: '';
      display: inline-block;
      height: 100%;
      transform: scale(0);
      transition: transform var(--animation-duration) var(--animation-curve-default);
      width: var(--shape-inner-size);
      height: var(--shape-inner-size);
    }
  }

  &:hover {
    .shape {
      background-color: var(--color-neutral);
      border-color: var(--color-neutral-darkest);
    }
  }

  &.is-checked {
    .shape {
      background: var(--color-mint);
      border-color: var(--color-mint-dark);

      &::before {
        transform: scale(1);
      }
    }

    &:hover .shape {
      background: var(--color-mint-dark);
      border-color: var(--color-mint-darkest);
    }

    input:focus-visible + .shape {
      box-shadow: inset 0 0 0 1px var(--color-mint-darkest);
      border-color: var(--color-mint-darkest);
    }

    input:active + .shape {
      box-shadow: inset 0 1px 3px 0 var(--color-mint-darkest);
    }
  }

  &.is-disabled {
    pointer-events: none;

    .shape {
      background: var(--color-neutral);
      border-color: transparent;

      &:before {
        background: var(--color-neutral-light);
        border: none;
      }
    }
  }

  input:focus-visible + .shape {
    border-color: var(--color-neutral-darkest);
    box-shadow: inset 0 0 0 1px var(--color-neutral-darkest);
  }

  input:active + .shape {
    box-shadow: inset 0 1px 3px 0 var(--color-neutral-darkest);
  }

  &.is-small {
    --shape-size: 18px;
    --shape-inner-size: 10px;
  }

  &.is-medium {
  --shape-size: 24px;
  --shape-inner-size: 12px;

    .label {
      padding-top: var(--spacer-smallest);
    }
  }

  &.is-large {
  --shape-size: 30px;
  --shape-inner-size: 18px;

    .label {
      padding-top: var(--spacer-smallest);
    }
  }
}
