@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';
@import '@teamleader/ui-animations';

/**
 * Variables
 */
:root {
  --input-height-large: calc(4.6 * var(--unit));
  --input-height-medium: calc(3.4 * var(--unit));
  --input-height-small: calc(2.8 * var(--unit));
  --input-horizontal-padding: calc(0.5 * var(--unit));
  --input-text-size: calc(1.4 * var(--unit));
  --input-text-size-large: calc(1.6 * var(--unit));
  --input-border-radius: calc(0.4 * var(--unit));
  --input-error-border: var(--color-ruby-dark);
  --input-error-border-inverse: var(--color-ruby-light);
  --input-success-border: var(--color-mint-dark);
  --input-success-border-inverse: var(--color-mint-light);
  --input-warning-border: var(--color-gold-dark);
  --input-warning-border-inverse: var(--color-gold-light);

  --spinner-width: calc(1.8 * var(--unit));
  --spinner-width-large: calc(3.6 * var(--unit));

  --textarea-large-min-height: calc(20.2 * var(--unit));
  --textarea-medium-min-height: calc(15.4 * var(--unit));
  --textarea-small-min-height: calc(10.6 * var(--unit));

  --textarea-large-vertical-padding: calc(1.1 * var(--unit));
  --textarea-medium-vertical-padding: calc(0.5 * var(--unit));
  --textarea-small-vertical-padding: calc(0.2 * var(--unit));
}

/**
 * Components
 */

.wrapper,
.input {
  width: 100%;
  border-radius: var(--input-border-radius);
}

/*
  Default styling
*/

.wrapper .input-inner-wrapper,
.input {
  border: 1px solid var(--color-neutral-dark);
  background-color: var(--color-white);
}

/* Hover state */
.wrapper:hover .input-inner-wrapper,
.input:hover {
  border-color: var(--color-neutral-darkest);
}

/* Focus state */
.wrapper.has-focus .input-inner-wrapper {
  z-index: 1;
}

.wrapper.has-focus .input-inner-wrapper,
.input:focus {
  border-color: var(--color-neutral-darkest);
  box-shadow: 0 0 0 1px var(--color-neutral-darkest);
}

/* Active state */
.wrapper:active .input-inner-wrapper,
.input:active {
  border-color: var(--color-neutral-darkest);
  box-shadow: inset 0 1px 3px 0 rgba(130, 130, 140, 0.48);
}

/* Disabled and Read-only state */
.wrapper.is-disabled .input-inner-wrapper,
.wrapper.is-read-only .input-inner-wrapper,
.input:disabled,
.input:read-only {
  background-color: var(--color-neutral);
  border-color: var(--color-neutral);
  box-shadow: none;
}

/*
  Inverse styling
*/

.wrapper.is-inverse .input-inner-wrapper,
.input.is-inverse {
  background: var(--color-teal);
  border-color: var(--color-teal);
}

/* Hover state */
.wrapper.is-inverse:hover .input-inner-wrapper,
.input.is-inverse:hover {
  border-color: var(--color-teal-light);
}

/* Focus state */
.wrapper.is-inverse.has-focus .input-inner-wrapper,
.input.is-inverse:focus {
  border-color: var(--color-teal-light);
  box-shadow: 0 0 0 1px var(--color-teal-light);
}

/* Active state */
.wrapper.is-inverse:active .input-inner-wrapper,
.input.is-inverse:active {
  border-color: var(--color-teal-light);
  box-shadow: inset 0 1px 3px 0 color(var(--color-teal-darkest) a(0.48));
}

/* Disabled and Read-only state */
.wrapper.is-inverse.is-disabled .input-inner-wrapper,
.wrapper.is-inverse.is-read-only .input-inner-wrapper,
.input.is-inverse:disabled,
.input.is-inverse:read-only {
  background-color: var(--color-teal-dark);
  border-color: var(--color-teal-dark);
  box-shadow: none;
}

.input-wrapper {
  display: flex;

  > * {
    border-radius: 0;
  }

  > *:first-child {
    border-top-left-radius: var(--input-border-radius);
    border-bottom-left-radius: var(--input-border-radius);
  }

  > *:last-child {
    border-top-right-radius: var(--input-border-radius);
    border-bottom-right-radius: var(--input-border-radius);
  }
}

.input-inner-wrapper,
.input {
  transition: 0.3s ease-in-out border, 0.3s ease-in-out box-shadow;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.input-inner-wrapper {
  display: flex;
  align-items: center;
}

.input,
.input::placeholder {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-size-adjust: 100%;
}

.input {
  box-sizing: border-box;

  color: var(--color-teal-darkest);

  &::placeholder {
    color: var(--color-neutral-darkest);
  }

  &:-ms-input-placeholder {
    color: var(--color-neutral-darkest);
  }

  height: var(--input-height-medium);
  width: 100%;
  padding: 0 var(--input-horizontal-padding);

  font-size: var(--input-text-size);
  font-family: var(--font-family-regular);

  &[type='number'] {
    -moz-appearance: textfield;
  }

  &[type='number']::-webkit-outer-spin-button,
  &[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &.is-inverse {
    color: var(--color-neutral-lightest);

    &::placeholder {
      color: var(--color-teal-light);
    }

    &:-ms-input-placeholder {
      color: var(--color-teal-light);
    }

    &:disabled {
      color: var(--color-teal);

      &::placeholder {
        color: var(--color-teal);
      }

      &:-ms-input-placeholder {
        color: var(--color-teal);
      }
    }
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    color: var(--color-neutral-darkest);
  }

  &.is-bold {
    font-family: var(--font-family-medium);
  }
}

/* Remove all default input styling, when wrapped with prefix and/or suffix */
.wrapper .input-wrapper .input-inner-wrapper .input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
}

.prefix-wrapper,
.suffix-wrapper {
  align-items: center;
  display: flex;

  height: 100%;

  > * {
    white-space: nowrap;
  }
}

.prefix-wrapper {
  padding-left: var(--input-horizontal-padding);

  > * {
    margin-right: var(--input-horizontal-padding);
  }
}

.suffix-wrapper {
  padding-right: var(--input-horizontal-padding);

  > * {
    margin-left: var(--input-horizontal-padding);
  }
}

.spinner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: var(--input-height-medium);
  justify-content: center;
  width: var(--spinner-width);
}

.spinner-up,
.spinner-down {
  background: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: default;
    opacity: 0.24;
  }
}

.textarea {
  height: 100%;
  overflow: auto;
  min-height: var(--textarea-medium-min-height);
  padding-top: var(--textarea-medium-vertical-padding);
  padding-bottom: var(--textarea-medium-vertical-padding);
  resize: vertical;
}

/**
 * Modifiers
 */
.is-disabled {
  .input,
  .spinner-up,
  .spinner-down {
    pointer-events: none;
    user-select: none;
  }
}

.is-read-only {
  .spinner-up,
  .spinner-down {
    pointer-events: none;
    user-select: none;
  }
}

.is-large {
  &.input {
    height: var(--input-height-large);
    font-size: var(--input-text-size-large);
  }

  .spinner {
    height: var(--input-height-large);
    width: var(--spinner-width-large);
  }

  &.textarea {
    min-height: var(--textarea-large-min-height);
    padding-top: var(--textarea-large-vertical-padding);
    padding-bottom: var(--textarea-large-vertical-padding);
  }
}

.is-small {
  &.input,
  .spinner {
    height: var(--input-height-small);
  }

  &.textarea {
    min-height: var(--textarea-small-min-height);
    padding-top: var(--textarea-small-vertical-padding);
    padding-bottom: var(--textarea-small-vertical-padding);
  }
}

.has-connected-left {
  .input-wrapper *:first-child:focus {
    z-index: 3;
  }

  .input-inner-wrapper {
    margin-left: -1px;
  }
}

.has-connected-right {
  .input-wrapper *:last-child:focus {
    z-index: 2;
  }

  .input-inner-wrapper + * {
    margin-left: -1px;
  }
}

.has-success {
  &:not(.is-inverse) {
    &:not(.has-focus) .input-inner-wrapper,
    .input {
      border-color: var(--input-success-border);
      box-shadow: 0 0 0 1px var(--input-success-border);
      z-index: 2;
    }
  }

  &.is-inverse {
    &:not(.has-focus) .input-inner-wrapper,
    .input {
      border-color: var(--input-success-border-inverse);
      box-shadow: 0 0 0 1px var(--input-success-border-inverse);
      z-index: 2;
    }
  }
}

.has-warning {
  &:not(.is-inverse) {
    &:not(.has-focus) .input-inner-wrapper,
    .input {
      border-color: var(--input-warning-border);
      box-shadow: 0 0 0 1px var(--input-warning-border);
      z-index: 2;
    }
  }

  &.is-inverse {
    &:not(.has-focus) .input-inner-wrapper,
    .input {
      border-color: var(--input-warning-border-inverse);
      box-shadow: 0 0 0 1px var(--input-warning-border-inverse);
      z-index: 2;
    }
  }
}

.has-error {
  &:not(.is-inverse) {
    &:not(.has-focus) .input-inner-wrapper,
    .input {
      border-color: var(--input-error-border);
      box-shadow: 0 0 0 1px var(--input-error-border);
      z-index: 2;
    }
  }

  &.is-inverse {
    &:not(.has-focus) .input-inner-wrapper,
    .input {
      border-color: var(--input-error-border-inverse);
      box-shadow: 0 0 0 1px var(--input-error-border-inverse);
      z-index: 2;
    }
  }
}
