@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';
@import '@teamleader/ui-typography';

:root {
  --badge-border-radius: calc(0.4 * var(--unit));
  --badge-border-width: 1px;
}

.badge {
  background-color: color(var(--color-neutral-darkest) a(12%));
  border: var(--badge-border-width) solid color(var(--color-neutral-darkest) a(12%));
  border-radius: var(--badge-border-radius);
  color: var(--color-teal-darkest);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  outline: none;
  position: relative;
  text-decoration: none;
  transition: background-color var(--animation-duration) var(--animation-curve-fast-out-slow-in);
  max-width: 100%;

  svg {
    -ms-transform: translateY(-1px);
  }

  .icon + .label,
  .label + .icon {
    margin-left: var(--spacer-smaller);
  }

  .label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:not(.is-disabled) {
    &:hover {
      background-color: color(var(--color-neutral-darkest) a(18%));
    }

    &:focus {
      background-color: color(var(--color-neutral-darkest) a(12%));
      border-color: color(var(--color-neutral-darkest) a(24%));
      box-shadow: 0 0 0 var(--badge-border-width) color(var(--color-neutral-darkest) a(24%));
    }

    &:active {
      box-shadow: inset 0 2px 3px color(var(--color-neutral-darkest) a(12%));
      background-color: color(var(--color-neutral-darkest) a(18%));
    }
  }

  &.is-disabled {
    opacity: 0.48;
    pointer-events: none;
  }

  &.is-selected {
    background-color: color(var(--color-neutral-darkest) a(24%)) !important;
  }
}

.is-small,
.is-medium {
  height: 24px;
}

.is-large {
  height: 30px;
}
