{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react", "prettier", "prettier/react"],
  "plugins": ["babel", "react", "promise", "prettier"],
  "env": {
    "browser": true
  },
  "globals": {
    "__DEV__": false,
    "__PROD__": false,
    "__DEBUG__": false,
    "__BASENAME__": false,
    "__VERSION__": false
  },
  "rules": {
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "curly": ["error", "all"],
    "react/prop-types": 0,
    "dot-notation": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser"
    }
  ]
}
