{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "babel",
    "react",
    "promise",
    "prettier"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false,
    "__VERSION__"  : false
  },
  "rules": {
    "prettier/prettier": ["error", {
      "printWidth": 120,
      "singleQuote": true,
      "trailingComma": "all"
    }],
    "prefer-const": ["error", {
      "destructuring": "any",
      "ignoreReadBeforeAssign": false
    }],
    "curly": ["error", "all"]
  }
}
