@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';

/**
 * Variables
 */
:root {
  --input-height-large: calc(4.6 * var(--unit));
  --input-height-medium: calc(3.4 * var(--unit));
  --input-height-small: calc(2.8 * var(--unit));
  --input-width: calc(30 * var(--unit));
  --input-horizontal-padding: calc(0.5 * var(--unit));
  --input-horizontal-padding-icon: calc(3.9 * var(--unit));
  --input-horizontal-padding-icon-small: calc(2.6 * var(--unit));
  --input-text-color: var(--color-teal-darkest);
  --input-text-size: calc(1.4 * var(--unit));
  --input-text-size-large: calc(1.6 * var(--unit));
  --input-background: var(--color-white);
  --input-border-radius: calc(0.4 * var(--unit));
  --input-border-color: var(--color-neutral-dark);
  --input-placeholder-color: var(--color-neutral-darkest);
  --input-focus-border: var(--color-aqua);
  --input-active-border: var(--color-neutral-darkest);
  --input-active-box-shadow: rgba(130, 130, 140, 0.5);
  --input-error-background: var(--color-ruby-lightest);
  --input-error-border: var(--color-ruby-dark);

  --input-disabled-background: var(--color-neutral);
  --input-disabled-border: var(--color-neutral-dark);
  --input-disabled-color: var(--color-neutral-darkest);
  --input-read-only-background: var(--color-neutral);
  --input-read-only-border: var(--color-neutral-dark);

  --icon-top-large: calc(1.4 * var(--unit));
  --icon-top: calc(0.7 * var(--unit));
  --icon-horizontal: calc(.5 * var(--unit));
  --icon-color: var(--color-neutral-darkest);

  --counter-margin-top: calc(0.7 * var(--unit));
  --counter-margin-small: calc(0.5 * var(--unit));
  --counter-margin-large: calc(1.4 * var(--unit));
  --counter-margin-left: calc(0.5 * var(--unit));
  --counter-width: calc(3 * var(--unit));

  --spinner-width: calc(2.9 * var(--unit));
  --spinner-width-large: calc(3.6 * var(--unit));
  --spinner-background: var(--color-neutral-light);
  --spinner-border: var(--color-neutral-dark);
  --spinner-color: var(--color-neutral-darkest);

  --error-font-size: calc(1.4 * var(--unit));
  --error-color: var(--color-ruby-dark);
}

/**
 * Components
 */
.wrapper {
  position: relative;

  width: 100%;
  max-width: var(--input-width);
}

.input {
  transition: 0.3s ease-in-out border, 0.3s ease-in-out box-shadow;

  position: relative;
  box-sizing: border-box;

  height: var(--input-height-medium);
  width: 100%;
  padding: 0 var(--input-horizontal-padding);

  background: var(--input-background);

  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  box-shadow: 0;

  color: var(--input-text-color);
  line-height: var(--input-height-medium);
  font-size: var(--input-text-size);
  font-family: var(--font-family-regular);

  &:focus {
    border-color: var(--input-focus-border);
    box-shadow: 0 0 0 1px var(--input-focus-border);
    outline: none;
  }

  &:active {
    border-color: var(--input-active-border);
    box-shadow: inset 0 3px 6px 0 var(--input-active-box-shadow);
  }

  &.is-bold {
    font-family: var(--font-family-medium);
  }

  &.is-disabled {
    background-color: var(--input-disabled-background);

    border-color: var(--input-disabled-border);

    color: var(--input-disabled-color);
  }

  &.is-read-only {
    background-color: var(--input-read-only-background);

    border-color: var(--input-read-only-border);
  }

  &::placeholder {
    color: var(--input-placeholder-color);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-size-adjust: 100%;
  }
}

.icon {
  position: absolute;
  z-index: 1;
  left: var(--icon-horizontal);
  top: 50%;
  transform: translateY(-50%);

  color: var(--icon-color);
}

.counter {
  position: absolute;
  z-index: 1;
  top: var(--icon-top);
  right: var(--icon-horizontal);
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;

  width: var(--spinner-width);
}

.spinner-up,
.spinner-down {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 0;

  background-color: var(--spinner-background);

  border-radius: 0 4px 0 0;
  border: solid 1px var(--spinner-border);

  color: var(--spinner-color);
}

.spinner-down {
  border-radius: 0 0 4px 0;
  border-top: 0;
}

.error {
  margin: 6px 0 0;

  font-size: var(--error-font-size);
  line-height: 1.3;
  color: var(--error-color);

  svg {
    height: 12px;
    vertical-align: initial !important;
  }
}

/**
 * Modifiers
 */
.is-large {
  .input {
    height: var(--input-height-large);

    line-height: var(--input-height-large);
    font-size: var(--input-text-size-large);
  }

  .counter {
    top: var(--counter-margin-large);
  }

  .spinner {
    width: var(--spinner-width-large);
  }

  .spinner-up,
  .spinner-down {
    svg {
      height: 14px;
    }
  }
}

.is-small {
  .input {
    height: var(--input-height-small);
    line-height: var(--input-height-small);
  }

  .spinner-up,
  .spinner-down {
    svg {
      height: 9px;
    }
  }

  .counter {
    top: var(--counter-margin-small);
  }

  &.has-icon-left {
    .input {
      padding-left: var(--input-horizontal-padding-icon-small);
    }
  }

  &.has-icon-right {
    .input {
      padding-right: var(--input-horizontal-padding-icon-small);
    }
  }
}

.has-icon-left {
  .input {
    padding-left: var(--input-horizontal-padding-icon);
  }
}

.has-icon-right,
.has-counter {
  .input {
    padding-right: var(--input-horizontal-padding-icon);
  }

  .icon {
    left: auto;
    right: var(--icon-horizontal);
  }
}

.has-errors {
  .input {
    background-color: var(--input-error-background);

    border-color: var(--input-error-border);
  }
}
