@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';
@import '@teamleader/ui-animations';

/**
 * Variables
 */
:root {
  --input-height-large: calc(4.6 * var(--unit));
  --input-height-medium: calc(3.4 * var(--unit));
  --input-height-small: calc(3 * var(--unit));
  --input-horizontal-padding: calc(0.5 * var(--unit));
  --input-text-size: calc(1.4 * var(--unit));
  --input-text-size-large: calc(1.6 * var(--unit));
  --input-border-radius: calc(0.4 * var(--unit));
  --input-error-border: var(--color-ruby-dark);
  --input-error-border-inverse: var(--color-ruby-light);

  --spinner-width: calc(3 * var(--unit));
  --spinner-width-large: calc(3.6 * var(--unit));
}

/**
 * Components
 */
.wrapper {
  width: 100%;

  &.has-focus .input-inner-wrapper {
    z-index: 1;
  }

  &:not(.is-inverse) {
    .input-inner-wrapper {
      background: var(--color-white);
      border: 1px solid var(--color-neutral-dark);
    }

    .input {
      color: var(--color-teal-darkest);

      &::placeholder {
        color: var(--color-neutral-darkest);
      }
    }

    &:not(.is-disabled):not(.is-read-only) {
      &:hover {
        .input-inner-wrapper {
          border-color: var(--color-neutral-darkest);
        }
      }

      &.has-focus {
        .input-inner-wrapper {
          border-color: var(--color-neutral-darkest);
          box-shadow: 0 0 0 1px var(--color-neutral-darkest);
        }
      }

      &:active {
        .input-inner-wrapper {
          border-color: var(--color-neutral-darkest);
          box-shadow: inset 0 1px 3px 0 rgba(130, 130, 140, 0.48);
        }
      }
    }

    &.is-disabled {
      .input-inner-wrapper {
        background-color: var(--color-neutral);
        border-color: var(--color-neutral);
      }

      .input {
        color: var(--color-neutral-darkest);
      }
    }

    &.is-read-only {
      .input-inner-wrapper {
        background-color: var(--color-neutral);
        border-color: var(--color-neutral);
      }
    }
  }

  &.is-inverse {
    .input-inner-wrapper {
      background: var(--color-teal);
      border: 1px solid var(--color-teal);
    }

    .input {
      color: var(--color-neutral-lightest);

      &::placeholder {
        color: var(--color-teal-light);
      }
    }

    &:not(.is-disabled):not(.is-read-only) {
      &:hover {
        .input-inner-wrapper {
          border-color: var(--color-teal-light);
        }
      }

      &.has-focus {
        .input-inner-wrapper {
          border-color: var(--color-teal-light);
          box-shadow: 0 0 0 1px var(--color-teal-light);
        }
      }

      &:active {
        .input-inner-wrapper {
          border-color: var(--color-teal-light);
          box-shadow: inset 0 1px 3px 0 color(var(--color-teal-darkest) a(0.48));
        }
      }
    }

    &.is-disabled {
      .input-inner-wrapper {
        background-color: var(--color-teal-dark);
        border-color: var(--color-teal-dark);
      }

      .input {
        color: var(--color-teal);

        &::placeholder {
          color: var(--color-teal);
        }
      }
    }

    &.is-read-only {
      .input-inner-wrapper {
        background-color: var(--color-teal-dark);
        border-color: var(--color-teal-dark);
      }
    }
  }
}

.input-wrapper {
  border-radius: var(--input-border-radius);
  display: flex;

  > * {
    border-radius: 0;
  }

  > *:first-child {
    border-top-left-radius: var(--input-border-radius);
    border-bottom-left-radius: var(--input-border-radius);
  }

  > *:last-child {
    border-top-right-radius: var(--input-border-radius);
    border-bottom-right-radius: var(--input-border-radius);
  }
}

.input-inner-wrapper {
  transition: 0.3s ease-in-out border, 0.3s ease-in-out box-shadow;
  align-items: center;
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.input,
.input::placeholder {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-size-adjust: 100%;
}

.input {
  position: relative;
  box-sizing: border-box;

  height: var(--input-height-medium);
  width: 100%;
  padding: 0 var(--input-horizontal-padding);

  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: 0;

  font-size: var(--input-text-size);
  font-family: var(--font-family-regular);

  &[type='number'] {
    -moz-appearance: textfield;
  }

  &[type='number']::-webkit-outer-spin-button,
  &[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    outline: none;
  }

  &.is-bold {
    font-family: var(--font-family-medium);
  }
}

.prefix-wrapper,
.suffix-wrapper {
  align-items: center;
  display: flex;

  > * {
    white-space: nowrap;
  }

  svg {
    transform: translate3D(0, -1px, 0);
  }
}

.prefix-wrapper {
  padding-left: var(--input-horizontal-padding);

  > * {
    margin-right: var(--input-horizontal-padding);
  }
}

.suffix-wrapper {
  padding-right: var(--input-horizontal-padding);

  > * {
    margin-left: var(--input-horizontal-padding);
  }
}

.spinner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: var(--input-height-medium);
  justify-content: center;
  width: var(--spinner-width);
}

.spinner-up,
.spinner-down {
  background: transparent;
  border: 0;
  border-radius: 0;

  &:focus {
    outline: none;
  }
}

.error {
  color: var(--color-ruby-dark);
}

.validation-icon {
  margin-top: -1px;
}

/**
 * Modifiers
 */
.is-disabled {
  .input,
  .spinner-up,
  .spinner-down {
    pointer-events: none;
    user-select: none;
  }
}

.is-read-only {
  .spinner-up,
  .spinner-down {
    pointer-events: none;
    user-select: none;
  }
}

.is-large {
  .input {
    height: var(--input-height-large);
    font-size: var(--input-text-size-large);
  }

  .spinner {
    height: var(--input-height-large);
    width: var(--spinner-width-large);
  }
}

.is-small {
  .input,
  .spinner {
    height: var(--input-height-small);
  }
}

.has-connected-left {
  .input-wrapper *:first-child:focus {
    z-index: 3;
  }

  .input-inner-wrapper {
    margin-left: -1px;
  }
}

.has-connected-right {
  .input-wrapper *:last-child:focus {
    z-index: 2;
  }

  .input-inner-wrapper + * {
    margin-left: -1px;
  }
}

.has-error {
  &:not(.is-inverse) {
    &:not(.has-focus) .input-inner-wrapper {
      border-color: var(--input-error-border) !important;
      box-shadow: 0 0 0 1px var(--input-error-border) !important;
      z-index: 2;
    }

    .validation-text {
      color: var(--color-ruby-dark);
    }
  }

  &.is-inverse {
    &:not(.has-focus) .input-inner-wrapper {
      border-color: var(--input-error-border-inverse) !important;
      box-shadow: 0 0 0 1px var(--input-error-border-inverse) !important;
      z-index: 2;
    }

    .validation-text {
      color: var(--color-ruby-light);
    }
  }
}
