:root {
  --button-border-radius: calc(0.4 * var(--unit));
}

.button-base {
  align-items: center;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  letter-spacing: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color var(--animation-duration) var(--animation-curve-fast-out-slow-in),
    border-color var(--animation-duration) var(--animation-curve-fast-out-slow-in),
    color var(--animation-duration) var(--animation-curve-fast-out-slow-in),
    opacity var(--animation-duration) var(--animation-curve-fast-out-slow-in);
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;

  & > * {
    pointer-events: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &.is-disabled {
    cursor: auto;
    pointer-events: none;
  }

  &.is-processing {
    position: relative;
    pointer-events: none;
  }
}

.button {
  max-width: 100%;

  &:not(.is-disabled) {
    &:hover {
      z-index: 1;
      text-decoration: none;
    }

    &.is-active {
      pointer-events: none;
    }

    &:active,
    &.is-active {
      box-shadow: none !important;

      &:before {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        border-radius: var(--button-border-radius);
        content: '';
        height: 10px;
        left: 0;
        position: absolute;
        opacity: 0.05;
        top: 0;
        width: 100%;
      }
    }
  }
}

.outline {
  @each $color in (aqua, gold, mint, neutral, ruby, teal, violet) {
    &.$(color) {
      color: var(--color-$(color)-darkest);

      &.is-disabled {
        background-color: hsl(var(--color-$(color)-darkest-hsl), 12%);
        border: 1px solid hsl(var(--color-$(color)-darkest-hsl), 12%);
        color: hsl(var(--color-$(color)-darkest-hsl), 36%);
      }

      &:not(.is-disabled) {
        background-color: transparent;
        border: 1px solid hsl(var(--color-$(color)-darkest-hsl), 72%);

        &:hover {
          background-color: hsl(var(--color-$(color)-darkest-hsl), 6%);
          border: 1px solid var(--color-$(color)-darkest);
        }

        &:focus-visible {
          border: 1px solid var(--color-$(color)-darkest);
          box-shadow: 0 0 0 1px var(--color-$(color)-darkest);
        }
      }
    }
  }

  &.white {
    color: var(--color-neutral-lightest);

    &.is-disabled {
      border: 1px solid hsl(var(--color-neutral-lightest-hsl), 12%);
      background-color: hsl(var(--color-neutral-lightest-hsl), 12%);
      color: hsl(var(--color-neutral-lightest-hsl), 36%);
    }

    &:not(.is-disabled) {
      background-color: transparent;
      border: 1px solid hsl(var(--color-neutral-lightest-hsl), 72%);

      &:hover {
        background-color: hsl(var(--color-neutral-lightest-hsl), 12%);
        border: 1px solid var(--color-neutral-lightest);
      }

      &:focus-visible {
        border: 1px solid var(--color-neutral-lightest);
        box-shadow: 0 0 0 1px var(--color-neutral-lightest);
      }
    }
  }

  &.is-processing {
    color: transparent;
  }
}

.primary,
.secondary,
.timer {
  &.is-disabled {
    background-color: var(--color-neutral);
    border: 1px solid var(--color-neutral-dark);
    color: var(--color-neutral-dark);
  }
}

.secondary {
  color: var(--color-teal-darkest);

  &:not(.is-disabled) {
    background-color: var(--color-neutral-light);
    border: 1px solid var(--color-neutral-dark);

    &:hover {
      background-color: var(--color-neutral);
      border: 1px solid var(--color-neutral-darkest);
    }

    &:focus-visible {
      background-color: var(--color-neutral-light);
      border: 1px solid var(--color-neutral-darkest);
      box-shadow: 0 0 0 1px var(--color-neutral-darkest);
    }

    &:active {
      background-color: var(--color-neutral);
    }

    &.is-active {
      background-color: var(--color-teal);
      border: 1px solid var(--color-teal-dark);
      color: var(--color-neutral-lightest);
      box-shadow: 0 0 0 1px var(--color-neutral-darkest);
    }
  }

  &.is-processing {
    color: var(--color-neutral-light);
  }
}

.primary {
  color: var(--color-neutral-lightest);

  &:not(.is-disabled) {
    background-color: var(--color-mint);
    border: 1px solid var(--color-mint-dark);

    &:hover {
      background-color: var(--color-mint-dark);
      border: 1px solid var(--color-mint-darkest);
    }

    &:focus-visible {
      background-color: var(--color-mint);
      border: 1px solid var(--color-mint-dark);
      box-shadow: 0 0 0 1px var(--color-mint-dark);
    }

    &:active {
      background-color: var(--color-mint-dark);
      border: 1px solid var(--color-mint-darkest);
    }
  }

  &.is-processing {
    color: var(--color-mint);
  }
}

.timer {
  background-color: var(--color-violet);
  border: 1px solid var(--color-violet-dark);
  color: var(--color-neutral-lightest);

  &:not(.is-disabled) {
    background-color: var(--color-violet);
    border: 1px solid var(--color-violet-dark);

    &:hover {
      background-color: var(--color-violet-dark);
      border: 1px solid var(--color-violet-darkest);
    }

    &:focus-visible {
      background-color: var(--color-violet);
      border: 1px solid var(--color-violet-dark);
      box-shadow: 0 0 0 1px var(--color-violet-dark);
    }

    &:active {
      background-color: var(--color-violet-dark);
      border: 1px solid var(--color-violet-darkest);
    }
  }

  &.is-processing {
    color: var(--color-violet);
  }
}

.destructive {
  color: var(--color-neutral-lightest);
  background-color: var(--color-ruby);
  border: 1px solid var(--color-ruby-dark);

  &.is-disabled {
    opacity: 0.24;
  }

  &:not(.is-disabled) {
    &:hover {
      background-color: var(--color-ruby-dark);
      border: 1px solid var(--color-ruby-darkest);
    }

    &:focus-visible {
      background-color: var(--color-ruby);
      border: 1px solid var(--color-ruby-darkest);
      box-shadow: 0 0 0 1px var(--color-ruby-darkest);
    }

    &:active {
      background-color: var(--color-ruby-dark);
    }
  }

  &.is-processing {
    color: var(--color-ruby);
  }
}

.link {
  background-color: transparent;
  border: none;

  color: var(--color-aqua-dark);

  &:not(.is-disabled) {
    &:focus-visible {
      box-shadow: 0 0 0 2px var(--color-aqua-light);
    }

    &:hover,
    &:active {
      background-color: hsl(var(--color-neutral-hsl), 0.48);
    }
  }

  &.is-disabled {
    color: var(--color-neutral);
  }

  &.has-icon-only:hover {
    background-color: hsl(var(--color-neutral-darkest-hsl), 0.24);
  }

  &.is-processing {
    color: transparent;
  }
}

/* Button sizes */
.tiny {
  height: calc(2.4 * var(--unit));
  min-width: calc(2.4 * var(--unit));
  padding: 0 calc(0.6 * var(--unit));

  &.has-icon-only {
    padding: 0 calc(0.1 * var(--unit));
  }
}

.small {
  height: calc(3 * var(--unit));
  min-width: calc(3 * var(--unit));
  padding: 0 calc(1.2 * var(--unit));

  &.has-icon-only {
    padding: 0 calc(0.7 * var(--unit));
  }
}

.medium {
  height: calc(3.6 * var(--unit));
  min-width: calc(3.6 * var(--unit));
  padding: 0 calc(1.2 * var(--unit));

  &.has-icon-only {
    padding: 0 calc(0.5 * var(--unit));
  }
}

.large {
  height: calc(4.8 * var(--unit));
  min-width: calc(4.8 * var(--unit));
  padding: 0 calc(1.8 * var(--unit));

  &.has-icon-only {
    padding: 0 calc(1.1 * var(--unit));
  }
}

.is-full-width {
  width: 100%;
}

.spinner {
  left: 50%;
  position: absolute !important;
  top: 50%;
  transform: translate(-50%, -50%);
}
