.select-control {
  height: 36px;
  width: max-content;
  cursor: pointer;

  &--hovered {
    &:hover {
      background-color: var(--color-aqua-light);
      .select-dropdown-indicator,
      .select-value-container {
        color: var(--color-aqua-darkest);
      }
    }
  }

  &--disabled {
    cursor: default;
  }
}

.select-clear {
  height: 18px;

  &--active {
    background-color: rgba(0, 113, 242, 0.12);
    &:hover {
      background-color: rgba(0, 113, 242, 0.24);
    }
  }

  &--focused {
    background-color: rgba(0, 113, 242, 0.12);
    &:hover {
      background-color: rgba(0, 113, 242, 0.24);
    }
  }

  &--disabled {
    background-color: rgba(192, 192, 196, 0.12);
    &:hover {
      background-color: rgba(192, 192, 196, 0.24);
    }
  }

  &--invalid {
    background-color: rgba(237, 158, 0, 0.12);
    &:hover {
      background-color: rgba(237, 158, 0, 0.24);
    }
  }

  &--broken {
    background-color: rgba(232, 75, 23, 0.12);
    &:hover {
      background-color: rgba(232, 75, 23, 0.24);
    }
  }
}

.select-clear-icon {
  cursor: pointer;

  &--disabled {
    cursor: default;
  }
}

.select-dropdown-indicator--focused {
  transform: rotateZ(180deg);
}
