@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';

:root {
  --menu-expand-duration: 0.3s;
  --menu-fade-duration: 0.2s;
  --menu-padding: calc(0.6 * var(--unit)) 0;
  --menu-outline-border-radius: var(--border-radius-medium);
  --menu-position-spacing: 4px; /* Spacing of 3px + 1px outline border */
  --menu-icon-button-height: 30px;
  --menu-item-background: var(--color-neutral-lightest);
  --menu-item-hover-background: var(--color-neutral-light);
  --menu-item-selected-background: var(--color-aqua-lightest);
  --menu-item-height: calc(3.6 * var(--unit));
  --menu-divider-height: calc((0.3) * var(--unit));
}

.icon-menu {
  display: inline-block;
  position: relative;
  text-align: center;
}

.menu {
  display: inline-block;
  position: relative;
  background-color: var(--color-white);
  border-radius: var(--menu-outline-border-radius);
  padding: var(--menu-padding);

  &.top-left {
    left: 1px;
    position: absolute;
    top: calc(var(--menu-icon-button-height) + var(--menu-position-spacing));

    & > .outline {
      transform-origin: 0 0;
    }
  }

  &.top-right {
    position: absolute;
    right: 1px;
    top: calc(var(--menu-icon-button-height) + var(--menu-position-spacing));

    & > .outline {
      transform-origin: 100% 0;
    }
  }

  &.bottom-left {
    bottom: calc(var(--menu-icon-button-height) + var(--menu-position-spacing));
    left: 1px;
    position: absolute;

    & > .outline {
      transform-origin: 0 100%;
    }
  }

  &.bottom-right {
    bottom: calc(var(--menu-icon-button-height) + var(--menu-position-spacing));
    position: absolute;
    right: 1px;

    & > .outline {
      transform-origin: 100% 100%;
    }
  }

  &:not(.static) {
    z-index: 500;

    & > .outline {
      opacity: 0;
      transform: scale(0);
      transition: transform var(--menu-expand-duration) var(--animation-curve-default),
        opacity var(--menu-fade-duration) var(--animation-curve-default);
      will-change: transform;
    }

    & > .menu-inner {
      background: var(--color-white);
      border-radius: var(--menu-outline-border-radius);
      left: 0;
      margin: 0;
      opacity: 0;
      overflow: hidden;
      top: 0;
      transition: opacity var(--menu-fade-duration) var(--animation-curve-default),
        clip var(--menu-expand-duration) var(--animation-curve-default);
      white-space: nowrap;
    }

    & > .outline {
      opacity: 1;
      transform: scale(1);
    }

    & > .menu-inner {
      opacity: 1;
    }
  }
}

.invisible-menu-item {
  opacity: 0;
  height: 0;
}

.outline {
  border: 1px solid var(--color-neutral);
}

.shadow {
  box-shadow: var(--box-shadow-200);
}

.menu-inner {
  list-style: none;
  position: relative;
  text-align: left;
  margin: 0;
  padding: 0;
}

.menu-item {
  background-color: var(--menu-item-background);
  border: 0;
  min-height: var(--menu-item-height);
  overflow: hidden;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:not(.is-disabled):not(.is-selected):hover {
    background-color: var(--menu-item-hover-background);
    cursor: pointer;
  }

  &:not(.is-disabled):not(.is-selected):focus-visible {
    background-color: var(--menu-item-hover-background);
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    z-index: 1;
  }

  &.is-disabled {
    pointer-events: none;
    outline: 0;
  }

  &.is-selected {
    background-color: var(--menu-item-selected-background);
  }
}

.divider {
  background-color: var(--color-neutral);
  border: 0;
  display: block;
  height: 1px;
  margin: var(--menu-divider-height) 0;
  outline: 0;
  padding: 0;
  width: 100%;
}

.title {
  height: var(--menu-item-height);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-item-text-container {
  pointer-events: none;
}
