:root {
  --menu-item-hover-background: var(--color-neutral-light);
  --menu-item-selected-background: var(--color-aqua-lightest);
  --menu-item-height: calc(3.6 * var(--unit));
  --menu-divider-height: calc((0.3) * var(--unit));
}

.icon-menu {
  text-align: center;
}

.menu {
  display: inline-block;
  position: relative;
  background-color: var(--color-white);
  border-radius: var(--border-radius-medium);
  padding: calc(0.6 * var(--unit)) 0;

  &:not(.static) {
    position: absolute;
    z-index: 500;
    white-space: nowrap;
    animation: fadein 0.1s linear;
  }
}

[data-teamleader-ui='popover'] .menu.static {
  width: 100%;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.outline {
  border: 1px solid var(--color-neutral);
}

.shadow {
  box-shadow: var(--box-shadow-200);
}

.menu-inner {
  list-style: none;
  position: relative;
  text-align: left;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.menu-item {
  background-color: var(--menu-item-background);
  border: 0;
  min-height: var(--menu-item-height);
  overflow: hidden;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:not(.is-disabled):not(.is-selected):hover {
    background-color: var(--menu-item-hover-background);
    cursor: pointer;
  }

  &:not(.is-disabled):not(.is-selected):focus-visible {
    background-color: var(--menu-item-hover-background);
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    z-index: 1;
  }

  &.is-disabled {
    pointer-events: none;
    outline: 0;
  }

  &.is-selected {
    background-color: var(--menu-item-selected-background);
  }
}

.divider {
  background-color: var(--color-neutral);
  border: 0;
  display: block;
  height: 1px;
  margin: var(--menu-divider-height) 0;
  outline: 0;
  padding: 0;
  width: 100%;
}

.title {
  height: var(--menu-item-height);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-item-text-container {
  pointer-events: none;
}
