@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';

:root {
  --menu-expand-duration: 0.3s;
  --menu-fade-duration: 0.2s;
  --menu-background-color: var(--color-white);
  --menu-padding: calc(0.6 * var(--unit)) 0;
  --menu-outline-border-radius: calc(0.4 * var(--unit));
  --menu-outline-box-shadow: 0 0 0 1px color(var(--color-teal-darkest) a(24%));
  --menu-item-hover-background: var(--color-neutral-light);
  --menu-item-selected-background: var(--color-aqua-lightest);
  --menu-item-height: calc(3.6 * var(--unit));
  --menu-divider-height: calc((2.4 / 4) * var(--unit));
}

.icon-menu {
  display: inline-block;
  position: relative;
  text-align: center;
}

.menu {
  display: inline-block;
  position: relative;

  &.top-left {
    left: 0;
    position: absolute;
    top: 0;

    & > .outline {
      transform-origin: 0 0;
    }
  }

  &.top-right {
    position: absolute;
    right: 0;
    top: 0;

    & > .outline {
      transform-origin: 100% 0;
    }
  }

  &.bottom-left {
    bottom: 0;
    left: 0;
    position: absolute;

    & > .outline {
      transform-origin: 0 100%;
    }
  }

  &.bottom-right {
    bottom: 0;
    position: absolute;
    right: 0;

    & > .outline {
      transform-origin: 100% 100%;
    }
  }

  &:not(.static) {
    pointer-events: none;
    z-index: 500;

    & > .outline {
      opacity: 0;
      transform: scale(0);
      transition: transform var(--menu-expand-duration) var(--animation-curve-default),
        opacity var(--menu-fade-duration) var(--animation-curve-default);
      will-change: transform;
    }

    & > .menu-inner {
      background: var(--color-white);
      border-radius: var(--menu-outline-border-radius);
      left: 0;
      margin: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      transition: opacity var(--menu-fade-duration) var(--animation-curve-default),
        clip var(--menu-expand-duration) var(--animation-curve-default);
    }

    &.active {
      pointer-events: all;

      & > .outline {
        opacity: 1;
        transform: scale(1);
      }

      & > .menu-inner {
        opacity: 1;
      }
    }
  }
}

.outline {
  background-color: var(--menu-background-color);
  border-radius: var(--menu-outline-border-radius);
  box-shadow: var(--menu-outline-box-shadow);
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}

.menu-inner {
  border-radius: var(--menu-outline-border-radius);
  display: block;
  list-style: none;
  margin: 0;
  padding: var(--menu-padding);
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.menu-item {
  height: var(--menu-item-height);
  overflow: hidden;
  position: relative;

  &:not(.is-disabled):not(.is-selected):hover {
    background-color: var(--menu-item-hover-background);
    cursor: pointer;
  }

  &.is-disabled {
    pointer-events: none;
  }

  &.is-selected {
    background-color: var(--menu-item-selected-background);
    font-weight: 500;
  }
}

.divider {
  background-color: var(--color-neutral-light);
  border: 0;
  display: block;
  height: 1px;
  margin: var(--menu-divider-height) 0;
  outline: 0;
  padding: 0;
  width: 100%;
}
