@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';

:root {
  --dialog-background-color: var(--color-white);
  --dialog-border-radius: calc(0.4 * var(--unit));
  --dialog-translate-y: calc(-4 * var(--unit));
}

.wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 600;
}

.dialog {
  composes: box-shadow-300;
  background-color: var(--dialog-background-color);
  border-radius: var(--dialog-border-radius);
  display: flex;
  flex-direction: column;
  max-height: 96vh;
  max-width: 90vw;
  opacity: 0;
  transform: translateY(var(--dialog-translate-y));
  transition: opacity var(--animation-duration) var(--animation-curve-default),
    transform var(--animation-duration) var(--animation-curve-default);
  transition-delay: var(--animation-delay);
  width: 100vw;
}

.inner {
  background: var(--dialog-background-color);
  border-radius: var(--dialog-border-radius);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.is-entering .dialog {
  opacity: 0;
}

.is-entered .dialog {
  opacity: 1;
  transform: translateY(0%);
}

.is-small {
  width: 400px;
}

.is-medium {
  width: 540px;
}

.is-large {
  width: 700px;
}

.is-fullscreen {
  width: 1300px;

  @media screen and (--xs-viewport) {
    border-radius: 0;
    max-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    width: 100vw;
  }
}
