@import '../colors.css';
@import '../variables.css';
@import './config.css';

.wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--z-index-higher);

  @apply --reset;
}

.dialog {
  @apply --reset;
  background-color: white;
  border-radius: 0;
  box-shadow: var(--shadow-2p);
  display: block;
  padding: 1em;
}
