@import '../colors.css';
@import '../variables.css';
@import '../media.css';

:root {
  --dialog-background-color: var(--color-white);
  --dialog-border-radius: calc(0.4 * var(--unit));
  --dialog-box-shadow: 0 2px 100px 0 var(--color-secondary);
  --dialog-color-title: var(--color-secondary);
  --dialog-content-padding: calc(3 * var(--unit));
  --dialog-header-background-color: var(--palette-grey-100);
  --dialog-header-border-color: var(--palette-grey-300);
  --dialog-header-padding: calc(2.5 * var(--unit)) calc(3 * var(--unit));
  --dialog-navigation-border-color: var(--palette-grey-300);
  --dialog-navigation-padding: calc(2.5 * var(--unit)) calc(3 * var(--unit));
  --dialog-translate-y: calc(-4 * var(--unit));
  --dialog-overflow: hidden;
}

.wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--z-index-higher);

  @apply --reset;
}

.dialog {
  @apply --reset;
  background-color: var(--dialog-background-color);
  border-radius: var(--dialog-border-radius);
  box-shadow: var(--dialog-box-shadow);
  display: flex;
  flex-direction: column;
  max-height: 96vh;
  max-width: 96vw;
  position: absolute;
  opacity: 0;
  transform: translateY(var(--dialog-translate-y));
  transition:
    opacity var(--animation-duration) var(--animation-curve-default),
    transform var(--animation-duration) var(--animation-curve-default);
  transition-delay: var(--animation-delay);
  width: 100vw;

  &.active {
    opacity: 1;
    transform: translateY(0%);
  }
}

.small {
  max-width: 400px;
}

.medium {
  max-width: 540px;
}

.large {
  max-width: 700px;
}

.fullscreen {
  width: 96vw;

  @media screen and (--xs-viewport) {
    border-radius: 0;
    max-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    width: 100vw;
  }
}

.header {
  background: var(--dialog-header-background-color);
  border-bottom: 1px solid var(--dialog-header-border-color);
  border-radius: 4px 4px 0 0;
  padding: var(--dialog-header-padding);
  position: relative;
}

.title {
  color: var(--dialog-color-title);
  flex-grow: 0;
  font-size: calc(2 * var(--unit));
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.close {
  top: calc(-2.6 * var(--unit));
  color: var(--palette-grey-500) !important;
  position: absolute !important;
  right: calc(-2.6 * var(--unit));

  > span {
    font-size: calc(1.6 * var(--unit)) !important;
  }

  &:hover {
    color: var(--palette-grey-400) !important;
  }
}

.body {
  background: var(--dialog-background-color);
  color: var(--color-text-secondary);
  flex-grow: 2;
  padding: var(--dialog-content-padding);
  position: relative;

  & p {
    font-size: calc(1.8 * var(--unit));
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.33;
    margin: 0;
  }
}

.navigation {
  background: var(--dialog-background-color);
  border-radius: 0 0 4px 4px;
  border-top: 1px solid var(--dialog-navigation-border-color);
  flex-grow: 0;
  padding: var(--dialog-navigation-padding);
  position: relative;
  text-align: right;

  .button {
    margin-left: calc(var(--unit));
  }
}

.button {
  margin-left: var(--dialog-navigation-padding);
  min-width: 0;
  padding-left: var(--dialog-navigation-padding);
  padding-right: var(--dialog-navigation-padding);
}
