@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';
@import '@teamleader/ui-animations';

:root {
  --checkbox-border-width: 1px;

  --checkbox-shape-size-small: 18px;
  --checkbox-shape-size-medium: 24px;
  --checkbox-shape-size-large: 30px;

  --checkbox-shape-padding: 2px;
}

.checkbox {
  composes: reset;
  align-items: center;
  display: flex;
  user-select: none;

  .input {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 0;
  }

  .shape {
    box-sizing: border-box;
    background-color: var(--color-neutral-light);
    border: var(--checkbox-border-width) solid var(--color-neutral-dark);
    border-radius: 4px;
    color: var(--color-white);
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: var(--checkbox-shape-padding);
    cursor: pointer;
    transition: all var(--animation-duration) var(--animation-curve-default);
  }

  .checkmark {
    transform: scale(0);
    opacity: 0;
    transition: all var(--animation-duration) var(--animation-curve-default);
  }

  &:hover {
    .shape {
      background-color: var(--color-neutral);
      border-color: var(--color-neutral-darkest);
    }
  }

  &.is-checked {
    .shape {
      background-color: var(--color-mint);
      border-color: var(--color-mint-dark);
    }

    &:hover .shape {
      background-color: var(--color-mint-dark);
      border-color: var(--color-mint-darkest);
    }

    .checkmark {
      transform: scale(1);
      opacity: 1;
    }

    input:focus + .shape {
      box-shadow: inset 0 0 0 1px var(--color-mint-darkest);
      border-color: var(--color-mint-darkest);
    }

    input:active + .shape {
      box-shadow: inset 0 1px 3px 0 var(--color-mint-darkest);
    }
  }

  &.is-disabled {
    pointer-events: none;

    .shape {
      background-color: var(--color-neutral);
      border-color: transparent;
    }

    .label {
      color: var(--color-neutral-dark);
    }
  }

  input:focus + .shape {
    border-color: var(--color-neutral-darkest);
    box-shadow: inset 0 0 0 1px var(--color-neutral-darkest)
  }

  input:active + .shape {
    box-shadow: inset 0 1px 3px 0 var(--color-neutral-darkest);
  }

  &.is-small .shape {
    width: var(--checkbox-shape-size-small);
    height: var(--checkbox-shape-size-small);
  }

  &.is-medium .shape {
    width: var(--checkbox-shape-size-medium);
    height: var(--checkbox-shape-size-medium);
  }

  &.is-large .shape {
    width: var(--checkbox-shape-size-large);
    height: var(--checkbox-shape-size-large);
  }

  .label {
    margin-left: var(--spacer-small);
  }
}
