@import '@teamleader/ui-colors';

:root {
  --medium-size: 12px;
  --small-size: 9px;
}

.bullet {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.medium {
  height: var(--medium-size);
  width: var(--medium-size);
}

.small {
  height: var(--small-size);
  width: var(--small-size);
}

.neutral {
  background-color: var(--color-neutral-dark);
}

.mint {
  background-color: var(--color-mint-dark);
}

.violet {
  background-color: var(--color-violet-dark);
}

.teal {
  background-color: var(--color-teal-dark);
}

.ruby {
  background-color: var(--color-ruby-dark);
}

.gold {
  background-color: var(--color-gold-dark);
}

.aqua {
  background-color: var(--color-aqua-dark);
}

@each $color in (neutral, mint, violet, ruby, gold, aqua, teal) {
  .border-$(color) {
    border: 1px solid var(--color-$(color));
  }
  @each $tint in (darkest, dark, light, lightest) {
    .border-$(color)-$(tint) {
      border: 1px solid var(--color-$(color)-$(tint));
    }
  }
}

h1,
h2,
h3,
h4,
p {
  display: flex;
  align-items: center;

  .bullet {
    margin-right: 6px;
  }
}
