.wrapper {
  background-color: var(--color-marketing-violet-light);
}

.icon {
  color: var(--color-marketing-violet) !important;
}

.is-small {
  height: 18px;
  width: 18px;
}

.is-medium {
  height: 24px;
  width: 24px;
}
