@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';
@import '@teamleader/ui-typography';

.counter {
  background: var(--background-color);
  border-radius: var(--border-radius);
  color: var(--color-white);
  display: inline-block;
  font-family: var(--font-family-bold);
  font-size: calc(1.24 * var(--unit));
  font-weight: 500;
  line-height: 1;
  letter-spacing: .25px;
  min-height: var(--min-size);
  min-width: var(--min-size);
}

.medium {
  --min-size: 9px;
}

.small {
  --min-size: 6px;
}

.circular {
  --border-radius: 50%;
}

.rounded {
  --border-radius: 4px;
  padding: var(--padding);
}

.rounded.medium {
  --padding: 5px 4px 3px 4px;
}

.rounded.small {
  --padding: 3px 4px 1px 4px;
}

.neutral {
  --background-color: var(--color-neutral-darkest);
}

.ruby {
  --background-color: var(--color-ruby);
}
