@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';
@import '@teamleader/ui-typography';

:root {
  --border-width: 2px;
  --border-radius: 4px;

  --medium-mininmum-size: 9px;
  --small-minimum-size: 6px;
}

.counter {
  border-radius: var(--border-radius);
  composes: reset;
  color: var(--color-white);
  display: inline-block;
  font-family: var(--font-family-black);
  font-size: calc(1.2 * var(--unit));
  line-height: 1;
  vertical-align: middle;
}

.medium {
  min-height: var(--medium-mininmum-size);
  min-width: var(--medium-mininmum-size);
  padding: var(--spacer-smaller);
}

.small {
  min-height: var(--small-minimum-size);
  min-width: var(--small-minimum-size);
  padding: var(--spacer-smallest) var(--spacer-smaller);
}

.border-neutral {
  box-shadow: 0 0 0 var(--border-width) var(--color-neutral-lightest);
}

.border-mint {
  box-shadow: 0 0 0 var(--border-width) var(--color-mint-lightest);
}

.border-teal {
  box-shadow: 0 0 0 var(--border-width) var(--color-teal-lightest);
}

.border-ruby {
  box-shadow: 0 0 0 var(--border-width) var(--color-ruby-lightest);
}

.border-violet {
  box-shadow: 0 0 0 var(--border-width) var(--color-violet-lightest);
}

.border-gold {
  box-shadow: 0 0 0 var(--border-width) var(--color-gold-lightest);
}

.border-aqua {
  box-shadow: 0 0 0 var(--border-width) var(--color-aqua-lightest);
}

.border-tealdark {
  box-shadow: 0 0 0 var(--border-width) var(--color-teal-darkest);
}

.neutral {
  background-color: var(--color-neutral-darkest);
}

.mint {
  background-color: var(--color-mint-dark);
}

.violet {
  background-color: var(--color-violet-dark);
}

.teal {
  background-color: var(--color-teal-dark);
}

.ruby {
  background-color: var(--color-ruby-dark);
}

.gold {
  background-color: var(--color-gold-dark);
}

.aqua {
  background-color: var(--color-aqua-dark);
}
