:root {
  --button-border-radius: calc(0 * var(--unit));
  --button-height: calc(3.6 * var(--unit));
  --button-toggle-font-size: calc(2 * var(--unit));
  --button-primary-color: var(--color-primary);
  --button-primary-color-hover: color(var(--color-primary-dark));
  --button-primary-color-contrast: var(--color-primary-contrast);
  --button-primary-disabled-background-color: var(--palette-teal-lightest);
  --button-neutral-color: var(--color-white);
  --button-neutral-color-contrast: var(--palette-bluewood-lighter);
  --button-neutral-color-hover: color(var(--palette-grey-200));
  --button-disabled-text-color: color(var(--color-black) a(26%));
  --button-disabled-background-color: color(var(--color-black) a(12%));
  --button-disabled-text-color-inverse: color(var(--color-black) a(54%));
  --button-disabled-background-inverse: color(var(--color-black) a(8%));
  --button-squared-icon-margin: calc(0.6 * var(--unit));
  --button-squared-min-width: calc(4 * var(--unit));
  --button-squared-padding: 0 calc(1.2 * var(--unit));
}
