@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';
@import '@teamleader/ui-utilities';

:root {
  --button-border-radius: calc(0.4 * var(--unit));
  --button-margin: calc(0.6 * var(--unit));
  --button-icon-margin: calc(0.6 * var(--unit));
  --button-icon-children-margin: calc(0.6 * var(--unit));
}

.button-base {
  composes: reset;
  align-items: center;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  letter-spacing: 0;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color var(--animation-duration) var(--animation-curve-fast-out-slow-in),
    border-color var(--animation-duration) var(--animation-curve-fast-out-slow-in),
    color var(--animation-duration) var(--animation-curve-fast-out-slow-in),
    opacity var(--animation-duration) var(--animation-curve-fast-out-slow-in);
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;

  svg {
    margin: auto 0; /* fix for vertical centering in safari */
  }

  & > * {
    pointer-events: none;
  }

  &:not(.has-icon-only) {
    * + svg,
    svg + *:not(.spinner) {
      margin-left: var(--button-icon-children-margin);
    }
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &.is-disabled {
    cursor: auto;
    pointer-events: none;
  }

  &.is-processing {
    position: relative;
    pointer-events: none;
  }
}

.button {
  composes: button-base;
  font-family: var(--font-family-medium);

  &:not(.is-disabled) {
    &:hover {
      z-index: 1;
      text-decoration: none;
    }

    &.is-active {
      pointer-events: none;
    }

    &:active,
    &.is-active {
      box-shadow: none !important;

      &:before {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        border-radius: var(--button-border-radius);
        content: '';
        height: 10px;
        left: 0;
        position: absolute;
        opacity: 0.05;
        top: 0;
        width: 100%;
      }
    }
  }
}

/* Button colors */
.icon-button {
  background-color: transparent;
  border: 0;

  &.is-disabled {
    opacity: 0.24;
  }

  &.neutral {
    color: var(--color-neutral-darkest);

    &:not(.is-disabled) {
      &:hover {
        background-color: color(var(--color-neutral-darkest) a(18%));
      }

      &:focus {
        box-shadow: 0 0 0 2px color(var(--color-neutral-darkest) a(50%));
      }
    }
  }

  &.mint {
    color: var(--color-mint-darkest);

    &:not(.is-disabled) {
      &:hover {
        background-color: color(var(--color-mint-darkest) a(18%));
      }

      &:focus {
        box-shadow: 0 0 0 2px color(var(--color-mint-darkest) a(50%));
      }
    }
  }

  &.violet {
    color: var(--color-violet-darkest);

    &:not(.is-disabled) {
      &:hover {
        background-color: color(var(--color-violet-darkest) a(18%));
      }

      &:focus {
        box-shadow: 0 0 0 2px color(var(--color-violet-darkest) a(50%));
      }
    }
  }

  &.ruby {
    color: var(--color-ruby-darkest);

    &:not(.is-disabled) {
      &:hover {
        background-color: color(var(--color-ruby-darkest) a(18%));
      }

      &:focus {
        box-shadow: 0 0 0 2px color(var(--color-ruby-darkest) a(50%));
      }
    }
  }

  &.gold {
    color: var(--color-gold-darkest);

    &:not(.is-disabled) {
      &:hover {
        background-color: color(var(--color-gold-darkest) a(18%));
      }

      &:focus {
        box-shadow: 0 0 0 2px color(var(--color-gold-darkest) a(50%));
      }
    }
  }

  &.aqua {
    color: var(--color-aqua-darkest);

    &:not(.is-disabled) {
      &:hover {
        background-color: color(var(--color-aqua-darkest) a(18%));
      }

      &:focus {
        box-shadow: 0 0 0 2px color(var(--color-aqua-darkest) a(50%));
      }
    }
  }

  &.white {
    color: var(--color-neutral-lightest);

    &:not(.is-disabled) {
      &:hover {
        background-color: color(var(--color-neutral-lightest) a(18%));
      }

      &:focus {
        box-shadow: 0 0 0 2px color(var(--color-neutral-lightest) a(50%));
      }
    }
  }
}

.outline {
  &:not(.is-inverse) {
    color: var(--color-teal-darkest);

    &.is-disabled {
      background-color: color(var(--color-teal-darkest) a(12%));
      border: 1px solid color(var(--color-teal-darkest) a(12%));
      color: color(var(--color-teal-darkest) a(36%));
    }

    &:not(.is-disabled) {
      background-color: transparent;
      border: 1px solid color(var(--color-teal-darkest) a(72%));

      &:hover {
        background-color: color(var(--color-teal-darkest) a(6%));
        border: 1px solid var(--color-teal-darkest);
      }

      &:focus {
        border: 1px solid var(--color-teal-darkest);
        box-shadow: 0 0 0 1px var(--color-teal-darkest);
      }
    }

    &.is-processing {
      color: transparent;
    }
  }

  &.is-inverse {
    color: var(--color-neutral-lightest);

    &.is-disabled {
      border: 1px solid color(var(--color-neutral-lightest) a(12%));
      background-color: color(var(--color-neutral-lightest) a(12%));
      color: color(var(--color-neutral-lightest) a(36%));
    }

    &:not(.is-disabled) {
      background-color: transparent;
      border: 1px solid color(var(--color-neutral-lightest) a(72%));

      &:hover {
        background-color: color(var(--color-neutral-lightest) a(12%));
        border: 1px solid var(--color-neutral-lightest);
      }

      &:focus {
        border: 1px solid var(--color-neutral-lightest);
        box-shadow: 0 0 0 1px var(--color-neutral-lightest);
      }
    }

    &.is-processing {
      color: transparent;
    }
  }
}

.primary,
.secondary {
  &.is-disabled {
    background-color: var(--color-neutral);
    border: 1px solid var(--color-neutral-dark);
    color: var(--color-neutral-dark);
  }
}

.secondary {
  color: var(--color-teal-darkest);

  &:not(.is-disabled) {
    background-color: var(--color-neutral-light);
    border: 1px solid var(--color-neutral-dark);

    &:hover {
      background-color: var(--color-neutral);
      border: 1px solid var(--color-neutral-darkest);
    }

    &:focus {
      background-color: var(--color-neutral-light);
      border: 1px solid var(--color-neutral-darkest);
      box-shadow: 0 0 0 1px var(--color-neutral-darkest);
    }

    &:active {
      background-color: var(--color-neutral);
    }

    &.is-active {
      background-color: var(--color-teal);
      border: 1px solid var(--color-teal-dark);
      color: var(--color-neutral-lightest);
      box-shadow: 0 0 0 1px var(--color-neutral-darkest);
    }
  }

  &.is-processing {
    color: var(--color-neutral-light);
  }
}

.primary {
  color: var(--color-neutral-lightest);

  &:not(.is-disabled) {
    background-color: var(--color-mint);
    border: 1px solid var(--color-mint-dark);

    &:hover {
      background-color: var(--color-mint-dark);
      border: 1px solid var(--color-mint-darkest);
    }

    &:focus {
      background-color: var(--color-mint);
      border: 1px solid var(--color-mint-dark);
      box-shadow: 0 0 0 1px var(--color-mint-dark);
    }

    &:active {
      background-color: var(--color-mint-dark);
      border: 1px solid var(--color-mint-darkest);
    }
  }

  &.is-processing {
    color: var(--color-mint);
  }
}

.destructive {
  color: var(--color-neutral-lightest);
  background-color: var(--color-ruby);
  border: 1px solid var(--color-ruby-dark);

  &.is-disabled {
    opacity: 0.24;
  }

  &:not(.is-disabled) {
    &:hover {
      background-color: var(--color-ruby-dark);
      border: 1px solid var(--color-ruby-darkest);
    }

    &:focus {
      background-color: var(--color-ruby);
      border: 1px solid var(--color-ruby-darkest);
      box-shadow: 0 0 0 1px var(--color-ruby-darkest);
    }

    &:active {
      background-color: var(--color-ruby-dark);
    }
  }

  &.is-processing {
    color: var(--color-ruby);
  }
}

.link {
  background-color: transparent;
  border: none;

  &:not(.is-inverse) {
    color: var(--color-aqua-dark);

    &:not(.is-disabled) {
      &:hover {
        background-color: var(--color-neutral-light);
      }

      &:focus {
        box-shadow: 0 0 0 2px var(--color-aqua-light);
      }

      &:active {
        background-color: var(--color-neutral-light);
      }
    }

    &.is-disabled {
      color: var(--color-neutral);
    }
  }

  &.is-inverse {
    color: var(--color-teal-lightest);

    &:not(.is-disabled) {
      &:hover {
        background-color: var(--color-teal);
      }

      &:focus {
        box-shadow: 0 0 0 2px var(--color-teal);
      }

      &:active {
        background-color: color(var(--color-teal-lightest) a(0.24));
      }
    }

    &.is-disabled {
      color: var(--color-teal);
    }
  }

  &.has-icon-only:hover {
    background-color: color(var(--color-neutral-darkest) a(0.24));
  }

  &.is-processing {
    color: transparent;
  }
}

/* Button sizes */
.small {
  font-size: calc(1.4 * var(--unit));
  height: calc(3 * var(--unit));
  line-height: calc(2.8 * var(--unit));
  min-width: calc(3 * var(--unit));
  padding: 0 calc(1.2 * var(--unit));

  &.has-icon-only {
    padding: 0 calc(0.7 * var(--unit));
  }

  &.icon-button {
    height: calc(1.8 * var(--unit));
    min-width: calc(1.8 * var(--unit));
    padding: 0 calc(0.2 * var(--unit));
  }
}

.medium {
  font-size: calc(1.4 * var(--unit));
  height: calc(3.6 * var(--unit));
  line-height: calc(3.4 * var(--unit));
  min-width: calc(3.6 * var(--unit));
  padding: 0 calc(1.2 * var(--unit));

  &.has-icon-only {
    padding: 0 calc(0.5 * var(--unit));
  }

  &.icon-button {
    height: calc(3 * var(--unit));
    min-width: calc(3 * var(--unit));
    padding: 0 var(--spacer-smallest);
  }
}

.large {
  font-size: calc(1.6 * var(--unit));
  height: calc(4.8 * var(--unit));
  line-height: calc(4.6 * var(--unit));
  min-width: calc(4.8 * var(--unit));
  padding: 0 calc(1.8 * var(--unit));

  &.has-icon-only {
    padding: 0 calc(1.1 * var(--unit));
  }
}

.is-full-width {
  width: 100%;
}

.spinner {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ButtonGroup */
.group {
  display: flex;
  align-items: center;

  > * {
    margin-left: var(--button-margin);
    margin-right: var(--button-margin);
  }

  > *:first-child {
    margin-left: 0;
  }

  > *:last-child {
    margin-right: 0;
  }
}

.segmented {
  > * {
    border-radius: 0;
    margin-left: -1px;
    margin-right: 0;
  }

  > *:first-child:not(:only-child) {
    border-radius: var(--button-border-radius) 0 0 var(--button-border-radius);
    margin-left: 0;
  }

  > *:last-child:not(:only-child) {
    border-radius: 0 var(--button-border-radius) var(--button-border-radius) 0;
  }

  > *:only-child {
    border-radius: var(--button-border-radius);
  }
}
