@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';

:root {
  --button-border-radius: calc(.4 * var(--unit));
  --button-margin: calc(0.6 * var(--unit));
  --button-icon-margin: calc(0.6 * var(--unit));
  --button-icon-children-margin: calc(0.6 * var(--unit));
  --spinner-border-width: 2px;
  --small-spinner-size: calc(1.4 * var(--unit));
  --large-spinner-size: calc(2.2 * var(--unit));
  --medium-spinner-size: calc(2.2 * var(--unit));
}

.button {
  border-radius: var(--button-border-radius);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family-semi-bold);
  letter-spacing: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color .2s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;

  & > * {
    display: inline-block;
    pointer-events: none;
  }

  * + .children,
  .children + *:not(.spinner) {
    margin-left: var(--button-icon-children-margin);
  }

  &::-moz-focus-inner {
    border: 0;
  }

  svg {
    color: inherit;
    fill: currentColor;
    -ms-transform: translateY(-1px);

    * {
      fill: currentColor;
    }
  }

  &[disabled] {
    cursor: auto;
    opacity: .5;
    pointer-events: none;
  }

  &:not([disabled]) {
    &:hover {
      z-index: 1;
    }

    &:active {
      &:before {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        content: '';
        height: 10px;
        left: 0;
        position: absolute;
        opacity: .05;
        top: 0;
        width: 100%;
      }
    }
  }

  &.processing {
    position: relative;
    pointer-events: none;
  }
}

/* Button colors */
.iconButton {
  background-color: transparent;
  border: 0;

  &:not(.inverse) {
    color: var(--color-teal-darkest);

    &:not([disabled]) {
      &:hover {
        background-color: color(var(--color-teal-darkest) a(5%));
        color: var(--color-teal-darkest);
      }

      &:focus {
        border: 1px solid var(--color-teal-darkest);
        box-shadow: inset 0 0 0 1px var(--color-teal-darkest);
      }

      &:active {
        background-color: color(var(--color-teal-darkest) a(5%));
        box-shadow: none;
      }
    }
  }

  &.inverse {
    color: var(--color-neutral-lightest);

    &:not([disabled]) {
      &:hover {
        background-color: color(var(--color-white) a(10%));
      }

      &:focus {
        border: 1px solid var(--color-neutral-lightest);
        box-shadow: inset 0 0 0 1px var(--color-neutral-lightest);
      }

      &:active {
        background-color: color(var(--color-white) a(10%));
        box-shadow: none;
      }
    }
  }
}

.outline {
  &:not(.inverse) {
    color: var(--color-teal-darkest);

    &[disabled] {
      border: 1px solid var(--color-neutral-dark);
    }

    &:not([disabled]) {
      background-color: transparent;
      border: 1px solid color(var(--color-teal-darkest) a(75%));

      &:hover {
        background-color: color(var(--color-teal-darkest) a(5%));
        border: 1px solid var(--color-teal-darkest);
      }

      &:focus {
        border: 1px solid var(--color-teal-darkest);
        box-shadow: inset 0 0 0 1px var(--color-teal-darkest);
      }

      &:active {
        background-color: color(var(--color-teal-darkest) a(5%));
        border: 1px solid var(--color-teal-darkest);
        box-shadow: none;
      }
    }

    &.processing {
      color: transparent;
    }

    .spinner:before {
      border: var(--spinner-border-width) solid color(var(--color-teal-darkest) a(20%));
      border-top-color: var(--color-teal-darkest);
    }
  }

  &.inverse {
    color: var(--color-neutral-lightest);

    &[disabled] {
      border: 1px solid color(var(--color-white) a(75%));
    }

    &:not([disabled]) {
      background-color: transparent;
      border: 1px solid color(var(--color-white) a(75%));

      &:hover {
        background-color: color(var(--color-white) a(10%));
        border: 1px solid var(--color-neutral-lightest);
      }

      &:focus {
        border: 1px solid var(--color-neutral-lightest);
        box-shadow: inset 0 0 0 1px var(--color-neutral-lightest);
      }

      &:active {
        background-color: color(var(--color-white) a(10%));
        border: 1px solid var(--color-neutral-lightest);
        box-shadow: none;
      }
    }

    &.processing {
      color: transparent;
    }

    .spinner:before {
      border: var(--spinner-border-width) solid color(var(--color-neutral-lightest) a(20%));
      border-top-color: var(--color-neutral-lightest);
    }
  }
}

.secondary {
  color: var(--color-teal-darkest);

  &[disabled] {
    background-color: var(--color-neutral-light);
    border: 1px solid var(--color-neutral-dark);
  }

  &:not([disabled]) {
    background-color: var(--color-neutral-light);
    border: 1px solid var(--color-neutral-dark);

    &:hover {
      background-color: var(--color-neutral);
      border: 1px solid var(--color-neutral-darkest);
      color: var(--color-teal-darkest);
    }

    &:focus {
      background-color: var(--color-neutral-light);
      border: 1px solid var(--color-neutral-darkest);
      box-shadow: inset 0 0 0 1px var(--color-neutral-darkest);
    }

    &:active {
      background-color: var(--color-neutral);
      border: 1px solid var(--color-neutral-darkest);
      box-shadow: none;
    }
  }

  &.processing {
    color: var(--color-neutral-light);
  }

  .spinner:before {
    border: var(--spinner-border-width) solid color(var(--color-teal-darkest) a(20%));
    border-top-color: var(--color-teal-darkest);
  }
}

.primary {
  color: var(--color-white);

  &[disabled] {
    background-color: var(--color-mint);
    border: 1px solid var(--color-mint-dark);
  }

  &:not([disabled]) {
    background-color: var(--color-mint);
    border: 1px solid var(--color-mint-dark);

    &:hover {
      background-color: var(--color-mint-dark);
      border: 1px solid var(--color-mint-darkest);
    }

    &:focus {
      background-color: var(--color-mint);
      border: 1px solid var(--color-mint-dark);
      box-shadow: inset 0 0 0 1px var(--color-mint-dark);
    }

    &:active {
      background-color: var(--color-mint-dark);
      border: 1px solid var(--color-mint-darkest);
      box-shadow: none;
    }
  }

  &.processing {
    color: var(--color-mint);
  }

  .spinner:before {
    border: var(--spinner-border-width) solid color(var(--color-white) a(20%));
    border-top-color: var(--color-white);
  }
}

.destructive {
  color: var(--color-white);

  &[disabled] {
    background-color: var(--color-ruby);
    border: 1px solid var(--color-ruby-dark);
  }

  &:not([disabled]) {
    background-color: var(--color-ruby);
    border: 1px solid var(--color-ruby-dark);

    &:hover {
      background-color: var(--color-ruby-dark);
      border: 1px solid var(--color-ruby-darkest);
    }

    &:focus {
      background-color: var(--color-ruby);
      border: 1px solid var(--color-ruby-darkest);
      box-shadow: inset 0 0 0 1px var(--color-ruby-darkest);
    }

    &:active {
      background-color: var(--color-ruby-dark);
      border: 1px solid var(--color-ruby-darkest);
      box-shadow: none;
    }
  }

  &.processing {
    color: var(--color-ruby);
  }

  .spinner:before {
    border: var(--spinner-border-width) solid color(var(--color-white) a(20%));
    border-top-color: var(--color-white);
  }
}

/* Button sizes */
.small {
  font-size: calc(1.4 * var(--unit));
  height: calc(3 * var(--unit));
  line-height: calc(2.8 * var(--unit));
  min-width: calc(3 * var(--unit));
  padding: 0 calc(1.2 * var(--unit));

  &.iconOnly {
    padding: 0 calc(.7 * var(--unit));
  }

  .spinner:before {
    width: var(--small-spinner-size);
    height: var(--small-spinner-size);
    margin-top: calc(-.5 * var(--small-spinner-size));
    margin-left: calc(-.5 * var(--small-spinner-size));
  }
}

.medium {
  font-size: calc(1.6 * var(--unit));
  height: calc(3.6 * var(--unit));
  line-height: calc(3.4 * var(--unit));
  min-width: calc(3.4 * var(--unit));
  padding: 0 calc(1.2 * var(--unit));

  &.iconOnly {
    padding: 0 calc(.5 * var(--unit));
  }

  .spinner:before {
    width: var(--medium-spinner-size);
    height: var(--medium-spinner-size);
    margin-top: calc(-.5 * var(--medium-spinner-size));
    margin-left: calc(-.5 * var(--medium-spinner-size));
  }
}

.large {
  font-size: calc(1.6 * var(--unit));
  height: calc(4.8 * var(--unit));
  line-height: calc(4.6 * var(--unit));
  min-width: calc(4.8 * var(--unit));
  padding: 0 calc(1.8 * var(--unit));

  &.iconOnly {
    padding: 0 calc(1.1 * var(--unit));
  }

  .spinner:before {
    width: var(--large-spinner-size);
    height: var(--large-spinner-size);
    margin-top: calc(-.5 * var(--large-spinner-size));
    margin-left: calc(-.5 * var(--large-spinner-size));
  }
}

@keyframes spin {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  animation: spin .6s linear infinite;
}

/* ButtonGroup */
.group {
  > * {
    margin-left: var(--button-margin);
    margin-right: var(--button-margin);
  }

  > *:first-child {
    margin-left: 0;
  }

  > *:last-child {
    margin-right: 0;
  }
}

.segmented {
  > * {
    border-radius: 0;
    margin-left: -1px;
    margin-right: 0;
  }

  > *:first-child {
    border-radius: var(--button-border-radius) 0 0 var(--button-border-radius);
    margin-left: 0;
  }

  > *:last-child {
    border-radius: 0 var(--button-border-radius) var(--button-border-radius) 0;
  }
}
