@import '@teamleader/ui-utilities';

.compact-message {
  display: flex;
  align-items: center;
}

.image {
  margin-right: var(--spacer-regular);
}

.content {
  flex: 1;
}

.button {
  margin-left: var(--spacer-big);
  align-self: flex-end;
}
