@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';
@import '@teamleader/ui-typography';

:root {
  --border-radius: 4px;
}

.counter {
  border-radius: var(--border-radius);
  color: var(--color-white);
  display: inline-block;
  font-family: var(--font-family-black);
  font-size: calc(1.2 * var(--unit));
  line-height: 1;
  vertical-align: middle;
}

.medium {
  padding: var(--spacer-smaller);
}

.small {
  padding: var(--spacer-smallest) var(--spacer-smaller);
}

.neutral {
  background-color: var(--color-neutral-darkest);
}

.mint {
  background-color: var(--color-mint-dark);
}

.violet {
  background-color: var(--color-violet-dark);
}

.teal {
  background-color: var(--color-teal-dark);
}

.ruby {
  background-color: var(--color-ruby-dark);
}

.gold {
  background-color: var(--color-gold-dark);
}

.aqua {
  background-color: var(--color-aqua-dark);
}

@each $color in (neutral, mint, violet, ruby, gold, aqua, teal) {
  .border-$(color) {
    border: 1px solid var(--color-$(color));
  }
  @each $tint in (darkest, dark, light, lightest) {
    .border-$(color)-$(tint) {
      border: 1px solid var(--color-$(color)-$(tint));
    }
  }
}
