.counter {
  border-radius: var(--border-radius-medium);
  color: var(--color-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-inter);
  font-size: calc(1.2 * var(--unit));
  font-weight: 700;
  line-height: 1;
}

.medium {
  min-width: calc(2.4 * var(--unit));
  height: calc(2.4 * var(--unit));
  padding: 0 var(--spacer-smaller);
}

.small {
  min-width: calc(1.8 * var(--unit));
  height: calc(1.8 * var(--unit));
  padding: 0 var(--spacer-smallest);
}

.neutral {
  background-color: var(--color-neutral-darkest);
}

.mint {
  background-color: var(--color-mint-dark);
}

.violet {
  background-color: var(--color-violet-dark);
}

.teal {
  background-color: var(--color-teal-dark);
}

.ruby {
  background-color: var(--color-ruby-dark);
}

.gold {
  background-color: var(--color-gold-dark);
}

.aqua {
  background-color: var(--color-aqua-dark);
}

@each $color in (neutral, mint, violet, ruby, gold, aqua, teal) {
  .border-$(color) {
    border: 1px solid var(--color-$(color));
  }
  @each $tint in (darkest, dark, light, lightest) {
    .border-$(color)-$(tint) {
      border: 1px solid var(--color-$(color)-$(tint));
    }
  }
}
