@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';

.timer {
  cursor: pointer;
  height: 30px;
  min-width: 85px;
  outline: none;
  position: relative;
  text-decoration: none;
  transition: background-color var(--animation-duration) var(--animation-curve-fast-out-slow-in),
    border-color var(--animation-duration) var(--animation-curve-fast-out-slow-in);

  &:not(.is-running) {
    background-color: hsl(var(--color-neutral-darkest-hsl), 12%);
    border: 1px solid hsl(var(--color-neutral-darkest-hsl), 12%);

    &:focus-visible {
      background-color: hsl(var(--color-neutral-darkest-hsl), 12%);
      border-color: hsl(var(--color-neutral-darkest-hsl), 24%);
      box-shadow: 0 0 0 1px hsl(var(--color-neutral-darkest-hsl), 24%);
    }

    &:hover {
      background-color: hsl(var(--color-neutral-darkest-hsl), 18%);
    }

    &:active {
      box-shadow: inset 0 2px 3px hsl(var(--color-neutral-darkest-hsl), 12%);
      background-color: hsl(var(--color-neutral-darkest-hsl), 18%);
    }
  }

  &.is-running {
    background-color: hsl(var(--color-violet-darkest-hsl), 12%);
    border: 1px solid hsl(var(--color-violet-darkest-hsl), 12%);

    &:focus-visible {
      background-color: hsl(var(--color-violet-darkest-hsl), 12%);
      border-color: hsl(var(--color-violet-darkest-hsl), 24%);
      box-shadow: 0 0 0 1px hsl(var(--color-violet-darkest-hsl), 24%);
    }

    &:hover {
      background-color: hsl(var(--color-violet-darkest-hsl), 18%);
    }

    &:active {
      box-shadow: inset 0 2px 3px hsl(var(--color-neutral-darkest-hsl), 12%);
      background-color: hsl(var(--color-violet-darkest-hsl), 18%);
    }
  }
}
