.container {
  min-width: 1056px;
  padding-left: var(--spacer-big);
  padding-right: var(--spacer-big);
}

.is-fixed {
  margin: 0 auto;
  max-width: 1056px;
}

@media (--larger-than-xl-viewport) {
  .container {
    padding-left: var(--spacer-biggest);
    padding-right: var(--spacer-biggest);
  }
}
