@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';
@import '@teamleader/ui-utilities';

:root {
  --toast-background-color: var(--color-teal-dark);
  --toast-border-radius: calc(0.4 * var(--unit));
  --toast-min-width: calc(18 * var(--unit));
  --toast-max-width: calc(37.2 * var(--unit));
  --toast-min-height: calc(6 * var(--unit));
  --toast-spacing: calc(1.8 * var(--unit));
  --toast-offset: calc(3 * var(--unit));
  --toast-animation-curve: var(--animation-curve-fast-out-linear-in);
}

.toast {
  align-items: center;
  border-radius: var(--toast-border-radius);
  background-color: var(--toast-background-color);
  display: flex;
  min-width: var(--toast-min-width);
  max-width: var(--toast-max-width);
  min-height: var(--toast-min-height);
  margin-bottom: var(--toast-spacing);
  padding: var(--toast-spacing);
  transition: all var(--animation-duration) var(--animation-curve-default) var(--animation-duration);
  display: flex;
  align-items: center;
  position: relative;

  .action-link {
    font-family: var(--font-family-inter);
    font-size: 14px;
    font-weight: 500;
    flex-shrink: 0;
    white-space: nowrap;
    padding: 0;
    margin-left: var(--toast-spacing);
  }

  .spinner {
    flex-shrink: 0;
    margin-right: var(--toast-spacing);
  }

  .action-link,
  .action-link:hover {
    color: var(--color-teal-light) !important;
  }

  .label {
    flex-grow: 1;
  }

  .action-button {
    color: var(--color-teal);
    margin-left: var(--toast-spacing);
  }
}

.container {
  bottom: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  right: var(--toast-offset);
  z-index: 600;

  .enter {
    opacity: 0;
    transform: translateY(100%);
    max-height: 0;
  }

  .enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    max-height: 180px;
    transition: opacity 0.3s var(--toast-animation-curve), transform 0.3s var(--toast-animation-curve),
      max-height 0.3s var(--toast-animation-curve);
  }

  .enter-done {
    opacity: 1;
  }

  .exit {
    opacity: 1;
    max-height: 180px;
    transform: translateX(0);
  }

  .exit-active {
    opacity: 0;
    overflow: hidden;
    transform: translate3d(100%, 0, 0);
    max-height: 0px;
    margin-top: 0px;
    transition: opacity 0.5s var(--toast-animation-curve), transform 0.5s var(--toast-animation-curve),
      max-height 0.5s var(--toast-animation-curve) 0.3s;
  }

  .exit-done {
    transition: all 2s ease;
  }
}
