.wrapper {
  height: var(--size);
  border-radius: var(--size);
  background-color: var(--color-marketing-violet-lightest);
  box-shadow: inset 0 0 0 1px var(--color-marketing-violet-light);
}

.icon,
.text {
  color: var(--color-marketing-violet) !important;
}

.is-small {
  --size: 18px;
}

.is-medium {
  --size: 24px;
}
