@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';
@import '@teamleader/ui-utilities';

.bullet {
  display: inline-block;
  margin: auto var(--spacer-smallest);
  position: relative;
  vertical-align: middle;

  &:before {
    border-radius: 50%;
    border: 2px solid;
    content: '';
    display: inline-block;
    height: 9px;
    margin-right: var(--spacer-smaller);
    width: 9px;
  }
}

.mint::before {
  background-color: var(--color-mint-light);
  border-color: var(--color-mint-dark);
}

.violet::before {
  background-color: var(--color-violet-light);
  border-color: var(--color-violet-dark);
}

.neutral::before {
  background-color: var(--color-teal-light);
  border-color: var(--color-teal-dark);
}

.ruby::before {
  background-color: var(--color-ruby-light);
  border-color: var(--color-ruby-dark);
}

.gold::before {
  background-color: var(--color-gold-light);
  border-color: var(--color-gold-dark);
}

.aqua::before {
  background-color: var(--color-aqua-light);
  border-color: var(--color-aqua-dark);
}

.large {
  font-family: var(--font-family-semi-bold);
  font-size: calc(2.0 * var(--unit));
  font-weight: 500;
  line-height: calc(2.4 * var(--unit));
}

.medium {
  font-family: var(--font-family-regular);
  font-size: calc(1.6 * var(--unit));
  font-weight: 400;
  line-height: calc(1.8 * var(--unit));
}

.small {
  font-family: var(--font-family-regular);
  font-size: calc(1.4 * var(--unit));
  font-weight: 400;
  line-height: calc(1.8 * var(--unit));
}
