@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';
@import '@teamleader/ui-utilities';

$mint-background-color: var(--color-mint-light);
$mint-border-color: var(--color-mint-dark);
$violet-background-color: var(--color-violet-light);
$violet-border-color: var(--color-violet-dark);
$neutral-background-color: var(--color-teal-light);
$neutral-border-color: var(--color-teal-dark);
$ruby-background-color: var(--color-ruby-light);
$ruby-border-color: var(--color-ruby-dark);
$gold-background-color: var(--color-gold-light);
$gold-border-color: var(--color-gold-dark);
$aqua-background-color: var(--color-aqua-light);
$aqua-border-color: var(--color-aqua-dark);

$small-bullet-size: 9px;
$small-font-family: var(--font-family-regular);
$small-font-size: calc(1.4 * var(--unit));
$small-font-weight: 400;
$small-line-height: calc(1.8 * var(--unit));

$medium-bullet-size: 9px;
$medium-font-family: var(--font-family-regular);
$medium-font-size: calc(1.6 * var(--unit));
$medium-font-weight: 400;
$medium-line-height: calc(1.8 * var(--unit));

$large-bullet-size: 13px;
$large-font-family: var(--font-family-semi-bold);
$large-font-size: calc(2.0 * var(--unit));
$large-font-weight: 500;
$large-line-height: calc(2.4 * var(--unit));

.bullet {
  color: var(--text-color);
  display: inline-block;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  margin: auto var(--spacer-smallest);
  position: relative;
  vertical-align: middle;

  &:before {
    background: var(--background-color);
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px var(--bullet-border-color);
    content: '';
    display: inline-block;
    height: var(--bullet-size);
    margin-right: var(--spacer-smaller);
    width: var(--bullet-size);
  }
}

.mint::before {
  background-color: $mint-background-color;
  --background-color: var(--color-mint-light);
  box-shadow: inset 0 0 0 2px $mint-border-color;
  --bullet-border-color: var(--color-mint-dark);
}

.violet::before {
  background-color: $violet-background-color;
  --background-color: var(--color-violet-light);
  box-shadow: inset 0 0 0 2px $violet-border-color;
  --bullet-border-color: var(--color-violet-dark);
}

.neutral::before {
  background-color: $neutral-background-color;
  --background-color: var(--color-teal-light);
  box-shadow: inset 0 0 0 2px $neutral-border-color;
  --bullet-border-color: var(--color-teal-dark);
}

.ruby::before {
  background-color: $ruby-background-color;
  --background-color: var(--color-ruby-light);
  box-shadow: inset 0 0 0 2px $ruby-border-color;
  --bullet-border-color: var(--color-ruby-dark);
}

.gold::before {
  background-color: $gold-background-color;
  --background-color: var(--color-gold-light);
  box-shadow: inset 0 0 0 2px $gold-border-color;
  --bullet-border-color: var(--color-gold-dark);
}

.aqua::before {
  background-color: $aqua-background-color;
  --background-color: var(--color-aqua-light);
  box-shadow: inset 0 0 0 2px $aqua-border-color;
  --bullet-border-color: var(--color-aqua-dark);
}

.large {
  font-family: $large-font-family;
  --font-family: var(--font-family-semi-bold);
  font-size: $large-font-size;
  --font-size: calc(2.0 * var(--unit));
  font-weight: $large-font-weight;
  --font-weight: 500;
  line-height: $large-line-height;
  --line-height: calc(2.4 * var(--unit));

  &::before {
    height: $large-bullet-size;
    width: $large-bullet-size;
    --bullet-size: 13px;
  }
}

.medium {
  font-family: $medium-font-family;
  --font-family: var(--font-family-regular);
  font-size: $medium-font-size;
  --font-size: calc(1.6 * var(--unit));
  font-weight: $medium-font-weight;
  --font-weight: 400;
  line-height: $medium-line-height;
  --line-height: calc(1.8 * var(--unit));

  &::before {
    height: $medium-bullet-size;
    width: $medium-bullet-size;
    --bullet-size: 9px;
  }
}

.small {
  font-family: $small-font-family;
  --font-family: var(--font-family-regular);
  font-size: $small-font-size;
  --font-size: calc(1.4 * var(--unit));
  font-weight: $small-font-weight;
  --font-weight: 400;
  line-height: $small-line-height;
  --line-height: calc(1.8 * var(--unit));

  &::before {
    height: $small-bullet-size;
    width: $small-bullet-size;
    --bullet-size: 9px;
  }
}
