.passport {
  width: 300px;
}

.passport-empty {
  max-width: 240px !important;
}

.prevent-overflow {
  overflow: hidden;
}

.prevent-wrap {
  white-space: nowrap;
}

.show-ellipsis {
  text-overflow: ellipsis;
}
