.reset-box-sizing {
  box-sizing: border-box;
}
.reset-font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.reset {
  composes: reset-box-sizing;
  composes: reset-font-smoothing;
}
/* Box-shadows */
.box-shadow-100:before {
  border-radius: 4px;
  bottom: 1px;
  box-shadow: 0 1px 1px 0 rgba(42, 59, 77, 0.12);
  content: '';
  left: 1px;
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: -1;
}
.box-shadow-200:before {
  border-radius: 4px;
  bottom: 2px;
  box-shadow: 0 4px 6px 0 rgba(42, 59, 77, 0.32);
  content: '';
  left: 2px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: -1;
}
.box-shadow-300:before {
  border-radius: 4px;
  bottom: 4px;
  box-shadow: 0 8px 10px 0 rgba(42, 59, 77, 0.32);
  content: '';
  left: 4px;
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: -1;
}
.box-shadow-400:before {
  border-radius: 4px;
  bottom: 8px;
  box-shadow: 0 24px 32px 0 rgba(42, 59, 77, 0.42);
  content: '';
  left: 8px;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: -1;
}
/* Orientation */
/* Devices (defined by max width) */
/* Devices (defined by min-width) */
@keyframes pulse {
  0% {
    opacity: 0.25;
  }
  25% {
    opacity: 0.25;
  }
  35% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.checkbox {
  align-items: flex-start;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox .input {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0;
}
.checkbox .shape {
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #c0c0c4;
  border-radius: 4px;
  color: #ffffff;
  flex-shrink: 0;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  transition: background-color, border-color;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox .icon {
  transform: scale(0);
  opacity: 0;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:hover .shape {
  background-color: #e4e4e6;
  border-color: #82828c;
}
.checkbox.is-checked .shape {
  background-color: #00b2b2;
  border-color: #008a8c;
}
.checkbox.is-checked:hover .shape {
  background-color: #008a8c;
  border-color: #004b4d;
}
.checkbox.is-checked .icon {
  transform: scale(1);
  opacity: 1;
}
.checkbox.is-checked input:focus + .shape {
  box-shadow: inset 0 0 0 1px #004b4d;
  border-color: #004b4d;
}
.checkbox.is-checked input:active + .shape {
  box-shadow: inset 0 1px 3px 0 #004b4d;
}
.checkbox.is-disabled {
  pointer-events: none;
}
.checkbox.is-disabled .shape {
  background-color: #e4e4e6;
  border-color: transparent;
  color: #c0c0c4;
}
.checkbox input:focus + .shape {
  border-color: #82828c;
  box-shadow: inset 0 0 0 1px #82828c;
}
.checkbox input:active + .shape {
  box-shadow: inset 0 1px 3px 0 #82828c;
}
.checkbox.is-small .label {
  margin-left: 6px;
}
.checkbox.is-small .shape {
  width: 18px;
  height: 18px;
}
.checkbox.is-medium .label {
  margin-left: 12px;
  padding-top: 2px;
}
.checkbox.is-medium .shape {
  width: 24px;
  height: 24px;
}
.checkbox.is-large .label {
  margin-left: 12px;
  padding-top: 4px;
}
.checkbox.is-large .shape {
  width: 30px;
  height: 30px;
}
