@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';

:root {
  --unit: 10px;

  --tooltip-arrow-size: calc(.8 * var(--unit));
  --tooltip-arrow-position-correction: calc(0.45 * var(--unit));
  --tooltip-margin: calc(0.8 * var(--unit));
  --tooltip-border-radius: calc(0.4 * var(--unit));
  --tooltip-border-width: 1px;
  --tooltip-box-shadow: 0 3px 12px 0 color(var(--color-teal-darkest) a(10%));
  --tooltip-max-width: calc(18 * var(--unit));
  --tooltip-padding-horizontal: calc(1.2 * var(--unit));
  --tooltip-padding-vertical: calc(0.8 * var(--unit));
  --tooltip-animation-duration: 200ms;
  --tooltip-z-index: 200;
}

.tooltip {
  display: block;
  max-width: var(--tooltip-max-width);
  padding: var(--tooltip-margin);
  pointer-events: none;
  position: absolute;
  text-align: left;
  transform-origin: top left;
  transition: cubic-bezier(0.4, 0, 0.2, 1) var(--tooltip-animation-duration) transform;
  z-index: var(--tooltip-z-index);

  svg {
    color: inherit;
    fill: currentColor;
    -ms-transform: translateY(-1px);

    * {
      fill: currentColor;
    }
  }

  &.tooltipBottom {
    transform: scale(0) translateX(-50%);

    &.tooltipActive {
      transform: scale(1) translateX(-50%);
    }

    .tooltipArrow {
      border-width: var(--tooltip-border-width) 0 0 var(--tooltip-border-width);
      bottom: calc(100% - var(--tooltip-arrow-size) - var(--tooltip-arrow-position-correction));
      left: calc(50% - (var(--tooltip-arrow-size) + var(--tooltip-border-width) * 2) / 2);
    }
  }

  &.tooltipTop {
    transform: scale(0) translateX(-50%) translateY(-100%);

    &.tooltipActive {
      transform: scale(1) translateX(-50%) translateY(-100%);
    }

    .tooltipArrow {
      border-width: 0 var(--tooltip-border-width) var(--tooltip-border-width) 0;
      left: calc(50% - (var(--tooltip-arrow-size) + var(--tooltip-border-width) * 2) / 2);
      top: calc(100% - var(--tooltip-arrow-size) - var(--tooltip-arrow-position-correction));
    }
  }

  &.tooltipLeft {
    transform: scale(0) translateX(-100%) translateY(-50%);

    &.tooltipActive {
      transform: scale(1) translateX(-100%) translateY(-50%);
    }

    .tooltipArrow {
      border-width: var(--tooltip-border-width) var(--tooltip-border-width) 0 0;
      left: calc(100% - var(--tooltip-arrow-size) - var(--tooltip-arrow-position-correction));
      top: calc(50% - (var(--tooltip-arrow-size) + var(--tooltip-border-width) * 2) / 2);
    }
  }

  &.tooltipRight {
    transform: scale(0) translateX(0) translateY(-50%);

    &.tooltipActive {
      transform: scale(1) translateX(0) translateY(-50%);
    }

    .tooltipArrow {
      border-width: 0 0 var(--tooltip-border-width) var(--tooltip-border-width);
      right: calc(100% - var(--tooltip-arrow-size) - var(--tooltip-arrow-position-correction));
      top: calc(50% - (var(--tooltip-arrow-size) + var(--tooltip-border-width) * 2) / 2);
    }
  }
}

.tooltipInner {
  border: var(--tooltip-border-width) solid;
  border-radius: var(--tooltip-border-radius);
  box-shadow: var(--tooltip-box-shadow);
  display: block;
  padding: var(--tooltip-padding-vertical) var(--tooltip-padding-horizontal);
}

.tooltipArrow {
  border-style: solid;
  height: var(--tooltip-arrow-size);
  position: absolute;
  width: var(--tooltip-arrow-size);
  transform: rotate(45deg);
}

.tooltipIcon {
  display: inline-block;
  margin-right: var(--spacer-smaller);
  vertical-align: middle;
}

.tooltipText {
  display: inline-block;
  vertical-align: middle;
}

.aqua {
  .tooltipInner {
    background: var(--color-aqua-lightest);
    border-color: var(--color-aqua);
  }

  .tooltipArrow {
    background: var(--color-aqua-lightest);
    border-color: var(--color-aqua);
  }
}

.gold {
  .tooltipInner {
    background: var(--color-gold-lightest);
    border-color: var(--color-gold);
  }

  .tooltipArrow {
    background: var(--color-gold-lightest);
    border-color: var(--color-gold);
  }
}

.inverse {
  color: var(--color-teal-light);

  .tooltipInner {
    background: var(--color-teal-dark);
    border-color: var(--color-teal-darkest);
  }

  .tooltipArrow {
    background: var(--color-teal-dark);
    border-color: var(--color-teal-darkest);
  }
}

.neutral {
  .tooltipInner {
    background: var(--color-neutral-light);
    border-color: var(--color-neutral);
  }

  .tooltipArrow {
    background: var(--color-neutral-light);
    border-color: var(--color-neutral);
  }
}

.mint {
  .tooltipInner {
    background: var(--color-mint-lightest);
    border-color: var(--color-mint);
  }

  .tooltipArrow {
    background: var(--color-mint-lightest);
    border-color: var(--color-mint);
  }
}

.ruby {
  .tooltipInner {
    background: var(--color-ruby-lightest);
    border-color: var(--color-ruby);
  }

  .tooltipArrow {
    background: var(--color-ruby-lightest);
    border-color: var(--color-ruby);
  }
}

.violet {
  color: var(--color-violet-darkest);

  .tooltipInner {
    background: var(--color-violet-lightest);
    border-color: var(--color-violet);
  }

  .tooltipArrow {
    background: var(--color-violet-lightest);
    border-color: var(--color-violet);
  }
}

.white {
  .tooltipInner {
    background: var(--color-neutral-lightest);
    border-color: var(--color-neutral);
  }

  .tooltipArrow {
    background: var(--color-neutral-lightest);
    border-color: var(--color-neutral);
  }
}
