@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';
@import '@teamleader/ui-typography';

.select {
  font-family: var(--font-family-inter);
  font-size: calc(1.4 * var(--unit));
  font-weight: 400;
  border-color: var(--color-neutral-dark);
}

.dropdown-indicator {
  width: 30px;
}

.is-large .dropdown-indicator {
  width: 36px;
}

.is-large .select {
  font-size: calc(1.6 * var(--unit));
}

.is-tiny .select {
  font-size: calc(1.2 * var(--unit));
}
