@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';
@import '@teamleader/ui-typography';

.row {
  border-bottom: 1px solid var(--color-neutral);
  display: flex;
}

.cell {
  align-items: center;
  color: var(--color-teal-darkest);
  display: flex;
  font-size: 14px;
  flex: 1;
  font-family: var(--font-family-regular);
  min-height: 36px;
  padding: var(--spacer-smaller) var(--spacer-small);
}

.header-cell {
  color: var(--color-neutral-darkest);
  font-family: var(--font-family-bold);
  font-size: 12px;
  text-transform: uppercase;
}

.is-sortable {
  svg {
    margin-left: var(--spacer-smaller);
  }

  &:hover {
    color: var(--color-teal-darkest);
    cursor: pointer;
  }
}

.is-sorted {
  color: var(--color-teal-darkest);
}

/* Cell backgrounds */
.has-background-neutral {
  background-color: var(--color-neutral-light);
}

.has-background-transparent {
  background-color: transparent;
}

.has-background-white {
  background-color: var(--color-white);
}

/* Cell borders */
.has-border-none {
  box-shadow: none;
}

.has-border-around {
  box-shadow: inset 0 0 0 1px var(--color-neutral-dark), 0 0 0 1px var(--color-neutral-dark);
}

.has-border-left {
  box-shadow: inset 1px 0 0 0 var(--color-neutral-dark);
}

.has-border-right {
  box-shadow: inset -1px 0 0 0 var(--color-neutral-dark);
}

/* Cell text */
.is-soft {
  color: var(--color-neutral-darkest);
}

.is-strong {
  font-family: var(--font-family-medium);
}

/* Cell widths */
.flex-fit-content {
  flex: 0 0 auto;
}

.flex-min-width {
  flex: 0 0 36px;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

/* Cell alignment */
.align-left {
  justify-content: flex-start;
}

.align-center {
  justify-content: center;
}

.align-right {
  justify-content: flex-end;
}
