@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';
@import '@teamleader/ui-typography';

.row {
  border-bottom: 1px solid var(--color-neutral);
  display: flex;
}

.cell {
  align-items: center;
  color: var(--color-teal-darkest);
  display: flex;
  font-size: 14px;
  flex: 1;
  font-family: var(--font-family-regular);
  padding: var(--spacer-smaller) var(--spacer-small);
}

.header-cell {
  background: var(--color-neutral-light);
  color: var(--color-neutral-darkest);
  font-family: var(--font-family-medium);
  font-size: 12px;
  text-transform: uppercase;
  padding: var(--spacer-small);

  svg {
    margin-left: var(--spacer-smaller);
  }
}

.is-soft {
  color: var(--color-neutral-darkest);
}

.is-strong {
  font-family: var(--font-family-black);
}

/* Widths */
.flex-fit-content {
  flex: 0 0 auto;
}

.flex-min-width {
  flex: 0 0 48px;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

/* Alignment */
.align-left {
  justify-content: flex-start;
}

.align-center {
  justify-content: center;
}

.align-right {
  justify-content: flex-end;
}
