.reset-box-sizing {
  box-sizing: border-box;
}

.reset-font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.reset {
  composes: reset-box-sizing;
  composes: reset-font-smoothing;
}

/* Box-shadows */

.box-shadow-100:before {
  border-radius: 4px;
  bottom: 1px;
  box-shadow: 0 1px 1px 0 rgba(42, 59, 77, 0.12);
  content: '';
  left: 1px;
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: -1;
}

.box-shadow-200:before {
  border-radius: 4px;
  bottom: 2px;
  box-shadow: 0 4px 6px 0 rgba(42, 59, 77, 0.32);
  content: '';
  left: 2px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: -1;
}

.box-shadow-300:before {
  border-radius: 4px;
  bottom: 4px;
  box-shadow: 0 8px 10px 0 rgba(42, 59, 77, 0.32);
  content: '';
  left: 4px;
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: -1;
}

.box-shadow-400:before {
  border-radius: 4px;
  bottom: 8px;
  box-shadow: 0 24px 32px 0 rgba(42, 59, 77, 0.42);
  content: '';
  left: 8px;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: -1;
}

/* Orientation */

/* Devices (defined by max width) */

/* Devices (defined by min-width) */

.compact-message {
  display: flex;
  align-items: center;
}

.image {
  margin-right: 18px;
}

.content {
  flex: 1;
}

.button {
  align-self: flex-end;
}
