:root {
  --bullet-size: 12px;
  --bullet-center-size: calc(var(--bullet-size) / 2);
  --bullet-halo-size: 24px;
}

.tracker {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 30px;
}

.step {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  align-items: center;
  justify-content: center;
  flex: 2;
  position: relative;

  &:before,
  &:after {
    content: '';
    height: 2px;
    position: absolute;
  }

  &:before {
    background-color: var(--color-neutral-dark);
    width: 100%;
    bottom: 17px;
  }

  &:after {
    height: 4px;
    bottom: 16px;
    left: 50%;
    transition: width var(--animation-duration) var(--animation-curve-default),
      background-color 0.1s var(--animation-curve-default) calc(var(--animation-duration) - 0.1s);
    width: 0;
    z-index: 1;
  }

  &:first-child {
    align-items: flex-start;
    flex: 1;

    .step-label-holder {
      padding-left: 0;
      text-align: left;
    }

    .status-bullet-halo {
      margin-left: calc(var(--bullet-halo-size) * -0.25);
    }

    &::after {
      left: 0;
    }
  }

  &:last-child {
    align-items: flex-end;
    flex: 1;

    .step-label-holder {
      padding-right: 0;
      text-align: right;
    }

    .status-bullet-halo {
      margin-right: calc(var(--bullet-halo-size) * -0.25);
    }
  }

  &.is-completed {
    &:not(:last-child) {
      &:after {
        width: 100%;
      }
    }

    &:first-child {
      &::after {
        width: 200%;
        left: 0;
      }
    }
  }

  .status-bullet {
    background-color: transparent;
    transition: background-color 0.1s var(--animation-curve-default) calc(var(--animation-duration) - 0.1s),
      transform 0.1s var(--animation-curve-fast-out-slow-in);
    border-radius: 50%;
    display: block;
    height: var(--bullet-size);
    margin: 12px 0;
    width: var(--bullet-size);
    z-index: 2;
    position: relative;
    &:before {
      background-color: transparent;
      transition: background-color 0.1s var(--animation-curve-default) calc(var(--animation-duration) - 0.1s);
      border-radius: 50%;
      content: '';
      display: block;
      position: absolute;
      width: var(--bullet-center-size);
      height: var(--bullet-center-size);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .status-bullet-halo {
    transform: scale(0);
    opacity: 0.6;
    transition: transform var(--animation-duration) var(--animation-curve-default)
      calc(var(--animation-duration) - 0.1s);
    border-radius: 50%;
    display: block;
    margin: 12px 0;
    height: var(--bullet-halo-size);
    width: var(--bullet-halo-size);
    position: absolute;
    bottom: calc(var(--bullet-halo-size) * -0.25);
  }

  .step-label-holder {
    width: 100%;
    padding: 0 var(--spacer-smallest);
    text-align: center;
    box-sizing: border-box;
    transition: font-family 0.1s var(--animation-curve-default) calc(var(--animation-duration) - 0.1s),
      opacity 0.1s var(--animation-curve-default) calc(var(--animation-duration) - 0.1s);
  }

  .step-label {
    color: var(--color-teal-darkest);
  }

  .step-meta {
    color: var(--color-neutral-darkest);
  }

  .step-label,
  .step-meta {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:not(.is-completed):not(.is-active) {
    .status-bullet {
      background-color: var(--color-neutral-dark);
    }
  }

  &.is-active {
    .step-label-holder {
      .step-label,
      .step-meta {
        font-family: var(--font-family-inter);
        font-weight: 600;
      }
    }

    .status-bullet {
      &:before {
        animation: showBulletCenter 0.1s calc(var(--animation-duration) - 0.1s) forwards;
      }
    }

    .status-bullet-halo {
      transform: scale(1);
    }
  }

  &.is-clickable {
    .status-bullet:hover {
      cursor: pointer;
      transform: scale(1.5);
    }
  }
}

.tracker-alternating .step:nth-child(even),
.tracker-bottom .step {
  flex-direction: column-reverse;

  &:before {
    bottom: 35px;
  }

  &:after {
    bottom: 34px;
  }

  .status-bullet-halo {
    bottom: 12px;
  }

  &.has-meta {
    &:before {
      bottom: 53px;
    }

    &:after {
      bottom: 52px;
    }

    .status-bullet-halo {
      bottom: 30px;
    }
  }
}

.tracker-alternating {
  .step {
    &:nth-child(even) {
      margin-top: 18px;

      &.has-meta {
        margin-top: 36px;
      }
    }

    &-label-holder {
      width: 200%;
    }
  }
}

.neutral .step {
  &.is-completed,
  &.is-active {
    &:after {
      background-color: var(--color-neutral);
    }
    .status-bullet {
      background-color: var(--color-neutral);
    }
  }

  &.is-active {
    .status-bullet {
      background-color: var(--color-neutral-dark);
    }
  }

  .status-bullet-halo {
    background-color: var(--color-neutral);
  }
}

.mint .step {
  &.is-completed,
  &.is-active {
    &:after {
      background-color: var(--color-mint);
    }
    .status-bullet {
      background-color: var(--color-mint);
    }
  }

  &.is-active {
    .status-bullet {
      background-color: var(--color-mint-dark);
    }
  }

  .status-bullet-halo {
    background-color: var(--color-mint);
  }
}

.aqua .step {
  &.is-completed,
  &.is-active {
    &:after {
      background-color: var(--color-aqua);
    }
    .status-bullet {
      background-color: var(--color-aqua);
    }
  }

  &.is-active {
    .status-bullet {
      background-color: var(--color-aqua-dark);
    }
  }

  .status-bullet-halo {
    background-color: var(--color-aqua);
  }
}

.violet .step {
  &.is-completed,
  &.is-active {
    &:after {
      background-color: var(--color-violet);
    }
    .status-bullet {
      background-color: var(--color-violet);
    }
  }

  &.is-active {
    .status-bullet {
      background-color: var(--color-violet-dark);
    }
  }

  .status-bullet-halo {
    background-color: var(--color-violet);
  }
}

.gold .step {
  &.is-completed,
  &.is-active {
    &:after {
      background-color: var(--color-gold);
    }
    .status-bullet {
      background-color: var(--color-gold);
    }
  }

  &.is-active {
    .status-bullet {
      background-color: var(--color-gold-dark);
    }
  }

  .status-bullet-halo {
    background-color: var(--color-gold);
  }
}

.ruby .step {
  &.is-completed,
  &.is-active {
    &:after {
      background-color: var(--color-ruby);
    }
    .status-bullet {
      background-color: var(--color-ruby);
    }
  }

  &.is-active {
    .status-bullet {
      background-color: var(--color-ruby-dark);
    }
  }

  .status-bullet-halo {
    background-color: var(--color-ruby);
  }
}

.teal .step {
  &.is-completed,
  &.is-active {
    &:after {
      background-color: var(--color-teal);
    }
    .status-bullet {
      background-color: var(--color-teal);
    }
  }

  &.is-active {
    .status-bullet {
      background-color: var(--color-teal-dark);
    }
  }

  .status-bullet-halo {
    background-color: var(--color-teal);
  }
}

@keyframes showBulletCenter {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: var(--color-white);
  }
}
