.marketing-dialog {
  width: 1000px;

  &-text {
    width: 400px;
    display: flex;
    flex-direction: column;
  }

  &-graphic {
    width: 480px;
    height: 270px;
    display: block;
    border: none;
  }
}
