@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';

:root {
  --overlay-z-index: 500;
  --max-label-width: 300px;
}

.label-input {
  position: relative;
  min-height: 36px;
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--color-neutral-dark);
  padding: calc(var(--spacer-smallest) - 1px);
  cursor: text;

  &-focuser {
    width: 0;
    height: 0;
    opacity: 0;
  }

  &:hover {
    border-color: var(--color-neutral-darkest);
  }

  &--active {
    border-color: var(--color-neutral-darkest);
    box-shadow: 0 0 0 1px var(--color-neutral-darkest);
  }

  &--error {
    border-color: var(--color-ruby-dark);
    box-shadow: 0 0 0 1px var(--color-ruby-dark);
  }

  &--warning {
    border-color: var(--color-gold-dark);
    box-shadow: 0 0 0 1px var(--color-gold-dark);
  }
}

.label {
  &--editing {
    position: relative;
    display: inline-block;
    vertical-align: top;
    max-width: var(--max-label-width);
    padding: var(--spacer-smallest);
    margin: var(--spacer-smallest) 0;
    white-space: nowrap;
    overflow: hidden;
    z-index: var(--overlay-z-index);
    line-height: 18px;
    outline: none;
  }

  &--error {
    background-color: hsl(var(--color-ruby-dark-hsl), 12%) !important;
    box-shadow: inset 0 0 0 1px hsl(var(--color-ruby-dark-hsl), 12%) !important;

    button {
      color: var(--color-ruby-dark) !important;
    }

    & > button {
      &:not(.is-disabled) {
        &:hover {
          background-color: hsl(var(--color-ruby-dark-hsl), 18%);
        }

        &:focus-visible {
          box-shadow: 0 0 0 2px hsl(var(--color-ruby-dark-hsl), 24%);
        }

        &:active {
          box-shadow: inset 0 2px 3px hsl(var(--color-ruby-dark-hsl), 24%);
          background-color: hsl(var(--color-ruby-dark-hsl), 12%);
        }
      }

      svg {
        color: var(--color-ruby-dark);
      }
    }
  }

  &-text {
    font-weight: 500 !important;
  }

  &-overlay {
    z-index: calc(var(--overlay-z-index) - 1);
  }
}

.autocomplete {
  position: fixed;
  margin-left: calc(-1 * var(--spacer-smallest));
  margin-top: var(--spacer-smaller);
  min-width: 300px;
  z-index: var(--overlay-z-index);
}

.autocomplete-option {
  cursor: pointer;
}
