@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';
@import '@teamleader/ui-utilities';
@import 'variables.css';

:root {
  --toast-background-color: var(--color-teal-darkest);
  --toast-border-radius: calc(0.4 * var(--unit));
  --toast-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  --toast-color-cancel: var(--color-ruby-darkest);
  --toast-color-accept: var(--color-mint-dark);
  --toast-color-warning: var(--color-gold-dark);
  --toast-color: var(--color-white);
  --toast-padding: calc(1.2 * var(--unit)) calc(2 * var(--unit));
}

.toast {
  align-items: center;
  border-radius: var(--toast-border-radius);
  background-color: var(--toast-background-color);
  bottom: 30px;
  box-shadow: var(--toast-box-shadow);
  color:  var(--toast-color);
  display: flex;
  font-family: var(--font-family-regular);
  font-size: calc(1.4 * var(--unit));
  padding: var(--toast-padding);
  position: fixed;
  right: 30px;
  transition: all var(--animation-duration) var(--animation-curve-default) var(--animation-duration);
  z-index: var(--z-index-high);

  &.accept .button {
    color: var(--toast-color-accept);
  }

  &.warning .button {
    color: var(--toast-color-warning);
  }

  &.cancel .button {
    color: var(--toast-color-cancel);
  }

  &:not(.active) {
    opacity: 0;
    transform: translateY(100%);
  }

  &.active {
    opacity: 1;
    transform: translateY(0%);
  }
}

.button,
.icon-button {
  margin: 0 -14px 0 28px;
}

.icon-button {
  color: var(--toast-color);

  > span {
    font-size: 14px !important;
  }

  &:hover {
    color: var(--toast-color) !important;
  }
}

.label {
  flex-grow: 1;
}
