@import 'colors.css';
@import '@teamleader/ui-typography';
@import 'variables.css';
@import 'media.css';

:root {
  --snackbar-background-color: var(--color-secondary);
  --snackbar-border-radius: calc(0.4 * var(--unit));
  --snackbar-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  --snackbar-color-cancel: var(--palette-red);
  --snackbar-color-accept: var(--palette-green);
  --snackbar-color-warning: var(--palette-orange);
  --snackbar-color: var(--color-white);
  --snackbar-padding: calc(1.2 * var(--unit)) calc(2 * var(--unit));
}

.toast {
  align-items: center;
  border-radius: var(--snackbar-border-radius);
  background-color: var(--snackbar-background-color);
  bottom: 30px;
  box-shadow: var(--snackbar-box-shadow);
  color:  var(--snackbar-color);
  display: flex;
  font-family: var(--font-family-regular);
  font-size: var(--font-size);
  padding: var(--snackbar-padding);
  position: fixed;
  right: 30px;
  transition: all var(--animation-duration) var(--animation-curve-default) var(--animation-duration);
  z-index: var(--z-index-high);

  &.accept .button {
    color: var(--snackbar-color-accept);
  }

  &.warning .button {
    color: var(--snackbar-color-warning);
  }

  &.cancel .button {
    color: var(--snackbar-color-cancel);
  }

  &:not(.active) {
    opacity: 0;
    transform: translateY(100%);
  }

  &.active {
    opacity: 1;
    transform: translateY(0%);
  }
}

.button,
.iconButton {
  margin: 0 -14px 0 28px;
}

.iconButton {
  color: var(--snackbar-color);

  > span {
    font-size: 14px !important;
  }

  &:hover {
    color: var(--snackbar-color) !important;
  }
}

.label {
  flex-grow: 1;
}
