@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';
@import '@teamleader/ui-utilities';

:root {
  --toast-background-color: var(--color-teal-darkest);
  --toast-border-radius: calc(0.4 * var(--unit));
  --toast-min-width: calc(18 * var(--unit));
  --toast-max-width: calc(37.2 * var(--unit));
  --toast-min-height: calc(6 * var(--unit));
  --toast-spacing: calc(1.8 * var(--unit));
  --toast-offset: calc(3 * var(--unit));
}

.toast {
  composes: box-shadow-400;
  composes: reset-box-sizing;
  align-items: center;
  border-radius: var(--toast-border-radius);
  background-color: var(--toast-background-color);
  bottom: var(--toast-offset);
  display: flex;
  min-width: var(--toast-min-width);
  max-width: var(--toast-max-width);
  min-height: var(--toast-min-height);
  padding: var(--toast-spacing);
  position: fixed;
  right: var(--toast-offset);
  transition: all var(--animation-duration) var(--animation-curve-default) var(--animation-duration);
  z-index: var(--z-index-high);
  display: flex;
  align-items: center;
  justify-content: space-between;

  a.action-link {
    color: var(--color-teal-light);
    font-family: var(--font-family-regular);
    font-size: 14px;
    letter-spacing: normal;
    line-height: 19px;
    text-align: right;

    &:hover {
      color: var(--color-teal-light);
    }
  }
}

.action-button {
  margin-left: var(--toast-spacing);
}

.action-link {
  flex-shrink: 0;
  white-space: nowrap;
  padding: 0;
  margin-left: var(--toast-spacing);
}

.spinner {
  margin-right: var(--toast-spacing);
}

.is-exiting,
.is-entering {
  opacity: 0;
  transform: translateY(100%);
}

.is-entered {
  opacity: 1;
  transform: translateY(0%);
}
