:root {
  --palette-red: #E8423B;
  --palette-orange: #F8AC0C;
  --palette-green: #A3CE51;
  --palette-blue-lighter: #5488C4;

  /* Primary */
  --palette-teal-lightest: #C0E2E2;
  --palette-teal-lighter: #6DBABA;
  --palette-teal: #00ACA9;
  --palette-teal-darker: #019A98;
  --palette-teal-darkest: #007873;

  /* Secondary */
  --palette-bluewood-lighter: #465668;
  --palette-bluewood: #2B3B4C;

  /* Grey */
  --palette-grey-100: #FBFBFB;
  --palette-grey-200: #F4F4F4;
  --palette-grey-300: #E9E9E9;
  --palette-grey-400: #DADADA;
  --palette-grey-500: #BABABA;

  /* Social */
  --palette-facebook: #3B5998;
  --palette-linkedin: #0077B5;
  --palette-twitter: #4099FF;

  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-dark-contrast: var(--color-white);
  --color-light-contrast: var(--color-black);
}
