:root {
  --palette-red: #e8423b;
  --palette-orange: #f8ac0c;
  --palette-green: #a3ce51;
  --palette-blue-lighter: #5488c4;

  /* Primary */
  --palette-teal-lightest: #c0e2e2;
  --palette-teal-lighter: #6dbaba;
  --palette-teal: #00aca9;
  --palette-teal-darker: #019a98;
  --palette-teal-darkest: #007873;

  /* Secondary */
  --palette-bluewood-lighter: #465668;
  --palette-bluewood: #2b3b4c;

  /* Grey */
  --palette-grey-100: #fbfbfb;
  --palette-grey-200: #f4f4f4;
  --palette-grey-300: #e9e9e9;
  --palette-grey-400: #dadada;
  --palette-grey-500: #bababa;

  /* Social */
  --palette-facebook: #3b5998;
  --palette-linkedin: #0077b5;
  --palette-twitter: #4099ff;

  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-dark-contrast: var(--color-white);
  --color-light-contrast: var(--color-black);
}
