@import '@teamleader/ui-utilities';

.box {
  box-sizing: border-box;
  margin-bottom: 0;
  margin-top: 0;
}

.margin-top-1 {
  margin-top: var(--spacer-smallest);
}

.margin-top-2 {
  margin-top: var(--spacer-smaller);
}

.margin-top-3 {
  margin-top: var(--spacer-small);
}

.margin-top-4 {
  margin-top: var(--spacer-regular);
}

.margin-top-5 {
  margin-top: var(--spacer-medium);
}

.margin-top-6 {
  margin-top: var(--spacer-big);
}

.margin-top-7 {
  margin-top: var(--spacer-bigger);
}

.margin-top-8 {
  margin-top: var(--spacer-biggest);
}


