.button {
  align-items: center;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  letter-spacing: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color var(--animation-duration) var(--animation-curve-fast-out-slow-in),
    color var(--animation-duration) var(--animation-curve-fast-out-slow-in);
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;

  & > * {
    pointer-events: none;
  }

  &-dark {
    background: hsl(var(--color-black-hsl) / 10%);
    color: var(--color-black);

    &:hover {
      background: hsl(var(--color-black-hsl) / 20%);
    }
  }

  &-light {
    background: hsl(var(--color-white-hsl) / 20%);
    color: var(--color-white);

    &:hover {
      background: hsl(var(--color-white-hsl) / 40%);
    }
  }

  &-pill {
    padding: var(--spacer-smaller) var(--spacer-small);
    border-radius: calc(6 * var(--unit));
  }

  &-box {
    background: transparent;
    width: 54px;
    height: 54px;
  }

  &:active,
  &:focus-visible {
    box-shadow: inset 0px 2px 3px hsl(var(--color-black-hsl) / 24%);
  }

  &::-moz-focus-inner {
    border: 0;
  }
}
