:root {
  --menu-item-background: var(--color-neutral-lightest);
  --menu-item-hover-background: var(--color-neutral-light);
  --menu-item-selected-background: var(--color-aqua-lightest);
  --menu-item-height: calc(3.6 * var(--unit));
}

.marketing-menu-item {
  background-color: var(--menu-item-background);
  border: 0;
  min-height: var(--menu-item-height);
  overflow: hidden;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:not(.is-disabled):not(.is-selected):hover {
    background-color: var(--menu-item-hover-background);
    cursor: pointer;
  }

  &:not(.is-disabled):not(.is-selected):focus-visible {
    background-color: var(--menu-item-hover-background);
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    z-index: 1;
  }

  &.is-disabled {
    pointer-events: none;
    outline: 0;
  }

  &.is-selected {
    background-color: var(--menu-item-selected-background);
  }

  &-link-container {
    pointer-events: none;
  }

  &-text-container {
    color: var(--color-marketing-violet);
  }

  &-icon {
    color: var(--color-marketing-violet) !important;
  }
}
