.reset-box-sizing {
  box-sizing: border-box;
}
.reset-font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.reset {
  composes: reset-box-sizing;
  composes: reset-font-smoothing;
}
/* Box-shadows */
.box-shadow-100:before {
  border-radius: 4px;
  bottom: 1px;
  box-shadow: 0 1px 1px 0 rgba(42, 59, 77, 0.12);
  content: '';
  left: 1px;
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: -1;
}
.box-shadow-200:before {
  border-radius: 4px;
  bottom: 2px;
  box-shadow: 0 4px 6px 0 rgba(42, 59, 77, 0.32);
  content: '';
  left: 2px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: -1;
}
.box-shadow-300:before {
  border-radius: 4px;
  bottom: 4px;
  box-shadow: 0 8px 10px 0 rgba(42, 59, 77, 0.32);
  content: '';
  left: 4px;
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: -1;
}
.box-shadow-400:before {
  border-radius: 4px;
  bottom: 8px;
  box-shadow: 0 24px 32px 0 rgba(42, 59, 77, 0.42);
  content: '';
  left: 8px;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: -1;
}
/* Orientation */
/* Devices (defined by max width) */
/* Devices (defined by min-width) */
.island {
  border: 1px solid;
  border-radius: 4px;
}
.white {
  background-color: #ffffff;
  border-color: #e4e4e6;
  color: #2a3b4d;
}
.white.dark {
  border-color: #c0c0c4;
}
.neutral {
  background-color: #f7f7fa;
  border-color: #e4e4e6;
  color: #2a3b4d;
}
.neutral.dark {
  border-color: #c0c0c4;
}
.mint {
  background-color: #d3f2f2;
  border-color: #00b2b2;
  color: #004b4d;
}
.violet {
  background-color: #f0f0ff;
  border-color: #928cff;
  color: #130abf;
}
.ruby {
  background-color: #ffe2d9;
  border-color: #ff7040;
  color: #992600;
}
.gold {
  background-color: #ffeecc;
  border-color: #ffcc66;
  color: #8f3c00;
}
.aqua {
  background-color: #e6f2ff;
  border-color: #99c9ff;
  color: #004da6;
}
.island-group .island {
  border-radius: 0;
}
.island-group .island:only-child {
  border-radius: 4px;
}
.island-group.direction-horizontal {
  display: flex;
}
.island-group.direction-horizontal .island {
  align-items: center;
  border-width: 1px 1px 1px 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}
.island-group.direction-horizontal .island:first-child {
  border-width: 1px;
}
.island-group.direction-horizontal .island:first-child:not(:only-child) {
  border-radius: 4px 0 0 4px;
}
.island-group.direction-horizontal .island:last-child:not(:only-child) {
  border-radius: 0 4px 4px 0;
  border-width: 1px 1px 1px 0;
}
.island-group.direction-vertical .island {
  border-width: 0 1px 1px 1px;
}
.island-group.direction-vertical .island:first-child {
  border-width: 1px;
}
.island-group.direction-vertical .island:first-child:not(:only-child) {
  border-radius: 4px 4px 0 0;
}
.island-group.direction-vertical .island:last-child:not(:only-child) {
  border-radius: 0 0 4px 4px;
  border-width: 0 1px 1px 1px;
}
