.bullet {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: var(--size);
  height: var(--size);
}

.small {
  --size: 9px;
}

.medium {
  --size: 12px;
}

.large {
  --size: 18px;
}

.neutral {
  background-color: var(--color-neutral-dark);
}

.mint {
  background-color: var(--color-mint);
}

.violet {
  background-color: var(--color-violet-dark);
}

.teal {
  background-color: var(--color-teal-dark);
}

.ruby {
  background-color: var(--color-ruby-dark);
}

.gold {
  background-color: var(--color-gold-dark);
}

.aqua {
  background-color: var(--color-aqua-dark);
}

@each $color in (neutral, mint, violet, ruby, gold, aqua, teal) {
  .border-$(color) {
    box-shadow: 0 0 0 2px var(--color-$(color));
  }
  @each $tint in (darkest, dark, light, lightest) {
    .border-$(color)-$(tint) {
      box-shadow: 0 0 0 2px var(--color-$(color)-$(tint));
    }
  }
}

h1,
h2,
h3,
h4,
p {
  .bullet {
    margin-right: 6px;
  }
}
