@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';

:root {
  --spinner-border-width: 2px;
  --small-spinner-size: calc(1.4 * var(--unit));
  --medium-spinner-size: calc(2.2 * var(--unit));
}

.loading-spinner {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  &:before {
    box-sizing: border-box;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    width: 100%;
  }
}

.is-neutral {
  &.is-lightest:before {
    border: var(--spinner-border-width) solid color(var(--color-neutral-lightest) a(18%));
    border-top-color: var(--color-neutral-lightest);
  }

  &.is-light:before {
    border: var(--spinner-border-width) solid color(var(--color-neutral-light) a(18%));
    border-top-color: var(--color-neutral-light);
  }

  &.is-normal:before {
    border: var(--spinner-border-width) solid color(var(--color-neutral) a(18%));
    border-top-color: var(--color-neutral);
  }

  &.is-dark:before {
    border: var(--spinner-border-width) solid color(var(--color-neutral-dark) a(18%));
    border-top-color: var(--color-neutral-dark);
  }

  &.is-darkest:before {
    border: var(--spinner-border-width) solid color(var(--color-neutral-darkest) a(18%));
    border-top-color: var(--color-neutral-darkest);
  }
}

.is-mint {
  &.is-lightest:before {
    border: var(--spinner-border-width) solid color(var(--color-mint-lightest) a(18%));
    border-top-color: var(--color-mint-lightest);
  }

  &.is-light:before {
    border: var(--spinner-border-width) solid color(var(--color-mint-light) a(18%));
    border-top-color: var(--color-mint-light);
  }

  &.is-normal:before {
    border: var(--spinner-border-width) solid color(var(--color-mint) a(18%));
    border-top-color: var(--color-mint);
  }

  &.is-dark:before {
    border: var(--spinner-border-width) solid color(var(--color-mint-dark) a(18%));
    border-top-color: var(--color-mint-dark);
  }

  &.is-darkest:before {
    border: var(--spinner-border-width) solid color(var(--color-mint-darkest) a(18%));
    border-top-color: var(--color-mint-darkest);
  }
}

.is-violet {
  &.is-lightest:before {
    border: var(--spinner-border-width) solid color(var(--color-violet-lightest) a(18%));
    border-top-color: var(--color-violet-lightest);
  }

  &.is-light:before {
    border: var(--spinner-border-width) solid color(var(--color-violet-light) a(18%));
    border-top-color: var(--color-violet-light);
  }

  &.is-normal:before {
    border: var(--spinner-border-width) solid color(var(--color-violet) a(18%));
    border-top-color: var(--color-violet);
  }

  &.is-dark:before {
    border: var(--spinner-border-width) solid color(var(--color-violet-dark) a(18%));
    border-top-color: var(--color-violet-dark);
  }

  &.is-darkest:before {
    border: var(--spinner-border-width) solid color(var(--color-violet-darkest) a(18%));
    border-top-color: var(--color-violet-darkest);
  }
}

.is-ruby {
  &.is-lightest:before {
    border: var(--spinner-border-width) solid color(var(--color-ruby-lightest) a(18%));
    border-top-color: var(--color-ruby-lightest);
  }

  &.is-light:before {
    border: var(--spinner-border-width) solid color(var(--color-ruby-light) a(18%));
    border-top-color: var(--color-ruby-light);
  }

  &.is-normal:before {
    border: var(--spinner-border-width) solid color(var(--color-ruby) a(18%));
    border-top-color: var(--color-ruby);
  }

  &.is-dark:before {
    border: var(--spinner-border-width) solid color(var(--color-ruby-dark) a(18%));
    border-top-color: var(--color-ruby-dark);
  }

  &.is-darkest:before {
    border: var(--spinner-border-width) solid color(var(--color-ruby-darkest) a(18%));
    border-top-color: var(--color-ruby-darkest);
  }
}

.is-gold {
  &.is-lightest:before {
    border: var(--spinner-border-width) solid color(var(--color-gold-lightest) a(18%));
    border-top-color: var(--color-gold-lightest);
  }

  &.is-light:before {
    border: var(--spinner-border-width) solid color(var(--color-gold-light) a(18%));
    border-top-color: var(--color-gold-light);
  }

  &.is-normal:before {
    border: var(--spinner-border-width) solid color(var(--color-gold) a(18%));
    border-top-color: var(--color-gold);
  }

  &.is-dark:before {
    border: var(--spinner-border-width) solid color(var(--color-gold-dark) a(18%));
    border-top-color: var(--color-gold-dark);
  }

  &.is-darkest:before {
    border: var(--spinner-border-width) solid color(var(--color-gold-darkest) a(18%));
    border-top-color: var(--color-gold-darkest);
  }
}

.is-aqua {
  &.is-lightest:before {
    border: var(--spinner-border-width) solid color(var(--color-aqua-lightest) a(18%));
    border-top-color: var(--color-aqua-lightest);
  }

  &.is-light:before {
    border: var(--spinner-border-width) solid color(var(--color-aqua-light) a(18%));
    border-top-color: var(--color-aqua-light);
  }

  &.is-normal:before {
    border: var(--spinner-border-width) solid color(var(--color-aqua) a(18%));
    border-top-color: var(--color-aqua);
  }

  &.is-dark:before {
    border: var(--spinner-border-width) solid color(var(--color-aqua-dark) a(18%));
    border-top-color: var(--color-aqua-dark);
  }

  &.is-darkest:before {
    border: var(--spinner-border-width) solid color(var(--color-aqua-darkest) a(18%));
    border-top-color: var(--color-aqua-darkest);
  }
}

.is-teal {
  &.is-lightest:before {
    border: var(--spinner-border-width) solid color(var(--color-teal-lightest) a(18%));
    border-top-color: var(--color-teal-lightest);
  }

  &.is-light:before {
    border: var(--spinner-border-width) solid color(var(--color-teal-light) a(18%));
    border-top-color: var(--color-teal-light);
  }

  &.is-normal:before {
    border: var(--spinner-border-width) solid color(var(--color-teal) a(18%));
    border-top-color: var(--color-teal);
  }

  &.is-dark:before {
    border: var(--spinner-border-width) solid color(var(--color-teal-dark) a(18%));
    border-top-color: var(--color-teal-dark);
  }

  &.is-darkest:before {
    border: var(--spinner-border-width) solid color(var(--color-teal-darkest) a(18%));
    border-top-color: var(--color-teal-darkest);
  }
}

.is-small {
  height: var(--small-spinner-size);
  width: var(--small-spinner-size);
}

.is-medium {
  height: var(--medium-spinner-size);
  width: var(--medium-spinner-size);
}
