@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';

:root {
  --popover-background-color: var(--color-white);
  --popover-border-radius: calc(0.4 * var(--unit));
  --popover-box-shadow: 0 0 0 1px color(var(--color-teal-dark) a(20%));
}

.wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: var(--z-index-higher);
  transition: opacity .2s ease-out;
}

.popover {
  composes: box-shadow-200;
  background: var(--popover-background-color);
  border-radius: var(--popover-border-radius);
  box-shadow: var(--popover-box-shadow);
  opacity: 0;
  position: absolute;
  transition: opacity var(--animation-duration) var(--animation-curve-default);
  max-width: 50vw;
  min-width: 300px;
}

.is-entering .popover {
  opacity: 0;
}

.is-entered .popover {
  opacity: 1;
}

.arrow {
  background: var(--color-white);
  box-shadow: var(--popover-box-shadow);
  content: "";
  height: calc(1.4 * var(--unit));
  position: absolute;
  transform: rotate(45deg);
  left: calc(-.5 * var(--unit));
  top: calc(1.4 * var(--unit));
  width: calc(1.4 * var(--unit));
}

.inner {
  background: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: var(--popover-border-radius);
  overflow: hidden;
  position: relative;
}
