@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';

:root {
  --border-color: var(--color-neutral-dark);
  --color-text: var(--color-teal-darkest);
  --color-primary-background: var(--color-white);
  --color-secondary-background: var(--color-neutral);
  --color-shadow: var(--color-neutral-dark);
}

.root {
  display: flex;
  color: var(--color-text);
}

.navigation {
  background: var(--color-primary-background);
  bottom: 0;
  box-sizing: border-box;
  box-shadow: 0 0 5px var(--color-shadow);
  left: 0;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 1;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li a {
      box-sizing: border-box;
      padding: 15px;
      display: inline-block;
      width: 100%;
      color: var(--color-text);
      text-decoration: none;

      &:hover {
        background: var(--color-secondary-background);
      }
    }
  }
}

.content {
  flex: 1;
  padding: 0 20px 0 220px;
  background: var(--color-secondary-background);
}

.section {
  background: var(--color-primary-background);
  box-shadow: 0 0 5px var(--color-shadow);
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
}



body {
  box-sizing: border-box;
  font-family: 'ProximaNova-Regular', trebuchet ms, Verdana, 'Arial', sans-serif;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-size-adjust: 100%;
  margin: 0;
}

.component-spec {
  display: flex;
  flex-direction: row;
}

.properties {
  flex: 1;
}

.preview {
  background-color: var(--background-color);
  flex: 2;
}

.properties + .preview {
  border-left: 1px solid var(--border-color);
  padding-left: 20px;
}

.neutral {
  --background-color: var(--color-white);
}

.mint {
  background-color: var(--color-mint-lightest);
  --background-color: var(--color-mint-lightest);
}

.aqua {
  --background-color: var(--color-aqua-lightest);
}

.violet {
  --background-color: var(--color-violet-lightest);
}

.ruby {
  --background-color: var(--color-ruby-lightest);
}

.gold {
  --background-color: var(--color-gold-lightest);
}

.teal {
  --background-color: var(--color-teal-lightest);
}

.tealdark {
  --background-color: var(--color-teal-dark);
}
