@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';
@import '@teamleader/ui-utilities';

.label {
  display: inline-block;
  font-family: var(--font-family-semi-bold);
  font-weight: 500;
  margin: auto var(--spacer-smallest);
  vertical-align: middle;
}

.neutral {
  background-color: var(--color-teal-light);
  color: var(--color-teal-darkest);
}

.mint {
  background-color: var(--color-mint-lightest);
  color: var(--color-mint-darkest);
}

.violet {
  background-color: var(--color-violet-light);
  color: var(--color-violet-darkest);
}

.ruby {
  background-color: var(--color-ruby-light);
  color: var(--color-ruby-darkest);
}

.gold {
  background-color: var(--color-gold-light);
  color: var(--color-gold-darkest);
}

.aqua {
  background-color: var(--color-aqua-light);
  color: var(--color-aqua-darkest);
}

.medium {
  font-size: calc(1.4 * var(--unit));
  line-height: calc(1.8 * var(--unit));
  padding: var(--spacer-smallest) var(--spacer-smaller);
}

.small {
  font-size: calc(1.2 * var(--unit));
  font-variant-caps: small-caps;
  line-height: calc(1.8 * var(--unit));
  padding: 0 var(--spacer-smaller);
}
