@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';

.header-row-overlay {
  background: var(--color-neutral-light);
  position: absolute;
  left: 48px;
  right: 0;
  height: 48px;
  overflow-x: auto;
  z-index: 3;
}
