@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';
@import '@teamleader/ui-typography';

:root {
  --badge-border-radius: calc(0.4 * var(--unit));
  --badge-border-width: 1px;
}

.badge {
  border-radius: var(--badge-border-radius);
  border-style: solid;
  border-width: var(--badge-border-width);
  display: inline-flex;
  align-items: center;
  outline: none;
  position: relative;
  text-decoration: none;
  transition: background-color var(--animation-duration) var(--animation-curve-fast-out-slow-in);

  svg {
    -ms-transform: translateY(-1px);
  }

  .icon + .label,
  .label + .icon {
    margin-left: var(--spacer-smaller);
  }

  .icon {
    opacity: 0.86;
  }

  &.neutral {
    &:not(.is-inverse) {
      background-color: color(var(--color-neutral-darkest) a(12%));
      border-color: color(var(--color-neutral-darkest) a(12%));
      color: var(--color-teal-darkest);

      &:not(.is-disabled) {
        &:hover,
        &:active {
          background-color: color(var(--color-neutral-darkest) a(24%));
        }

        &:focus {
          background-color: color(var(--color-teal-darkest) a(6%));
          border-color: color(var(--color-neutral-darkest) a(24%));
          box-shadow: 0 0 0 var(--badge-border-width) color(var(--color-neutral-darkest) a(24%));
        }

        &:active {
          box-shadow: inset 0 1px 3px 0 color(var(--color-teal-darkest) a(12%));

          .icon {
            opacity: 1;
          }
        }
      }
    }

    &.is-inverse {
      background-color: color(var(--color-neutral-lightest) a(12%));
      border-color: color(var(--color-neutral-lightest) a(12%));
      color: var(--color-teal-lightest);

      &:not(.is-disabled) {
        &:hover,
        &:active {
          background-color: color(var(--color-neutral-lightest) a(24%));
        }

        &:focus {
          background-color: color(var(--color-white) a(12%));
          border-color: color(var(--color-white: #ffffff) a(24%));
          box-shadow: 0 0 0 var(--badge-border-width) color(var(--color-neutral-darkest) a(24%));
        }

        &:active {
          box-shadow: inset 0 1px 3px 0 var(--color-teal-darkest);

          .icon {
            opacity: 1;
          }
        }
      }
    }
  }

  &.mint {
    background-color: color(var(--color-mint-light) a(48%));
    border-color: color(var(--color-mint-light) a(48%));
    color: var(--color-mint-darkest);

    &:not(.is-disabled) {
      &:hover {
        border-color: color(var(--color-mint-light) a(100%));
      }

      &:focus {
        border-color: color(var(--color-mint-light: #ffffff) a(100%));
        box-shadow: 0 0 0 var(--badge-border-width) color(var(--color-mint-light) a(100%));
      }

      &:active {
        box-shadow: inset 0 1px 3px 0 var(--color-mint-light);

        .icon {
          opacity: 1;
        }
      }
    }

    .icon {
      color: var(--color-mint-darkest);
    }
  }

  &.violet {
    background-color: color(var(--color-violet-light) a(48%));
    border-color: color(var(--color-violet-light) a(48%));
    color: var(--color-violet-darkest);

    &:not(.is-disabled) {
      &:hover {
        border-color: color(var(--color-violet-light) a(100%));
      }

      &:focus {
        border-color: color(var(--color-violet-light: #ffffff) a(100%));
        box-shadow: 0 0 0 var(--badge-border-width) color(var(--color-violet-light) a(100%));
      }

      &:active {
        box-shadow: inset 0 1px 3px 0 var(--color-violet-light);

        .icon {
          opacity: 1;
        }
      }
    }

    .icon {
      color: var(--color-violet-darkest);
    }
  }

  &.ruby {
    background-color: color(var(--color-ruby-light) a(48%));
    border-color: color(var(--color-ruby-light) a(48%));
    color: var(--color-ruby-darkest);

    &:not(.is-disabled) {
      &:hover {
        border-color: color(var(--color-ruby-light) a(100%));
      }

      &:focus {
        border-color: color(var(--color-ruby-light: #ffffff) a(100%));
        box-shadow: 0 0 0 var(--badge-border-width) color(var(--color-ruby-light) a(100%));
      }

      &:active {
        box-shadow: inset 0 1px 3px 0 var(--color-ruby-light);

        .icon {
          opacity: 1;
        }
      }
    }

    .icon {
      color: var(--color-ruby-darkest);
    }
  }

  &.aqua {
    background-color: color(var(--color-aqua-light) a(48%));
    border-color: color(var(--color-aqua-light) a(48%));
    color: var(--color-aqua-darkest);

    &:not(.is-disabled) {
      &:hover {
        border-color: color(var(--color-aqua-light) a(100%));
      }

      &:focus {
        border-color: color(var(--color-aqua-light: #ffffff) a(100%));
        box-shadow: 0 0 0 var(--badge-border-width) color(var(--color-aqua-light) a(100%));
      }

      &:active {
        box-shadow: inset 0 1px 3px 0 var(--color-aqua-light);

        .icon {
          opacity: 1;
        }
      }
    }

    .icon {
      color: var(--color-aqua-darkest);
    }
  }

  &.gold {
    background-color: color(var(--color-gold-light) a(48%));
    border-color: color(var(--color-gold-light) a(48%));
    color: var(--color-gold-darkest);

    &:not(.is-disabled) {
      &:hover {
        border-color: color(var(--color-gold-light) a(100%));
      }

      &:focus {
        border-color: color(var(--color-gold-light: #ffffff) a(100%));
        box-shadow: 0 0 0 var(--badge-border-width) color(var(--color-gold-light) a(100%));
      }

      &:active {
        box-shadow: inset 0 1px 3px 0 var(--color-gold-light);

        .icon {
          opacity: 1;
        }
      }
    }

    .icon {
      color: var(--color-gold-darkest);
    }
  }

  &:not(.is-disabled) {
    cursor: pointer;

    &:active {
      &:before {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        content: '';
        height: 10px;
        left: 0;
        position: absolute;
        opacity: 0.05;
        top: 0;
        width: 100%;
      }
    }
  }

  &.is-disabled {
    opacity: 0.48;
    pointer-events: none;
  }

  &.is-inherit {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    margin: auto var(--spacer-smallest);
    text-transform: inherit;
  }
}
