@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';
@import '@teamleader/ui-utilities';

:root {
  --border-radius: calc(0.4 * var(--unit));
  --input-error-border: var(--color-ruby-dark);
  --input-error-border-inverse: var(--color-ruby-light);
  --input-warning-border: var(--color-gold-dark);
  --input-warning-border-inverse: var(--color-gold-light);
  --input-height-large: calc(4.6 * var(--unit));
  --input-height-medium: calc(3.4 * var(--unit));
  --input-height-small: calc(2.8 * var(--unit));
  --input-text-size: calc(1.4 * var(--unit));
  --input-text-size-large: calc(1.6 * var(--unit));
}

.date-picker {
  display: inline-block;

  &-input {
    input {
      cursor: default;
    }
  }
}

.is-bordered {
  .wrapper {
    border: 1px solid var(--color-neutral);
    border-radius: var(--border-radius);
    overflow: hidden;
  }
}

.wrapper {
  flex-direction: row;
  position: relative;
  user-select: none;
}

.months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.month {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  margin: 0 var(--spacer-regular) var(--spacer-regular);
  user-select: none;

  &:not(:only-child) {
    .caption {
      padding-bottom: 9px;
    }
  }

  &:only-child {
    margin: 0 !important;

    .caption {
      background-color: var(--color-neutral-light);
    }

    .weekdays {
      border-radius: 0;
      box-shadow: inset 0 -1px 0 0 var(--color-neutral);
    }

    .body {
      border-radius: 0;
      box-shadow: none;
    }
  }
}

.navBar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.caption {
  color: var(--color-teal-darkest);
  display: table-caption;
  font-family: var(--font-family-inter);
  font-weight: 400;
  text-align: center;
}

.month-picker-field {
  width: auto !important;
  margin: 0 3px;
}

.weekdays {
  background-color: var(--color-neutral-light);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  box-shadow: inset 0 -1px 0 0 var(--color-neutral), inset 0 1px 0 0 var(--color-neutral),
    inset -1px 0 0 0 var(--color-neutral), inset 1px 0 0 0 var(--color-neutral);
  display: table-header-group;
  margin-top: 1rem;
}

.weekdaysRow {
  display: table-row;
}

.weekday {
  display: table-cell;
  color: var(--color-neutral-darkest);
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.body {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: inset -1px 0 0 0 var(--color-neutral), inset 1px 0 0 0 var(--color-neutral),
    inset 0 -1px 0 0 var(--color-neutral);
  display: table-row-group;
}

.week {
  display: table-row;

  &:last-child {
    .day {
      box-shadow: inset -1px 0 0 0 var(--color-neutral);

      &:first-child {
        border-radius: 0 0 0 var(--border-radius);
      }

      &:last-child {
        border-radius: 0 0 var(--border-radius) 0;
        box-shadow: none;
      }
    }
  }
}

.day {
  box-shadow: inset 0 -1px 0 0 var(--color-neutral), inset -1px 0 0 0 var(--color-neutral);
  cursor: pointer;
  display: table-cell;
  font-family: var(--font-family-inter);
  font-size: 14px;
  font-weight: 400;
  outline: none;
  text-align: center;
  vertical-align: middle;

  &:last-child {
    box-shadow: inset 0 -1px 0 0 var(--color-neutral);
  }
}

.weekNumber {
  border-right: 1px solid var(--color-neutral);
  color: var(--color-neutral-dark);
  cursor: pointer;
  display: table-cell;
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-weight: 400;
  min-width: 1rem;
  outline: none;
  text-align: right;
  vertical-align: middle;
}

.interactionDisabled .day {
  cursor: default;
}

.footer {
  padding-top: 9px;
}

.todayButton {
  background-image: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  color: var(--color-aqua);
  font-size: 12px;
}

.today {
  background: var(--color-neutral);
  font-family: var(--font-family-inter);
  font-weight: 700;
}

.outside {
  color: var(--color-neutral-darkest);
  cursor: default;
}

.disabled {
  background-color: var(--color-neutral-light);
  color: var(--color-neutral-dark);
  cursor: default;
}

.selected:not(.disabled):not(.outside) {
  background-color: var(--color-violet-darkest);
  color: var(--color-violet-lightest);
  position: relative;
}

.day:not(.disabled):not(.selected):not(.outside) {
  color: var(--color-teal-darkest);
}

.day:not(.disabled):not(.selected):hover {
  background-color: var(--color-violet-lightest);
  color: var(--color-violet-darkest);
}

.input-wrapper {
  align-items: center;
  border: 1px solid;
  border-radius: var(--border-radius);
  display: flex;
  transition: 0.3s ease-in-out border, 0.3s ease-in-out box-shadow;
  white-space: nowrap;

  input {
    background: transparent;
    border: 0;
    border-radius: var(--border-radius);
    font-family: var(--font-family-inter);
    font-size: var(--input-text-size);
    font-weight: 400;
    outline: 0;
    padding: 0;
    width: 100%;
  }
}

.has-warning {
  &:not(.has-focus) {
    &:not(.is-inverse) {
      .input-wrapper {
        border-color: var(--input-warning-border) !important;
        box-shadow: 0 0 0 1px var(--input-warning-border);
      }
    }

    &.is-inverse {
      .input-wrapper {
        border-color: var(--input-warning-border-inverse) !important;
        box-shadow: 0 0 0 1px var(--input-warning-border-inverse);
      }
    }
  }
}

.has-error {
  &:not(.has-focus) {
    &:not(.is-inverse) {
      .input-wrapper {
        border-color: var(--input-error-border) !important;
        box-shadow: 0 0 0 1px var(--input-error-border);
      }
    }

    &.is-inverse {
      .input-wrapper {
        border-color: var(--input-error-border-inverse) !important;
        box-shadow: 0 0 0 1px var(--input-error-border-inverse);
      }
    }
  }
}

.is-small {
  .caption {
    font-size: 12px;
    padding-bottom: var(--spacer-smallest);
    padding-top: var(--spacer-smaller);
  }

  .day {
    box-shadow: none !important;
    font-size: 12px;
    padding: 6px;

    &:first-child {
      box-shadow: none;
    }
  }

  .month {
    margin: 0 var(--spacer-smaller) var(--spacer-smaller);
  }

  .navBar {
    padding-left: var(--spacer-smaller);
    padding-right: var(--spacer-smaller);
    padding-top: var(--spacer-smaller);

    &-with-month-picker {
      padding-top: var(--spacer-small);
    }
  }

  .weekday {
    padding: 6px;
  }

  .weekNumber {
    font-size: 12px;
    padding: 6px;
  }

  .input-wrapper {
    input {
      height: var(--input-height-small);
    }
  }
}

.is-medium {
  .caption {
    font-size: 14px;
    padding-bottom: var(--spacer-smallest);
    padding-top: var(--spacer-small);
  }

  .day {
    padding: 9px;
  }

  .month {
    margin: 0 var(--spacer-small) var(--spacer-small);
  }

  .navBar {
    padding-top: var(--spacer-small);
    padding-left: var(--spacer-small);
    padding-right: var(--spacer-small);

    &-with-month-picker {
      padding-top: var(--spacer-regular);
    }
  }

  .weekday {
    padding: 12px;
  }

  .weekNumber {
    font-size: 12px;
    padding: 9px;
  }

  .input-wrapper {
    input {
      height: var(--input-height-medium);
    }
  }
}

.is-large {
  .caption {
    font-family: var(--font-family-inter);
    font-size: 16px;
    font-weight: 500;
    padding-bottom: var(--spacer-small);
    padding-top: var(--spacer-regular);
  }

  .day {
    padding: 15px;
  }

  .month {
    margin: 0 var(--spacer-regular) var(--spacer-regular);
  }

  .navBar {
    padding-left: var(--spacer-smaller);
    padding-right: var(--spacer-smaller);
    padding-top: 15px;

    &-with-month-picker {
      padding-top: var(--spacer-regular);
    }
  }

  .weekday {
    padding: 12px;
  }

  .weekNumber {
    font-size: 16px;
    padding: 12px;
  }

  .input-wrapper {
    input {
      font-size: var(--input-text-size-large);
      height: var(--input-height-large);
    }
  }
}
