:root {
  --checkbox-border-width: 1px;

  --checkbox-shape-size-small: 18px;
  --checkbox-shape-size-medium: 24px;
  --checkbox-shape-size-large: 30px;
}

.checkbox {
  align-items: flex-start;
  display: flex;
  user-select: none;

  .input {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    margin: 0;
  }

  .label {
    margin-left: var(--spacer-small);
  }

  .shape {
    box-sizing: border-box;
    background-color: var(--color-neutral-lightest);
    border: var(--checkbox-border-width) solid var(--color-neutral-dark);
    border-radius: 4px;
    color: var(--color-white);
    flex-shrink: 0;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color, border-color;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-curve-default);
  }

  .icon {
    transform: scale(0);
    opacity: 0;
    transition: all var(--animation-duration) var(--animation-curve-default);
  }

  &:hover {
    .shape {
      background-color: var(--color-neutral);
      border-color: var(--color-neutral-darkest);
    }
  }

  &.is-checked {
    .shape {
      background-color: var(--color-mint);
      border-color: var(--color-mint-dark);
    }

    &:hover .shape {
      background-color: var(--color-mint-dark);
      border-color: var(--color-mint-darkest);
    }

    .icon {
      transform: scale(1);
      opacity: 1;
    }

    input:focus + .shape {
      box-shadow: inset 0 0 0 1px var(--color-mint-darkest);
      border-color: var(--color-mint-darkest);
    }

    input:active + .shape {
      box-shadow: inset 0 1px 3px 0 var(--color-mint-darkest);
    }
  }

  &.is-disabled {
    pointer-events: none;

    .shape {
      background-color: var(--color-neutral);
      border-color: transparent;
      color: var(--color-neutral-dark);
    }
  }

  input:focus + .shape {
    border-color: var(--color-neutral-darkest);
    box-shadow: inset 0 0 0 1px var(--color-neutral-darkest);
  }

  input:active + .shape {
    box-shadow: inset 0 1px 3px 0 var(--color-neutral-darkest);
  }

  &.is-small {
    .shape {
      width: var(--checkbox-shape-size-small);
      height: var(--checkbox-shape-size-small);
    }
  }

  &.is-medium {
    .label {
      padding-top: var(--spacer-smallest);
    }

    .shape {
      width: var(--checkbox-shape-size-medium);
      height: var(--checkbox-shape-size-medium);
    }
  }

  &.is-large {
    .label {
      padding-top: var(--spacer-smallest);
    }

    .shape {
      width: var(--checkbox-shape-size-large);
      height: var(--checkbox-shape-size-large);
    }
  }
}
