:root {
  --button-group-button-border-radius: calc(0.4 * var(--unit));
  --button-group-button-margin: calc(0.6 * var(--unit));
}

.group {
  display: flex;
  align-items: center;
  min-width: 0;

  > * {
    margin-left: var(--button-group-button-margin);
    margin-right: var(--button-group-button-margin);
  }

  > *:first-child {
    margin-left: 0;
  }

  > *:last-child {
    margin-right: 0;
  }
}

.segmented {
  > * {
    border-radius: 0;
    margin-left: -1px;
    margin-right: 0;
  }

  > *:first-child:not(:only-child) {
    border-radius: var(--button-group-button-border-radius) 0 0 var(--button-group-button-border-radius);
    margin-left: 0;
  }

  > *:last-child:not(:only-child) {
    border-radius: 0 var(--button-group-button-border-radius) var(--button-group-button-border-radius) 0;
  }

  > *:only-child {
    border-radius: var(--button-group-button-border-radius);
  }
}
