@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';

.section {
  border-bottom: 1px solid;
}

.white {
  background-color: var(--color-white);
  border-color: var(--color-neutral);
  color: var(--color-teal-darkest);

  &.dark {
    border-color: var(--color-neutral-dark);
  }
}

.neutral {
  background-color: var(--color-neutral-light);
  border-color: var(--color-neutral);
  color: var(--color-teal-darkest);

  &.dark {
    border-color: var(--color-neutral-dark);
  }
}

.mint {
  background-color: var(--color-mint-lightest);
  border-color: var(--color-mint);
  color: var(--color-mint-darkest);
}

.violet {
  background-color: var(--color-violet-lightest);
  border-color: var(--color-violet);
  color: var(--color-violet-darkest);
}

.ruby {
  background-color: var(--color-ruby-lightest);
  border-color: var(--color-ruby);
  color: var(--color-ruby-darkest);
}

.gold {
  background-color: var(--color-gold-lightest);
  border-color: var(--color-gold);
  color: var(--color-gold-darkest);
}

.aqua {
  background-color: var(--color-aqua-lightest);
  border-color: var(--color-aqua);
  color: var(--color-aqua-darkest);
}

