.overlay {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: background var(--animation-duration) var(--animation-curve-default);
  width: 100%;
}

.is-entered {
  &.dark {
    background-color: hsl(var(--color-teal-dark-hsl), 50%);
  }
}
