@import '@teamleader/ui-typography';

:root {
  --border-color: #D1D1D1;
}

body {
  box-sizing: border-box;
  font-family: var(--font-family-regular);
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-size-adjust: 100%;
  margin: 0;
}

.component-spec {
  display: flex;
  flex-direction: row;
}

.properties {
  flex: 1;
}

.preview {
  flex: 1;
}

.properties + .preview {
  border-left: 1px solid var(--border-color);
  padding-left: 20px;
}
