.label {
  overflow: hidden;
  text-transform: none;
  vertical-align: middle;
}

.medium {
  border-radius: 12px;
  height: 24px;
}

.small {
  border-radius: 9px;
  height: 18px;
}

.inner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
