@import '@teamleader/ui-colors';

.label {
  text-transform: none;
  vertical-align: middle;
}

.neutral {
  color: var(--color-teal-darkest);
}

@each $color in (mint, violet, ruby, gold, aqua) {
  .$(color) {
    color: var(--color-$(color)-darkest);
  }
}

.medium {
  border-radius: 12px;
  height: 24px;
}

.small {
  border-radius: 9px;
  height: 18px;
}
