@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';
@import '@teamleader/ui-utilities';

:root {
  --overflow-padding-horizontal: 8px;
  --stacked-avatars-overlap-margin: -4px;

  --tiny-size: 24px;
  --small-size: 30px;
  --medium-size: 48px;
  --large-size: 72px;
  --hero-size: 144px;

  --shape-circle-image-border-radius: 50%;
  --shape-rounded-image-border-radius: 4px;
}

.avatar {
  position: relative;
}

/* AvatarImage */
.avatar-image {
  display: flex;
}

.children {
  position: absolute;
  z-index: 1;
}

.initials {
  line-height: 1;
}

.image {
  display: block;
  overflow: hidden;
}

/* AvatarStack */
.stack {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.overflow {
  align-items: center;
  align-self: center;
  display: flex;
  font-family: var(--font-family-medium);
  justify-content: center;
  line-height: 1;
  padding: 0 var(--overflow-padding-horizontal);
}

.overlay {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.overlay-background {
  background-color: color(var(--color-teal-darkest) a(0.84));
  cursor: pointer;
  height: 24px;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.dark {
  .overflow {
    background: color(var(--color-teal-darkest) a(10%));
    color: var(--color-neutral-darkest);
  }
}

.light {
  .overflow {
    background: color(var(--color-white) a(10%));
    color: var(--color-white);
  }
}

.horizontal {
  flex-direction: row-reverse;

  > *:not(:last-child) {
    margin-left: var(--stacked-avatars-overlap-margin);
  }
}

.vertical {
  flex-direction: column-reverse;

  > *:not(:last-child) {
    margin-top: var(--stacked-avatars-overlap-margin);
  }
}

.is-tiny {
  &.avatar,
  .avatar-image,
  .avatar-initials,
  .image {
    height: var(--tiny-size);
    width: var(--tiny-size);
  }

  .initials {
    font-size: 8px;
  }

  .children {
    bottom: 50%;
    left: 60%;
  }

  .overflow {
    border-radius: var(--tiny-size);
    font-size: calc(1.2 * var(--unit));
    height: var(--tiny-size);
    min-width: calc(var(--tiny-size) - var(--overflow-padding-horizontal) * 2);
  }
}

.is-small {
  &.avatar,
  .avatar-image,
  .avatar-initials,
  .image {
    height: var(--small-size);
    width: var(--small-size);
  }

  .children {
    bottom: 60%;
    left: 76%;
  }

  .overflow {
    border-radius: var(--small-size);
    font-size: calc(1.4 * var(--unit));
    height: var(--small-size);
    min-width: calc(var(--small-size) - var(--overflow-padding-horizontal) * 2);
  }
}

.is-medium {
  &.avatar,
  .avatar-image,
  .avatar-initials,
  .image {
    height: var(--medium-size);
    width: var(--medium-size);
  }

  .children {
    bottom: 65%;
    left: 80%;
  }

  .overflow {
    border-radius: var(--medium-size);
    font-size: calc(1.6 * var(--unit));
    height: var(--medium-size);
    min-width: calc(var(--medium-size) - var(--overflow-padding-horizontal) * 2);
  }
}

.is-large {
  &.avatar,
  .avatar-image,
  .avatar-initials,
  .image {
    height: var(--large-size);
    width: var(--large-size);
  }

  .initials {
    font-size: 18px;
  }

  .children {
    bottom: 75%;
    left: 75%;
  }

  .overflow {
    border-radius: var(--large-size);
    font-size: calc(1.8 * var(--unit));
    height: var(--large-size);
    min-width: calc(var(--large-size) - var(--overflow-padding-horizontal) * 2);
  }
}

.is-hero {
  &.avatar,
  .avatar-image,
  .avatar-initials,
  .image {
    height: var(--hero-size);
    width: var(--hero-size);
  }

  .initials {
    font-size: 36px;
  }

  .children {
    bottom: 81%;
    left: 81%;
  }

  .overflow {
    border-radius: var(--hero-size);
    font-size: calc(3.6 * var(--unit));
    height: var(--hero-size);
    min-width: calc(var(--hero-size) - var(--overflow-padding-horizontal) * 2);
  }
}

.is-circle {
  .avatar-image .image,
  .avatar-initials,
  .overlay {
    border-radius: var(--shape-circle-image-border-radius);
  }
}

.is-rounded {
  .avatar-image .image,
  .avatar-initials {
    border-radius: var(--shape-rounded-image-border-radius);
  }

  .overlay {
    border-radius: 0 0 var(--shape-rounded-image-border-radius) var(--shape-rounded-image-border-radius);
  }
}

/*AvatarInitials*/
.avatar-initials {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  .initials {
    color: var(--color-neutral-lightest);
    text-transform: uppercase;
    letter-spacing: 0px;
  }
}

.neutral {
  background-color: var(--color-neutral-darkest);
}

.mint {
  background-color: var(--color-mint);
}

.violet {
  background-color: var(--color-violet);
}

.teal {
  background-color: var(--color-teal);
}

.ruby {
  background-color: var(--color-ruby);
}

.gold {
  background-color: var(--color-gold);
}

.aqua {
  background-color: var(--color-aqua);
}
