:root {
  --overflow-padding-horizontal: 8px;
  --stacked-avatars-spacing: 12px;

  --tiny-size: 24px;
  --small-size: 30px;
  --medium-size: 48px;
  --large-size: 72px;
  --hero-size: 144px;

  --shape-circle-image-border-radius: 50%;
  --shape-rounded-image-border-radius: 4px;
}

.wrapper {
  position: relative;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.children {
  position: absolute;
  z-index: 1;
}

/* AvatarInitials */
.initials {
  letter-spacing: 0px;
  line-height: 1;
  user-select: none;
}

.image {
  border-radius: inherit;
  display: block;
  height: inherit;
  overflow: hidden;
  width: inherit;
  object-fit: cover;

  &--contain {
    object-fit: contain;
  }
}

.overflow {
  font-family: var(--font-family-inter);
  font-weight: 500;
  line-height: 1;
  padding: 0 var(--overflow-padding-horizontal);
  user-select: none;
}

.overlay {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.overlay-background {
  cursor: pointer;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.default-height {
  background-color: hsl(var(--color-teal-darkest-hsl) / 0.84);
  height: 24px;
}

.full-height {
  background-color: hsl(var(--color-teal-darkest-hsl) / 0.48);
  height: 100%;
}

.dark {
  .overflow {
    background: hsl(var(--color-teal-darkest-hsl) / 10%);
    color: var(--color-neutral-darkest);
  }
}

.light {
  .overflow {
    background: hsl(var(--color-white-hsl) / 10%);
    color: var(--color-white);
  }
}

.has-overlapping-avatars {
  .is-tiny .avatar {
    box-shadow: 0 0 0 1px var(--color-neutral-lightest);
  }
  .is-small .avatar {
    box-shadow: 0 0 0 2px var(--color-neutral-lightest);
  }
  .is-medium .avatar {
    box-shadow: 0 0 0 2px var(--color-neutral-lightest);
  }
  .is-large .avatar {
    box-shadow: 0 0 0 4px var(--color-neutral-lightest);
  }
  .is-hero .avatar {
    box-shadow: 0 0 0 6px var(--color-neutral-lightest);
  }
}

.is-tiny {
  &.wrapper,
  .avatar {
    height: var(--tiny-size);
    width: var(--tiny-size);
  }

  .initials {
    font-size: 8px;
  }

  .children {
    bottom: 50%;
    left: 60%;
  }

  .overflow {
    border-radius: var(--tiny-size);
    font-size: calc(1.2 * var(--unit));
    height: var(--tiny-size);
    min-width: var(--tiny-size);
  }
}

.is-small {
  &.wrapper,
  .avatar {
    height: var(--small-size);
    width: var(--small-size);
  }

  .children {
    bottom: 60%;
    left: 76%;
  }

  .overflow {
    border-radius: var(--small-size);
    font-size: calc(1.4 * var(--unit));
    height: var(--small-size);
    min-width: var(--small-size);
  }
}

.is-medium {
  &.wrapper,
  .avatar {
    height: var(--medium-size);
    width: var(--medium-size);
  }

  .children {
    bottom: 65%;
    left: 80%;
  }

  .overflow {
    border-radius: var(--medium-size);
    font-size: calc(1.6 * var(--unit));
    height: var(--medium-size);
    min-width: var(--medium-size);
  }
}

.is-large {
  &.wrapper,
  .avatar {
    height: var(--large-size);
    width: var(--large-size);
  }

  .initials {
    font-size: 18px;
  }

  .children {
    bottom: 75%;
    left: 75%;
  }

  .overflow {
    border-radius: var(--large-size);
    font-size: calc(1.8 * var(--unit));
    height: var(--large-size);
    min-width: var(--large-size);
  }
}

.is-hero {
  &.wrapper,
  .avatar {
    height: var(--hero-size);
    width: var(--hero-size);
  }

  .initials {
    font-size: 36px;
  }

  .children {
    bottom: 76%;
    left: 76%;
  }

  .overflow {
    border-radius: var(--hero-size);
    font-size: calc(3.6 * var(--unit));
    height: var(--hero-size);
    min-width: var(--hero-size);
  }
}

.is-circle {
  .avatar,
  .overlay {
    border-radius: var(--shape-circle-image-border-radius);
  }
}

.is-rounded {
  .avatar {
    border-radius: var(--shape-rounded-image-border-radius);
  }

  .overlay {
    .default-height {
      border-radius: 0 0 var(--shape-rounded-image-border-radius) var(--shape-rounded-image-border-radius);
    }

    .full-height {
      border-radius: var(--shape-rounded-image-border-radius);
    }
  }
}

.is-selectable {
  cursor: pointer;
}

.is-selectable {
  &:not(.is-hero):hover {
    .avatar {
      box-shadow: 0 0 0 3px var(--color-aqua-light);
    }
  }

  &.is-hero:hover {
    .avatar {
      box-shadow: 0 0 0 6px var(--color-aqua-light);
    }
  }
}

.is-selected {
  &:not(.is-hero) {
    .avatar {
      box-shadow: 0 0 0 3px var(--color-aqua-dark) !important;
    }
  }

  &.is-hero {
    .avatar {
      box-shadow: 0 0 0 6px var(--color-aqua-dark) !important;
    }
  }
}
