:root {
  --tooltip-arrow-size: calc(0.8 * var(--unit));
  --tooltip-arrow-position-correction: calc(0.45 * var(--unit));
  --tooltip-margin: calc(0.8 * var(--unit));
  --tooltip-border-radius: calc(0.4 * var(--unit));
  --tooltip-border-width: 1px;
  --tooltip-animation-duration: 200ms;
}

.tooltip-content {
  border-radius: var(--tooltip-border-radius);
  display: block;
  will-change: transform, opacity;
  pointer-events: none;
  color: var(--tooltip-text-color);
  animation-duration: var(--tooltip-animation-duration);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: animateTooltip;
  will-change: transform, opacity;
  transform-origin: var(--radix-tooltip-content-transform-origin);

  .inner {
    border: var(--tooltip-border-width) solid hsl(var(--color-teal-dark-hsl) / 20%);
    border-radius: var(--tooltip-border-radius);
    background: var(--tooltip-background-color);
    display: flex;
    align-items: center;
  }

  .text {
    flex: 1;
    max-width: var(--tooltip-max-width);
  }

  .icon {
    display: inline-block;
    margin-right: var(--spacer-smaller);
    vertical-align: middle;
  }
}

.arrow {
  border-color: hsl(var(--color-teal-dark-hsl) / 20%);
  border-style: solid;
  height: var(--tooltip-arrow-size);
  position: absolute;
  width: var(--tooltip-arrow-size);
  transform: rotate(45deg);
  background-color: var(--tooltip-background-color);
  border-width: 0 var(--tooltip-border-width) var(--tooltip-border-width) 0;
  left: calc(50% - (var(--tooltip-arrow-size) + var(--tooltip-border-width) * 2) / 2);
  top: calc(100% - var(--tooltip-arrow-position-correction));
}

.tooltip-content {
  svg {
    -ms-transform: translateY(-1px);
  }
}

.aqua {
  --tooltip-text-color: var(--color-aqua-darkest);
  --tooltip-background-color: var(--color-aqua-light);
}

.gold {
  --tooltip-text-color: var(--color-gold-darkest);
  --tooltip-background-color: var(--color-gold-light);
}

.inverse {
  --tooltip-text-color: var(--color-teal-light);
  --tooltip-background-color: var(--color-teal-darkest);
}

.neutral {
  --tooltip-text-color: var(--color-teal-darkest);
  --tooltip-background-color: var(--color-neutral-light);
}

.mint {
  --tooltip-text-color: var(--color-mint-darkest);
  --tooltip-background-color: var(--color-mint-light);
}

.ruby {
  --tooltip-text-color: var(--color-ruby-darkest);
  --tooltip-background-color: var(--color-ruby-light);
}

.violet {
  --tooltip-text-color: var(--color-violet-darkest);
  --tooltip-background-color: var(--color-violet-light);
}

.white {
  --tooltip-text-color: var(--color-teal-darkest);
  --tooltip-background-color: var(--color-white);
}

.small {
  --tooltip-max-width: calc(18 * var(--unit));
}

.medium {
  --tooltip-max-width: calc(24 * var(--unit));
}

.large {
 --tooltip-max-width: calc(36 * var(--unit));
}

@keyframes animateTooltip {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

