:root {
  --tooltip-arrow-size: calc(0.8 * var(--unit));
  --tooltip-arrow-position-correction: calc(0.45 * var(--unit));
  --tooltip-margin: calc(0.8 * var(--unit));
  --tooltip-border-radius: calc(0.4 * var(--unit));
  --tooltip-border-width: 1px;
  --tooltip-small-max-width: calc(18 * var(--unit));
  --tooltip-medium-max-width: calc(24 * var(--unit));
  --tooltip-large-max-width: calc(36 * var(--unit));
  --tooltip-animation-duration: 200ms;
}

.tooltip {
  svg {
    -ms-transform: translateY(-1px);
  }
}

.tooltip {
  display: block;
  pointer-events: none;
  position: absolute;
  text-align: left;
  transform-origin: top left;
  transition: cubic-bezier(0.4, 0, 0.2, 1) var(--tooltip-animation-duration) transform;

  &::after {
    content: '';
    border-color: hsl(var(--color-teal-dark-hsl) / 20%);
    border-style: solid;
    height: var(--tooltip-arrow-size);
    position: absolute;
    width: var(--tooltip-arrow-size);
    transform: rotate(45deg);
  }

  &.bottom {
    margin-top: var(--tooltip-arrow-size);

    &.is-exiting,
    &.is-entering {
      transform: scale(0) translateX(-50%);
    }

    &.is-entered {
      transform: scale(1) translateX(-50%);
    }

    &::after {
      border-width: var(--tooltip-border-width) 0 0 var(--tooltip-border-width);
      bottom: calc(100% - var(--tooltip-arrow-position-correction));
      left: calc(50% - (var(--tooltip-arrow-size) + var(--tooltip-border-width) * 2) / 2);
    }
  }

  &.top {
    margin-top: calc(-1 * var(--tooltip-arrow-size));

    &.is-exiting,
    &.is-entering {
      transform: scale(0) translateX(-50%) translateY(-100%);
    }

    &.is-entered {
      transform: scale(1) translateX(-50%) translateY(-100%);
    }

    &::after {
      border-width: 0 var(--tooltip-border-width) var(--tooltip-border-width) 0;
      left: calc(50% - (var(--tooltip-arrow-size) + var(--tooltip-border-width) * 2) / 2);
      top: calc(100% - var(--tooltip-arrow-position-correction));
    }
  }

  &.left {
    margin-left: calc(-1 * var(--tooltip-arrow-size));

    &.is-exiting,
    &.is-entering {
      transform: scale(0) translateX(-100%) translateY(-50%);
    }

    &.is-entered {
      transform: scale(1) translateX(-100%) translateY(-50%);
    }

    &::after {
      border-width: var(--tooltip-border-width) var(--tooltip-border-width) 0 0;
      left: calc(100% - var(--tooltip-arrow-position-correction));
      top: calc(50% - (var(--tooltip-arrow-size) + var(--tooltip-border-width) * 2) / 2);
    }
  }

  &.right {
    margin-left: var(--tooltip-arrow-size);

    &.is-exiting,
    &.is-entering {
      transform: scale(0) translateX(0) translateY(-50%);
    }

    &.is-entered {
      transform: scale(1) translateX(0) translateY(-50%);
    }

    &::after {
      border-width: 0 0 var(--tooltip-border-width) var(--tooltip-border-width);
      right: calc(100% - var(--tooltip-arrow-position-correction));
      top: calc(50% - (var(--tooltip-arrow-size) + var(--tooltip-border-width) * 2) / 2);
    }
  }
}

.inner {
  border: var(--tooltip-border-width) solid hsl(var(--color-teal-dark-hsl) / 20%);
  border-radius: var(--tooltip-border-radius);
  display: block;
}

.icon {
  display: inline-block;
  margin-right: var(--spacer-smaller);
  vertical-align: middle;
}

.text {
  display: inline-block;
  vertical-align: middle;
}

.small .text {
  max-width: var(--tooltip-small-max-width);
}

.medium .text {
  max-width: var(--tooltip-medium-max-width);
}

.large .text {
  max-width: var(--tooltip-large-max-width);
}

.aqua {
  color: var(--color-aqua-darkest);

  &::after,
  .inner {
    background: var(--color-aqua-light);
  }
}

.gold {
  color: var(--color-gold-darkest);

  &::after,
  .inner {
    background: var(--color-gold-light);
  }
}

.inverse {
  color: var(--color-teal-light);

  &::after,
  .inner {
    background: var(--color-teal-darkest);
  }
}

.neutral {
  color: var(--color-teal-darkest);

  &::after,
  .inner {
    background: var(--color-neutral-light);
  }
}

.mint {
  color: var(--color-mint-darkest);

  &::after,
  .inner {
    background: var(--color-mint-light);
  }
}

.ruby {
  color: var(--color-ruby-darkest);

  &::after,
  .inner {
    background: var(--color-ruby-light);
  }
}

.violet {
  color: var(--color-violet-darkest);

  &::after,
  .inner {
    background: var(--color-violet-light);
  }
}

.white {
  color: var(--color-teal-darkest);

  &::after,
  .inner {
    background: var(--color-white);
  }
}
