:root {
  --toggle-border-width: 1px;

  --toggle-track-height-small: 18px;
  --toggle-track-width-small: 30px;
  --toggle-thumb-width-small: 12px;

  --toggle-track-height-medium: 24px;
  --toggle-track-width-medium: 42px;
  --toggle-thumb-width-medium: 18px;

  --toggle-track-height-large: 30px;
  --toggle-track-width-large: 54px;
  --toggle-thumb-width-large: 24px;

  --toggle-track-padding: 2px;
}

.toggle {
  align-items: flex-start;
  display: inline-flex;
  user-select: none;
  /* Fix for whitespace below, caused be inline-flex */
  vertical-align: top;

  .input {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 0;
    position: absolute;
  }

  .label {
    margin: 0 0 0 var(--spacer-small);
    display: flex;
  }

  .track {
    box-sizing: border-box;
    background: var(--color-neutral-light);
    border: var(--toggle-border-width) solid var(--color-neutral-dark);
    position: relative;
    display: inline-block;
    padding: var(--toggle-track-padding);
    cursor: pointer;
    transition: all calc(var(--animation-duration) / 2) var(--animation-curve-default);
  }

  .thumb {
    box-sizing: border-box;
    background: var(--color-neutral-lightest);
    border: var(--toggle-border-width) solid var(--color-neutral-dark);
    display: block;
    position: absolute;
    transition: all calc(var(--animation-duration) / 2) var(--animation-curve-default);
  }

  &:hover {
    .track {
      background-color: var(--color-neutral);
      border-color: var(--color-neutral-darkest);
    }
  }

  &.is-checked {
    .track {
      background: var(--color-mint);
      border-color: var(--color-mint-dark);
    }

    .thumb {
      border-color: var(--color-mint-dark);
    }

    &:hover .track {
      background: var(--color-mint-dark);
      border-color: var(--color-mint-darkest);
    }

    input:focus-visible + .track {
      box-shadow: 0 0 0 1px var(--color-mint-darkest);
      border-color: var(--color-mint-darkest);
    }

    input:active + .track {
      box-shadow: 0 1px 3px 0 var(--color-mint-darkest);
    }
  }

  &.is-disabled {
    pointer-events: none;

    .track {
      background: var(--color-neutral);
      border-color: transparent;
    }

    .thumb {
      background: var(--color-neutral-light);
      border-color: transparent;
    }

    &.is-checked {
      .track {
        background: var(--color-mint-lightest);
      }

      .thumb {
        background: var(--color-neutral-lightest);
      }
    }
  }

  &.label-on-left {
    flex-direction: row-reverse;
    .label {
      margin: 0 var(--spacer-small) 0 0;
    }
  }

  &.is-full-width {
    justify-content: space-between;
    width: 100%;
  }

  input:focus-visible + .track {
    border-color: var(--color-neutral-darkest);
    box-shadow: 0 0 0 1px var(--color-neutral-darkest);
  }

  input:active + .track {
    box-shadow: 0 1px 3px 0 var(--color-neutral-darkest);
  }

  &.is-small {
    .track {
      flex: 0 0 var(--toggle-track-width-small);
      width: var(--toggle-track-width-small);
      height: var(--toggle-track-height-small);
      border-radius: var(--toggle-track-height-small);
    }

    .thumb {
      width: var(--toggle-thumb-width-small);
      height: var(--toggle-thumb-width-small);
      border-radius: var(--toggle-thumb-width-small);
    }

    &.is-checked {
      .thumb {
        transform: translateX(
          calc(
            var(--toggle-track-width-small) - var(--toggle-thumb-width-small) - calc(2 * var(--toggle-border-width)) -
              calc(2 * var(--toggle-track-padding))
          )
        );
      }
    }
  }

  &.is-medium {
    .label {
      padding-top: var(--spacer-smallest);
    }

    .track {
      flex: 0 0 var(--toggle-track-width-medium);
      width: var(--toggle-track-width-medium);
      height: var(--toggle-track-height-medium);
      border-radius: var(--toggle-track-height-medium);
    }

    .thumb {
      width: var(--toggle-thumb-width-medium);
      height: var(--toggle-thumb-width-medium);
      border-radius: var(--toggle-thumb-width-medium);
    }

    &.is-checked {
      .thumb {
        transform: translateX(
          calc(
            var(--toggle-track-width-medium) - var(--toggle-thumb-width-medium) - calc(2 * var(--toggle-border-width)) -
              calc(2 * var(--toggle-track-padding))
          )
        );
      }
    }
  }

  &.is-large {
    .label {
      padding-top: var(--spacer-smallest);
    }

    .track {
      flex: 0 0 var(--toggle-track-width-large);
      width: var(--toggle-track-width-large);
      height: var(--toggle-track-height-large);
      border-radius: var(--toggle-track-height-large);
    }

    .thumb {
      width: var(--toggle-thumb-width-large);
      height: var(--toggle-thumb-width-large);
      border-radius: var(--toggle-thumb-width-large);
    }

    &.is-checked {
      .thumb {
        transform: translateX(
          calc(
            var(--toggle-track-width-large) - var(--toggle-thumb-width-large) - calc(2 * var(--toggle-border-width)) -
              calc(2 * var(--toggle-track-padding))
          )
        );
      }
    }
  }
}
