@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';

.icon-button {
  background-color: transparent;
  border: 0;

  &.is-disabled {
    cursor: auto;
    opacity: 0.48;
    pointer-events: none;
  }

  &:not(.is-disabled) {
    &:hover {
      background-color: hsl(var(--color-neutral-darkest-hsl), 18%);
    }

    &:focus {
      box-shadow: 0 0 0 2px hsl(var(--color-neutral-darkest-hsl), 24%);
    }

    &:active {
      box-shadow: inset 0 2px 3px hsl(var(--color-neutral-darkest-hsl), 12%);
      background-color: hsl(var(--color-neutral-darkest-hsl), 18%);
    }
  }

  &.is-selected {
    background-color: hsl(var(--color-neutral-darkest-hsl), 24%) !important;
  }

  &.is-processing {
    position: relative;
    pointer-events: none;
  }
}

.is-small {
  height: calc(1.8 * var(--unit));
  min-width: calc(1.8 * var(--unit));
}

.is-medium {
  height: calc(3 * var(--unit));
  min-width: calc(3 * var(--unit));
}

.is-large {
  height: calc(3.6 * var(--unit));
  min-width: calc(3.6 * var(--unit));
}
