@import '@teamleader/ui-colors';

.title-tab {
  color: var(--color-neutral-darkest);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  user-select: none;
  position: relative;
  text-decoration: none;
  background-color: var(--color-neutral-lightest);
  border: none;
  border-radius: 0;

  &:hover {
    background-color: color(var(--color-neutral-darkest) a(24%));
    cursor: pointer;
  }

  &:focus {
    background-color: color(var(--color-neutral-darkest) a(12%));
    box-shadow: 0 0 0 2px color(var(--color-neutral-darkest) a(24%));
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    color: var(--color-teal-darkest);
    box-shadow: inset 0px -3px 0px 0px var(--color-mint);
    height: 3px;
    width: 100%;
    bottom: 0;
    transition: transform var(--animation-duration) var(--animation-curve-fast-out-slow-in);
    transform: scale(0, 1);
  }
}

.is-active {
  &.title-tab {
    color: var(--color-teal-darkest);
  }
  &::after {
    transform: scale(1, 1);
  }
}

.inverted {
  .title-tab {
    background-color: var(--color-teal-darkest);
    color: var(--color-teal-light);

    &:focus {
      background-color: transparent;
    }

    &:hover {
      background-color: color(var(--color-neutral-darkest) a(24%));
    }
  }
  .is-active.title-tab {
    color: var(--color-neutral-lightest);
  }
}
