@import '@teamleader/ui-colors';
@import '@teamleader/ui-animations';

.title-tab,
.icon-tab {
  color: var(--color-neutral-darkest);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  user-select: none;
  position: relative;
  text-decoration: none;
  background-color: var(--color-neutral-lightest);
  border: none;
  border-radius: 0;

  &:focus {
    box-shadow: 0 0 0 2px var(--color-neutral);

    .counter {
      box-shadow: 0 0 0 2px var(--color-neutral-light);
    }
  }

  &:hover {
    background-color: var(--color-neutral);
    cursor: pointer;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    box-shadow: inset 0px -3px 0px 0px var(--color-mint);
    height: 3px;
    width: 100%;
    bottom: 0;
    transition: transform var(--animation-duration) var(--animation-curve-fast-out-slow-in);
    transform: scale(0, 1);
  }
}

.counter {
  position: absolute;
  left: 54%;
  top: 10%;
  box-shadow: 0 0 0 2px var(--color-neutral-lightest);
  user-select: none;
}

.icon-tab {
  &:hover {
    .counter {
      box-shadow: 0 0 0 2px var(--color-neutral);
    }
  }
}

.is-active {

  &.title-tab,
  &.icon-tab {
    color: var(--color-teal-darkest);
  }

  &::after {
    transform: scale(1, 1);
  }
}

.inverted {

  .is-active.title-tab,
  .is-active.icon-tab {
    color: var(--color-neutral-lightest);

    .counter {
      box-shadow: 0 0 0 2px var(--color-teal-darkest);
    }
  }

  .title-tab,
  .icon-tab {
    background-color: var(--color-teal-darkest);
    color: var(--color-teal-light);

    &:focus {
      background-color: transparent;
      box-shadow: 0 0 0 2px var(--color-teal-dark);

      .counter {
        box-shadow: 0 0 0 2px var(--color-teal-darkest);
      }
    }

    &:hover {
      background-color: var(--color-teal-dark);

      .counter {
        box-shadow: 0 0 0 2px var(--color-teal-dark);
      }
    }
  }

  .counter {
    box-shadow: 0 0 0 2px var(--color-teal-darkest);
  }
}
