@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';

.loading-bar {
  width: 100%;
  height: 3px;

  overflow: hidden;

  &-indicator {
    width: 20%;
    height: 100%;

    position: relative;
    left: -25%;

    border-radius: 4px;

    animation: slideOut calc(var(--animation-duration) * 5) ease infinite;
  }
}

.is-neutral {
  background-color: var(--color-neutral-lightest);

  & .loading-bar-indicator {
    background-color: var(--color-neutral);
  }
}

.is-mint {
  background-color: var(--color-mint-lightest);

  & .loading-bar-indicator {
    background-color: var(--color-mint);
  }
}

.is-violet {
  background-color: var(--color-violet-lightest);

  & .loading-bar-indicator {
    background-color: var(--color-violet);
  }
}

.is-ruby {
  background-color: var(--color-ruby-lightest);

  & .loading-bar-indicator {
    background-color: var(--color-ruby);
  }
}

.is-gold {
  background-color: var(--color-gold-lightest);

  & .loading-bar-indicator {
    background-color: var(--color-gold);
  }
}

.is-aqua {
  background-color: var(--color-aqua-lightest);

  & .loading-bar-indicator {
    background-color: var(--color-aqua);
  }
}

.is-teal {
  background-color: var(--color-teal-lightest);

  & .loading-bar-indicator {
    background-color: var(--color-teal);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(650%);
  }
}
