@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';

.loading-bar {
  width: 100%;
  height: 3px;

  background-color: var(--color-mint-lightest);

  overflow: hidden;

  &-indicator {
    fill: var(--color-mint);
    animation: slideOut calc(var(--animation-duration) * 5) ease infinite;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(130%);
  }
}
