@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';

.loading-bar {
  width: 100%;
  height: 3px;

  background-color: var(--color-mint-lightest);

  overflow: hidden;

  &-indicator {
    background-color: var(--color-mint);

    width: 20%;
    height: 100%;

    position: relative;
    left: -25%;

    border-radius: 4px;

    animation: slideOut calc(var(--animation-duration) * 5) ease infinite;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(650%);
  }
}
