@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';
@import '@teamleader/ui-animations';

:root {
  --tip-width: 42px;
}

.container {
  position: relative;
  overflow: hidden;
  pointer-events: none;
}

.qtip {
  composes: reset;
  display: flex;
  align-items: stretch;
  position: relative;
  border-right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all var(--animation-duration) var(--animation-curve-default);
  pointer-events: all;

  .is-closed & {
    transform: translateX(100%) translateX(calc(-1 * var(--tip-width) + 1px)); /* split into 2 separete translate, otherwise IE can't handle it */
  }
}

.icon {
  flex-shrink: 0;
  color: var(--color-neutral-darkest);
  border-radius: 4px 0 0 4px;
  width: var(--tip-width);
  min-height: 48px;
  height: auto;
}

.inner-container {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--color-neutral-lightest);
  border-top: 1px solid var(--color-neutral-dark);
  border-bottom: 1px solid var(--color-neutral-dark);
}

.content {
  flex: 1;
  padding: var(--spacer-small) var(--spacer-regular);
}

.close-button {
  margin-right: var(--spacer-regular);
}

.is-highlighted .icon {
  color: var(--color-white);
}
