/**
 * Variables
 */
:root {
  --wysiwyg-input-text-size: calc(1.4 * var(--unit));
  --wysiwyg-input-border-radius: calc(0.4 * var(--unit));
  --wysiwyg-input-error-border: var(--color-ruby-dark);
  --wysiwyg-input-success-border: var(--color-mint-dark);
  --wysiwyg-input-warning-border: var(--color-gold-dark);
  --wysiwyg-input-min-height: calc(9.3 * var(--unit));
  --wysiwyg-input-spacing: calc(0.5 * var(--unit));
  --wysiwyg-toolbar-height: 43px;
}

/**
 * Components
 */
.input {
  height: calc(100% - var(--wysiwyg-toolbar-height) - 2 * var(--wysiwyg-input-spacing));
  overflow: auto;
  min-height: var(--wysiwyg-input-min-height);
  margin: var(--wysiwyg-input-spacing);
  resize: vertical;
  font-size: var(--wysiwyg-input-text-size);
  font-family: var(--font-family-inter);
  font-weight: 400;

  &:hover {
    cursor: text;
  }
}

.wrapper {
  width: 100%;
  border-radius: var(--wysiwyg-input-border-radius);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-size-adjust: 100%;

  :global(.DraftEditor-root) {
    position: relative;
  }

  &:not(.has-placeholder) :global(.public-DraftEditorPlaceholder-root) {
    display: none;
  }

  :global(.public-DraftEditorPlaceholder-root) {
    position: absolute;
    color: var(--color-neutral-darkest);
    pointer-events: none;
  }

  :global(.public-DraftEditorPlaceholder-hasFocus) {
    color: var(--color-neutral-dark);
  }

  :global(.public-DraftStyleDefault-block) {
    margin: 1em 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  & ul,
  ol {
    margin: 0;
    padding-left: 12px;
  }

  & ol > li,
  & ul > li {
    margin-left: 12px;

    & > :global(.public-DraftStyleDefault-block) {
      margin: 0.5em 0;
    }
  }
}

.toolbar {
  background-color: var(--color-neutral-light);
  border-bottom: solid 1px var(--color-neutral);
  border-radius: var(--wysiwyg-input-border-radius) var(--wysiwyg-input-border-radius) 0 0;
  display: flex;
  padding: calc(0.6 * var(--unit));
}

/*
  Default styling
*/

.wrapper {
  border: 1px solid var(--color-neutral-dark);
  background-color: var(--color-white);
}

/* Hover state */
.wrapper:hover {
  border-color: var(--color-neutral-darkest);
}

/* Focus state */
.wrapper.has-focus {
  z-index: 1;
}

.wrapper.has-focus {
  border-color: var(--color-neutral-darkest);
  box-shadow: 0 0 0 1px var(--color-neutral-darkest);
}

/**
 * Modifiers
 */
.wrapper.has-success {
  border-color: var(--wysiwyg-input-success-border);
  box-shadow: 0 0 0 1px var(--wysiwyg-input-success-border);
  z-index: 2;
}

.wrapper.has-warning {
  border-color: var(--wysiwyg-input-warning-border);
  box-shadow: 0 0 0 1px var(--wysiwyg-input-warning-border);
  z-index: 2;
}

.wrapper.has-error {
  border-color: var(--wysiwyg-input-error-border);
  box-shadow: 0 0 0 1px var(--wysiwyg-input-error-border);
  z-index: 2;
}
