@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';
@import '@teamleader/ui-utilities';

.link {
  cursor: pointer;
  background: transparent;
  border: 0;
  font-size: 100%;
  padding: 0;

  svg {
    transform: translate3d(0, -1px, 0);
  }

  * + svg,
  svg + * {
    margin-left: var(--spacer-smaller);
  }

  &.is-disabled {
    opacity: 0.36;
    pointer-events: none;
  }

  &:active {
    outline: 0;
  }

  &:not(.is-inherit) {
    color: var(--color-aqua-dark);
    font-family: var(--font-family-regular);
  }

  &.is-inherit {
    color: inherit;

    &:hover,
    &:active {
      color: inherit;
    }
  }

  &:not(.is-inherit),
  &.has-icon {
    &:not(.is-inverse) {
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
    &.is-inverse {
      text-decoration: underline;

      &:hover,
      &:active {
        text-decoration: none;
      }
    }
  }

  &.is-inherit:not(.has-icon) {
    &:not(.is-inverse) {
      text-decoration: underline;

      &:hover,
      &:active {
        text-decoration: none;
      }
    }

    &.is-inverse {
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
}
