@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';
@import '@teamleader/ui-typography';
@import '@teamleader/ui-utilities';

.link {
  cursor: pointer;
  background: transparent;
  border: 0;
  font-size: 100%;
  padding: 0;

  svg {
    transform: translate3d(0, -1px, 0);
  }

  * + svg,
  svg + * {
    margin-left: var(--spacer-smaller);
  }

  &.is-disabled {
    opacity: 0.48;
    pointer-events: none;
  }

  &:focus {
    outline: var(--color-aqua-dark) auto 3px;
  }

  &:active {
    outline: 0;
  }

  &:not(.is-inherit) {
    color: var(--color-aqua-dark);
    font-family: var(--font-family-regular);
  }

  &.is-inherit {
    color: inherit;

    &:hover,
    &:active {
      color: inherit;
    }
  }

  &:not(.is-inherit),
  &.has-icon {
    &:not(.is-inverse) {
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
    &.is-inverse {
      text-decoration: underline;

      &:hover,
      &:active {
        text-decoration: none;
      }
    }
  }

  &.is-inherit:not(.has-icon) {
    &:not(.is-inverse) {
      text-decoration: underline;

      &:hover,
      &:active {
        text-decoration: none;
      }
    }

    &.is-inverse {
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
}

.is-badged {
  border-radius: var(--border-radius-medium);
  padding: var(--spacer-smallest) var(--spacer-smaller);
  transition: background-color var(--animation-duration) var(--animation-curve-fast-out-slow-in),
    box-shadow var(--animation-duration) var(--animation-curve-fast-out-slow-in);

  &:hover,
  &:focus {
    text-decoration: none !important;
  }

  &:hover {
    background: color(var(--color-neutral-darkest) a(18%));
  }

  &:focus {
    background-color: color(var(--color-teal-darkest) a(6%));
    box-shadow: 0 0 0 2px color(var(--color-neutral-darkest) a(24%));
    outline: 0;
  }

  &:active {
    box-shadow: inset 0 1px 3px 0 color(var(--color-teal-darkest) a(12%));
  }
}
