.banner {
  border: 1px solid;

  &_full-width {
    border: 0px solid;
    border-bottom-width: 1px;
  }
}

.icon {
  margin-right: var(--spacer-small);
  display: flex;
}

.inner {
  display: flex;
  align-items: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: -3px;
  right: -3px;
}

.white {
  background-color: var(--color-white);
  border-color: var(--color-neutral);
  color: var(--color-teal-darkest);
}

.neutral {
  background-color: var(--color-neutral-light);
  border-color: var(--color-neutral);
  color: var(--color-teal-darkest);
}

.mint {
  background-color: var(--color-mint-lightest);
  border-color: var(--color-mint);
  color: var(--color-mint-darkest);
}

.violet {
  background-color: var(--color-violet-lightest);
  border-color: var(--color-violet);
  color: var(--color-violet-darkest);
}

.ruby {
  background-color: var(--color-ruby-lightest);
  border-color: var(--color-ruby);
  color: var(--color-ruby-darkest);
}

.gold {
  background-color: var(--color-gold-lightest);
  border-color: var(--color-gold);
  color: var(--color-gold-darkest);
}

.aqua {
  background-color: var(--color-aqua-lightest);
  border-color: var(--color-aqua);
  color: var(--color-aqua-darkest);
}
