@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';

.icon {
  margin-right: var(--spacer-small);
  display: flex;
}

.inner {
  display: flex;
  align-items: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: -3px;
  right: -3px;
}
