@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';

.message {
  display: flex;
  align-items: center;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.is-image-left {
  .image {
    margin-right: var(--spacer-regular);
  }
}

.is-image-right {
  flex-direction: row-reverse;

  .image {
    margin-left: var(--spacer-regular);
  }
}

.is-image-center {
  flex-direction: column;
  text-align: center;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;

  .image {
    margin-bottom: var(--spacer-regular);
  }
}
