@import '@teamleader/ui-animations';
@import '@teamleader/ui-colors';
@import '@teamleader/ui-utilities';
@import '@teamleader/ui-typography';

:root {
  --menu-expand-duration: 0.3s;
  --menu-fade-duration: 0.2s;
  --menu-background-color: var(--color-white);
  --menu-padding: calc(0.8 * var(--unit)) 0;
  --menu-outline-border-radius: calc(0.2 * var(--unit));
  --menu-item-hover-background: var(--color-neutral-light);
  --menu-item-selected-background: transparent;
  --menu-item-icon-font-size: calc(1.4 * var(--unit));
  --menu-item-icon-size: calc(1.6 * var(--menu-item-icon-font-size));
  --menu-item-height: calc(2.8 * var(--unit));
  --menu-item-padding: calc(1.6 * var(--unit));
  --menu-item-font-size: calc(1.6 * var(--unit));
  --menu-divider-height: calc((2.8 / 4) * var(--unit));
  --menu-icon-size: calc(2.3 * var(--unit));
}

.icon-menu {
  display: inline-block;
  position: relative;
  text-align: center;

  & .icon {
    cursor: pointer;
  }
}

.menu {
  composes: reset;
  display: inline-block;
  font-family: var(--font-family-regular);
  position: relative;

  &.top-left {
    left: 0;
    position: absolute;
    top: 0;

    & > .outline {
      transform-origin: 0 0;
    }
  }

  &.top-right {
    position: absolute;
    right: 0;
    top: 0;

    & > .outline {
      transform-origin: 100% 0;
    }
  }

  &.bottom-left {
    bottom: 0;
    left: 0;
    position: absolute;

    & > .outline {
      transform-origin: 0 100%;
    }
  }

  &.bottom-right {
    bottom: 0;
    position: absolute;
    right: 0;

    & > .outline {
      transform-origin: 100% 100%;
    }
  }

  &:not(.static) {
    pointer-events: none;
    z-index: var(--z-index-higher);

    & > .outline {
      opacity: 0;
      transform: scale(0);
      transition:
        transform var(--menu-expand-duration) var(--animation-curve-default),
        opacity var(--menu-fade-duration) var(--animation-curve-default);
      will-change: transform;
    }

    & > .menu-inner {
      left: 0;
      margin: 0;
      opacity: 0;
      position: absolute;
      top: 0;
    }

    &.active {
      pointer-events: all;

      & > .outline {
        opacity: 1;
        transform: scale(1);
      }

      & > .menu-inner {
        opacity: 1;
        transition:
          opacity var(--menu-fade-duration) var(--animation-curve-default),
          clip var(--menu-expand-duration) var(--animation-curve-default);
      }
    }
  }
}

.outline {
  background-color: var(--menu-background-color);
  border-radius: var(--menu-outline-border-radius);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}

.menu-inner {
  display: block;
  list-style: none;
  margin: 0;
  padding: var(--menu-padding);
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.menu-item {
  align-items: center;
  color: var(--color-teal-dark);
  display: flex;
  font-size: var(--menu-item-font-size);
  height: var(--menu-item-height);
  overflow: hidden;
  padding: 0 var(--menu-item-padding);
  position: relative;

  &:not(.disabled):hover {
    background-color: var(--menu-item-hover-background);
    cursor: pointer;
  }

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

  &.selected {
    background-color: var(--menu-item-selected-background);
    font-weight: 500;
  }

  .icon {
    margin-right: var(--spacer-small);
  }

  svg {
    -ms-transform: translateY(-1px);
  }
}

.caption {
  flex-grow: 1;
  font-size: calc(1.4 * var(--unit))
}

.shortcut {
  margin-left: var(--menu-item-padding);
}

.divider {
  background-color: var(--color-neutral-light);
  border: 0;
  display: block;
  height: 1px;
  margin: var(--menu-divider-height) 0;
  outline: 0;
  padding: 0;
  width: 100%;
}
