:root {
  --button-border-radius: calc(0.4 * var(--unit));
  --button-margin: calc(0.6 * var(--unit));
}

.button-base {
  align-items: center;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  letter-spacing: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color var(--animation-duration) var(--animation-curve-fast-out-slow-in),
    border-color var(--animation-duration) var(--animation-curve-fast-out-slow-in),
    color var(--animation-duration) var(--animation-curve-fast-out-slow-in),
    opacity var(--animation-duration) var(--animation-curve-fast-out-slow-in);
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;

  & > * {
    pointer-events: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

.button {
  height: calc(3.6 * var(--unit));
  min-width: calc(3.6 * var(--unit));
  max-width: 100%;
  padding: 0 calc(1.2 * var(--unit));
  color: var(--color-teal-darkest);
  background-color: var(--color-neutral-light);
  border: 1px solid var(--color-neutral-dark);

  &:hover {
    z-index: 1;
    text-decoration: none;
    background-color: var(--color-neutral);
    border: 1px solid var(--color-neutral-darkest);
  }

  &:focus-visible {
    background-color: var(--color-neutral-light);
    border: 1px solid var(--color-neutral-darkest);
    box-shadow: 0 0 0 1px var(--color-neutral-darkest);
  }

  &:active {
    background-color: var(--color-neutral);
  }

  &.is-active {
    pointer-events: none;
    background-color: var(--color-marketing-violet);
    border: 1px solid var(--color-marketing-violet);
    color: var(--color-neutral-lightest);
  }

  &:active,
  &.is-active {
    box-shadow: none !important;
  }
}

.group {
  display: flex;
  align-items: center;
  min-width: 0;

  > * {
    border-radius: 0;
    margin-left: -1px;
    margin-right: 0;
  }

  > *:first-child {
    margin-left: 0;
  }

  > *:first-child:not(:only-child) {
    border-radius: var(--button-border-radius) 0 0 var(--button-border-radius);
    margin-left: 0;
  }

  > *:last-child {
    margin-right: 0;
  }

  > *:last-child:not(:only-child) {
    border-radius: 0 var(--button-border-radius) var(--button-border-radius) 0;
  }

  > *:only-child {
    border-radius: var(--button-border-radius);
  }
}
