.badged-link {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: 0;
  font-size: 100%;
  border-radius: var(--border-radius-medium);
  padding: var(--spacer-smallest) var(--spacer-smaller);
  margin: calc(-1 * var(--spacer-smallest)) calc(-1 * var(--spacer-smaller));
  transition: background-color var(--animation-duration) var(--animation-curve-fast-out-slow-in),
    box-shadow var(--animation-duration) var(--animation-curve-fast-out-slow-in);
  text-decoration: none !important;

  &:hover {
    background: hsl(var(--color-neutral-darkest-hsl), 18%);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px hsl(var(--color-neutral-darkest-hsl), 24%);
    outline: 0;
  }

  &:active {
    box-shadow: inset 0 2px 3px hsl(var(--color-neutral-darkest-hsl), 12%);
    background-color: hsl(var(--color-neutral-darkest-hsl), 18%);
    outline: 0;
  }

  &.is-selected {
    background-color: hsl(var(--color-neutral-darkest-hsl), 24%) !important;
  }

  &.is-left-icon-placed :first-child {
    margin-right: var(--spacer-smaller);
  }

  &:not(.is-left-icon-placed) :last-child {
    margin-left: var(--spacer-smaller);
  }

  &.is-disabled {
    opacity: 0.48;
    pointer-events: none;
  }

  &:not(.is-inherit) {
    color: var(--color-aqua-dark);
    font-family: var(--font-family-inter);
    font-weight: 400;
  }

  &.is-inherit {
    color: inherit;

    &:hover,
    &:active {
      color: inherit;
    }
  }
}
